<dl>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.loadFileInx}}</dt>
  <dd id="tr1">
    <p>{{'master.file.load.file'|translate}}</p>
    <ul>
      <li>{{'hlp_load1'|translate}}</li>
      <li>{{'hlp_load2'|translate}}</li>
      <li>{{'hlp_load3'|translate}}</li>
    </ul>
    <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.loadFileInx}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr2}}</dt>
  <dd id="tr2">
    <p>{{'heading.master.file'|translate}}</p>
    <ul>
      <li>{{'hlp_master_file1'|translate}}</li>
      <li>{{'hlp_master_file2'|translate}}</li>
    </ul>
    <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr2}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <!--<dt><span class="wb-inv">{{'Instruction'|translate}} </span>3</dt>-->
  <!--<dd id="tr3a">-->
    <!--<p>{{'routing.id'|translate}}</p>-->
    <!--<p>The Routing Identifier is a unique identifier that the Food and Drug Administration Electronic Submission Gateway web trader interface uses to identify an account</p>-->
    <!--<p class="fn-rtn"><a href="#tr3a-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>3-->
      <!--<span class="wb-inv"> referrer</span></a></p>-->
  <!--</dd>-->
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr3}}</dt>
  <dd id="tr3">
    <p>{{'regulatory.contact.id'|translate}}</p>
    <p>{{'hlp_contactId' | translate}}</p>
    <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr3}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr2a}}</dt>
  <dd id="tr2a">
    <p>{{'section.show.option' | translate}}{{'device.class' |translate}}</p>
    <p>{{'hlp_deviceClass1' | translate}}<a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medical-devices/application-information/guidance-documents/guidance-document-guidance-risk-based-classification-system-non-vitro-diagnostic.html">
      {{'hlp_deviceClass2' | translate}}</a></p>
    <p class="fn-rtn"><a href="#tr2a-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr2a}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr2b}}</dt>
  <dd id="tr2b">
    <p>{{'section.show.option' | translate}}{{'application.number' |translate}}</p>
    <p>{{'hlp_appNumber' | translate}}</p>
    <p class="fn-rtn"><a href="#tr2b-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr2b}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr2c}}</dt>
  <dd id="tr2c">
    <p>{{'section.show.option' | translate}}{{'device.name' |translate}}</p>
    <p>{{'hlp_deviceName'|translate}}</p>
    <p class="fn-rtn"><a href="#tr2c-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr2c}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr4}}</dt>
  <dd id="tr4">
    <p>{{'licence.number' |translate}}</p>
    <ul>
      <li>{{'hlp_licenceNumber1'|translate}}</li>
      <li>{{'hlp_licenceNumber2'|translate}}</li>
    </ul>
    <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr4}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.tr5}}</dt>
  <dd id="tr5">
    <p>{{'has.ddt'|translate}}</p>
    <p>{{'hlp_deviceDetail'|translate}}</p>
    <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences.tr5}}
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
</dl>
