<div [formGroup]="declarationLocalModel">
  <section class="panel  panel-default">
    <header class="panel-heading clearfix">
      <h2 class="panel-title">{{'standards.list'|translate}}</h2>
    </header>
    <div class="panel-body">
      <div class="row form-group" *ngIf="isMandatory()">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend class="required">
            {{'conformity.declaration' |translate}}
            <strong class="required" aria-hidden="true"> {{'commmon.required.bracket' |translate}}</strong>
            <sup id="ap8-rf">
              <a class="fn-lnk" href="#ap8"><span
                  class="wb-inv">{{'instruction'|translate}}&#160;</span>{{helpTextSequences.cfmDecIndx}}</a>
            </sup>
            <control-messages *ngIf="declarationLocalModel.controls['declarationConformity'].invalid"
            [showError]="showFieldErrors"
            [control]="declarationLocalModel.controls['declarationConformity'] | formControl"
            controlId="declarationConformity" label="conformity.declaration"
            parentId="declarationCon"></control-messages>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="declarationConformity{{i}}" class="radio-inline">
              <input type="radio" id="declarationConformity{{i}}" name="declarationConformity" [value]="yesno.id"
                aria-required="true"
                [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
              {{yesno | textTransform: lang }}
            </label>
          </ng-container>
        </fieldset>
      </div>
      <div class="row form-group" *ngIf="isOptional()">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend>
            {{'conformity.declaration' |translate}}
            <sup id="ap8-rf">
              <a class="fn-lnk" href="#ap8"><span
                  class="wb-inv">{{'instruction'|translate}}&#160;</span>{{helpTextSequences.cfmDecIndx}}</a>
            </sup>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="declarationConformity" class="radio-inline">
              <input type="radio" id="declarationConformity" name="declarationConformity" [value]="yesno.id"
                aria-required="true"
                [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
              {{yesno | textTransform: lang }}
            </label>
          </ng-container>
        </fieldset>
      </div>
      <div class="row form-group" *ngIf="isMandatoryForClassII()">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend class="required">
            {{'conformity.declaration.medical.device.title.part1' |translate}}
            <a [href]="'declaration.instruct.link'|translate" target='_blank' aria-describedby='openNewWindowInstr'>{{'declaration.instruct.tite'|translate}}</a>
            {{'conformity.declaration.medical.device.title.part2' |translate}}
            <strong class="required" aria-hidden="true"> {{'commmon.required.bracket' |translate}}</strong>
             <control-messages *ngIf="declarationLocalModel.controls['declarationConformity'].invalid"
            [showError]="showFieldErrors"
            [control]="declarationLocalModel.controls['declarationConformity'] | formControl"
            controlId="declarationConformity" label="conformity.declaration"
            parentId="declarationCon"></control-messages>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="declarationConformity" class="radio-inline">
              <input type="radio" id="declarationConformity" name="declarationConformity" [value]="yesno.id"  required="required"
                aria-required="true"
                [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
              {{yesno | textTransform: lang }}
            </label>
          </ng-container>
        </fieldset>
      </div>


      <div *ngIf="isNoDeclaration()" class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-info" role="alert" *ngIf="isMandatoryForClassII() ">
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct1'|translate}}</p>
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct2'|translate}}</p>
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct3'|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>