<div [formGroup]="declarationLocalModel">
  <section class="panel  panel-default">
    <header class="panel-heading clearfix">
      <h2 class="panel-title">{{'standards.list'|translate}}</h2>
    </header>
    <div class="panel-body">
      <div *ngIf="isMandatory()" class="row">
        <div class="form-group col-xs-12">
          <label for="declarationConformity" class="required full-width">
            <span class="field-name">{{'conformity.declaration' |translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
            <sup id="ap8-rf">
              <a class="fn-lnk" href="#ap8"><span
                  class="wb-inv">{{'instruction'|translate}}&#160;</span>{{helpTextSequences.cfmDecIndx}}</a>
            </sup>
            <control-messages *ngIf="declarationLocalModel.controls['declarationConformity'].invalid"
              [showError]="showFieldErrors"
              [control]="declarationLocalModel.controls['declarationConformity'] | formControl"
              controlId="declarationConformity" label="conformity.declaration"
              parentId="declarationCon"></control-messages>
            <div>
              <label *ngFor="let yesno of yesNoList; let i = index" for="declarationConformity{{i}}" class="radio-inline">
                <input type="radio" id="declarationConformity{{i}}" name="declarationConformity" [value]="yesno.id"
                  aria-required="true"
                  [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
                {{yesno | textTransform: lang }}
              </label>
            </div>
          </label>
        </div>
      </div>
      <div *ngIf="isOptional()" class="row">
        <div class="form-group col-xs-12">
          <label for="declarationConformity" class="full-width">
            <span class="field-name">{{'conformity.declaration' |translate}}</span>
            <sup id="ap8-rf">
              <a class="fn-lnk" href="#ap8"><span
                  class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.cfmDecIndx}}</a>
            </sup>
            <!--<control-messages *ngIf="appInfoFormLocalModel.controls.declarationConformity.invalid"-->
            <!--[showError]="showFieldErrors"-->
            <!--[control]="appInfoFormLocalModel.controls.declarationConformity"-->
            <!--controlId="declarationConformity" label="conformity.declaration"-->
            <!--parentId="appInfoDetails"></control-messages>-->
            <div>
              <label *ngFor="let yesno of yesNoList; let i = index" for="declarationConformity" class="radio-inline">
                <input type="radio" id="declarationConformity" name="declarationConformity" [value]="yesno.id"
                  aria-required="true"
                  [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
                {{yesno | textTransform: lang }}
              </label>
            </div>
          </label>
        </div>
      </div>

      <div *ngIf="isMandatoryForClassII()" class="row">
        <div class="form-group col-xs-12">
          <label for="declarationConformity" class=" required full-width">
            <span class="field-name">{{'conformity.declaration.medical.device.title.part1' |translate}}</span>
            <a href="{{'declaration.instruct.link'|translate}}">{{'declaration.instruct.tite'|translate}}</a>
            <span class="field-name">{{'conformity.declaration.medical.device.title.part2' |translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>

            <control-messages *ngIf="declarationLocalModel.controls['declarationConformity'].invalid"
            [showError]="showFieldErrors"
            [control]="declarationLocalModel.controls['declarationConformity'] | formControl"
            controlId="declarationConformity" label="conformity.declaration"
            parentId="declarationCon"></control-messages>
            <div>
              <label *ngFor="let yesno of yesNoList; let i = index" for="declarationConformity" class="radio-inline">
                <input type="radio" id="declarationConformity" name="declarationConformity" [value]="yesno.id"  required="required"
                  aria-required="true"
                  [formControl]="declarationLocalModel.controls['declarationConformity'] | formControl">
                {{yesno | textTransform: lang }}
              </label>
            </div>
          </label>
        </div>
      </div>


      <div *ngIf="isNoDeclaration()" class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="alert alert-info" role="alert" *ngIf="isOptional() || isMandatory()">
            <p aria-live="polite">{{'declaration.instruct1'|translate}}</p>
            <p aria-live="polite">{{'declaration.instruct2'|translate}}
              <a [href]="'declaration.instruct.link'|translate" target='_blank' aria-describedby='openNewWindowInstr'>{{'declaration.instruct.tite'|translate}}</a><a>{{'opens.in.new.window' | translate}}</a>
            </p>
          </div>
          <div class="alert alert-info" role="alert" *ngIf="isMandatoryForClassII() ">
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct1'|translate}}</p>
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct2'|translate}}</p>
            <p aria-live="polite">{{'conformity.declaration.medical.device.instruct3'|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>