<div>
  <div [formGroup]="generalInfoFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-4 minWidth200" >
        <label for="formStatus">
          <span class="field-name">{{'appl.status' |translate}}</span>
          <input name="formStatus" id="formStatus" class="form-control full-width" [readonly]="true"
                 [formControl]="generalInfoFormLocalModel.controls['formStatus'] | formControl" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-xs-4 minWidth200" >
        <label for="lastSavedDate">
          <span class="field-name">{{'date.saved' |translate}}</span>
          <input name="lastSavedDate" id="lastSavedDate" class="form-control full-width" [readonly]="!isInternal"
                 [formControl]="generalInfoFormLocalModel.controls['lastSavedDate'] | formControl" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-xs-4 minWidth200">
        <label for="companyId" [ngClass]="{'required':isInternal}" aria-required="true">
          <span class="field-name" >{{'company.id' |translate}}</span>
          <strong class="required" *ngIf="isInternal" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="(isInternal && generalInfoFormLocalModel.controls['companyId'].invalid)"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls['companyId'] | formControl"
                            controlId="companyId" label="company.id" parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <input name="companyId" id="companyId" class="form-control" [formControl]="generalInfoFormLocalModel.controls['companyId'] | formControl"
                 [readonly]="!isInternal" maxlength="6" (blur)="onblur()" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-2" >
        <button class="btn btn-primary" (click)="setAmendState()"  
                [disabled]="disableAmendButton" id="amendSubDisabled">
          {{'amend.enrol'|translate}}</button>
      </div>
    </div>

    <div class="row form-group" ><!-- *ngIf="isAmend" -->
      <fieldset class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chkbxrdio-grp">
        <legend class="required"><span>{{'amend.reason' | translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
        </legend>
        <ng-container formArrayName="amendReasons" *ngFor="let reason of amendReasonChkFormArray.controls; let i = index">
          <div class="checkbox">
            <label for={{amendReasonOptionList[i].value}}>
              <input type="checkbox" id={{amendReasonOptionList[i].value}} [formControl]="reason | formControl" (change)="amendReasonOnblur()"/> {{amendReasonOptionList[i].label}} 
            </label>
          </div>
        </ng-container>
        <ng-container *ngIf="isOtherSelected()"> 
          <div class="row form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="otherDetails" class="required full-width">{{'other.details'|translate}}
              <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
              <control-messages *ngIf="generalInfoFormLocalModel.controls['otherDetails'].invalid"
                                [showError]="showFieldErrors"
                                [control]="generalInfoFormLocalModel.controls['otherDetails'] | formControl"
                                controlId="otherDetails" label="other.details"
                                parentId="generalInfo"
                                parentLabel="Regulatory Company Enrolment"></control-messages>
              <textarea type="text" class="form-control full-width" id="otherDetails" (blur)="amendReasonOnblur()"
                      [formControl]="generalInfoFormLocalModel.controls['otherDetails'] | formControl" maxlength="500"></textarea>
            </label>
          </div>
        </ng-container>            
      </fieldset>        
    </div>

    <div class="row">
      <div class="form-group col-xs-6 rep-margin-top-12" >
        <label for="areLicensesTransfered" class="required full-width">
          <span class="field-name" >{{'ownership.transferred' |translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoFormLocalModel.controls['areLicensesTransfered'].invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls['areLicensesTransfered'] | formControl"
                            controlId="areLicensesTransfered" label="ownership.transferred"
                            parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <select id="areLicensesTransfered" required class="form-control full-width" (change)="onblur()"
            (blur)="amendReasonOnblur()"
                  (selected)="amendReasonOnblur()" [formControl]="generalInfoFormLocalModel.controls['areLicensesTransfered'] | formControl">
                  <!-- ling todo select doesn't trigger the blur/selected event, leave it for now, correct when understanding the logic -->
            <option label=" " value=""></option>
            <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{ yesno | textTransform: lang }}</option>
          </select>
        </label>
      </div>
    </div>
    <pre>{{generalInfoFormLocalModel.value |json}}</pre>
      <!-- <pre>companyId.invalid={{generalInfoFormLocalModel.controls.companyId.invalid}}</pre> -->
  </div>
</div>
