<div>
  <div [formGroup]="generalInfoFormLocalModel">
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 minWidth200" >
        <label for="formStatusText">
          <span class="field-name">{{'appl.status' |translate}}</span>
          <input name="formStatusText" id="formStatusText" class="form-control full-width" [readonly]="true"
                 [formControl]="generalInfoFormLocalModel.controls['formStatusText'] | formControl" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12  minWidth200" >
        <label for="lastSavedDate">
          <span class="field-name">{{'date.saved' |translate}}</span>
          <input name="lastSavedDate" id="lastSavedDate" class="form-control full-width" [readonly]="true"
                 [formControl]="generalInfoFormLocalModel.controls['lastSavedDate'] | formControl" />
        </label>
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12  minWidth200">
        <label for="companyId" [ngClass]="{'required':isInternal}">
          <span class="field-name" >{{'company.id' |translate}}</span>
          <strong class="required" *ngIf="isInternal" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="(isInternal && generalInfoFormLocalModel.controls['companyId'].invalid)"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls['companyId'] | formControl"
                            controlId="companyId" label="company.id" parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <input name="companyId" id="companyId" class="form-control" [formControl]="generalInfoFormLocalModel.controls['companyId'] | formControl"
                 [readonly]="!isInternal" maxlength="6" data-only-digits (blur)="onblur()" />
        </label>
      </div>
    </div>
    <div class="row" *ngIf="showAmendButton">
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <button class="btn btn-primary" (click)="setAmendState()" [disabled]="disableAmendButton">
          {{'amend.enrol'|translate}}</button>
      </div>
    </div>

    <ng-container *ngIf="isAmend">
      <div class="row form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <fieldset class="chkbxrdio-grp" id="amendReason">
          <legend class="required"><span class="field-name">{{'amend.reason' | translate}}</span>
              <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
              <control-messages *ngIf="amendReasonChkFormArray.invalid"
                              [showError]="showFieldErrors"
                              [control]="amendReasonChkFormArray | formControl"
                              controlId="amendReason" label="amend.reason"
                              parentId="generalInfo"
                              parentLabel="Regulatory Company Enrolment"></control-messages>          
          </legend>
          <ul class="form-group list-unstyled">
            <li class="checkbox" formArrayName="amendReasons" *ngFor="let reason of amendReasonChkFormArray.controls; let i = index">
              <label for={{amendReasonOptionList[i].value}}>
                <input type="checkbox" id={{amendReasonOptionList[i].value}} [formControl]="reason | formControl" (change)="amendReasonOnChange()"/> {{amendReasonOptionList[i].label}} 
              </label>
            </li>
          </ul>
        </fieldset>
      </div>

      <div class="row form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="rationale" class="required full-width">{{'rationale'|translate}}
          <sup id="co3-rf">
            <a class="fn-lnk" href="#co3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['rationaleInx']}}</a>
          </sup>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoFormLocalModel.controls['rationale'].invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls['rationale'] | formControl"
                            controlId="rationale" label="rationale"
                            parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <textarea class="form-control full-width" id="rationale" (blur)="onblur()"
                  [formControl]="generalInfoFormLocalModel.controls['rationale'] | formControl" maxlength="500"></textarea>
        </label>
      </div>    
   </ng-container>              


    <div class="row">
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <label for="areLicensesTransfered" class="required full-width">
          <span class="field-name" >{{'ownership.transferred' |translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoFormLocalModel.controls['areLicensesTransfered'].invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls['areLicensesTransfered'] | formControl"
                            controlId="areLicensesTransfered" label="ownership.transferred"
                            parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <select id="areLicensesTransfered" required class="form-control" (change)="areLicensesBeingTransferedOnChange()"
            [formControl]="generalInfoFormLocalModel.controls['areLicensesTransfered'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{ yesno | textTransform: lang }}</option>
          </select>
        </label>
      </div>
    </div>
    <!-- <pre>{{generalInfoFormLocalModel.value |json}}</pre> -->
      <!-- <pre>companyId.invalid={{generalInfoFormLocalModel.controls.companyId.invalid}}</pre> -->
  </div>
</div>
