<div>
  <div [formGroup]="medicinalIngredientForm">
     <div class="row">
        <div class="form-group  col-sm-12">
            <label for="medicinalIngredients" class="required">
                <span class="field-name">{{ 'medicinal.ingredients' |translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages
                 *ngIf="medicinalIngredientForm.controls['medicinalIngredients'].invalid"
                    [showError]="showErrors"
                    [control]="medicinalIngredientForm.controls['medicinalIngredients'] | formControl"
                    controlId="medicinalIngredients"
                    label="error.medic"
                    parentId="cspMedicinalIngredients">
                </control-messages>

            <textarea
            class="form-control  full-width"
            id="medicinalIngredients"
            maxlength="300" rows="4"  cols="600"
            [formControlName]="'medicinalIngredients'"
           ></textarea>
          </label>
        </div>
       </div>

       <div class="row">
        <div class="form-group  col-sm-12">
          <label for="productname" class="required">
              <span class="field-name">{{ 'product.name' |translate }}</span>
              <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
              <control-messages
               *ngIf="medicinalIngredientForm.controls['productName'].invalid"
                  [showError]="showErrors"
                  [control]="medicinalIngredientForm.controls['productName'] | formControl"
                  controlId="productname"
                  label="panel.product.name"
                  parentId="cspMedicinalIngredients">
              </control-messages>

          <textarea
          class="form-control full-width"
          id="productname"  cols="600"
          maxlength="300" rows="4"
          [formControlName]="'productName'"
         ></textarea>
        </label>
      </div>
</div>
    </div>
  </div>

