<div>
  <div [formGroup]="medicinalIngredientForm">
     <div class="row">
        <div class="form-group  col-sm-8">
            <label for="medicinalIngredients" class="required">
                <span class="field-name">{{ 'medicinal.ingredients' |translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages
                 *ngIf="medicinalIngredientForm.controls['medicinalIngredients'].invalid"
                    [showError]="showErrors"
                    [control]="medicinalIngredientForm.controls['medicinalIngredients'] | formControl"
                    controlId="medicinalIngredients"
                    label="medicinalIngrents"
                    parentId="cspMedicinalIngredients">
                </control-messages>

            <input
            class="form-control"
            id="medicinalIngredients"
            type="text"
            [formControlName]="'medicinalIngredients'"
           />
          </label>
        </div>
    </div>
  </div>

