<div class="container-fluid">
  <form name="MasterFileForm" [formGroup]="masterFileForm" novalidate>
    <div class="row mrgn-tp-md">
      <div class="col-md-12">
        <div class="text-right">
          <span id="securityInfo" class="fa fa-shield fa-sm"><strong>&nbsp;{{'PROTECTED_B'|translate}}</strong></span>
        </div>
      </div>
    </div>
    <div>
      <section class="panel panel-primary mrgn-tp-lg">
        <header class="panel-heading clearfix">
          <h2 class="panel-title">{{'load.file'|translate}}
            <sup id="tr1-rf">
              <a class="fn-lnk" href="#tr1"><span class="wb-inv">{{'instruction'|translate}}</span>1</a>
            </sup>
          </h2>
        </header>
        <div class="panel-body">
          <div class="row">
            <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
          </div>
        </div>
      </section>
    </div>
    <div id="topErrorSummaryId">
      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
        headingPreamble="errorSummary.master.file"></error-summary>
    </div>
    <div>
<section class="panel panel-primary mrgn-tp-lg">
  <header class="panel-heading clearfix">
    <h2 class="panel-title">{{'panel.title.regulatoryInfo'|translate}}</h2>
    </header>
    <div class="panel-body">
      <app-regulatory-information [showErrors]="showErrors" [lang]="lang" [dataModel]="ectdModel"
        (isSolicitedFlag)="processIsSolicitedFlag($event)" [helpIndex]="helpTextSequences"
        (errorList)="processRegulatoryInfoErrors($event)"></app-regulatory-information>
    </div>
    </section>
    
    <!-- <section class="panel panel-primary mrgn-tp-lg">
                        <header class="panel-heading clearfix">
          <h2 class="panel-title">{{'panel.title.regulatoryInfo'|translate}}
            <sup id="tr2-rf">
              <a class="fn-lnk" href="#tr2"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.tr2}}</a>
              </sup>
              </h2>
              </header>
              <div class="panel-body"> -->
                <!--<master-file-details [showErrors]="showErrors" [lang]="lang" [userList]="userList"
                              [detailsChanged]="updateChild" [masterFileModel]="masterFileModel"
                              (isSolicitedFlag)="processIsSolicitedFlag($event)" [helpIndex]="helpIndex"
                              (detailErrorList)="processDetailErrors($event)"></master-file-details> -->
          <!--todo clean the not used parameters, detailsChanged, userList .. -->
          <!-- <master-file-details [showErrors]="showErrors" [lang]="lang" [userList]="userList"
            [masterFileModel]="masterFileModel" (isSolicitedFlag)="processIsSolicitedFlag($event)"
            [helpIndex]="helpTextSequences" (detailErrorList)="processDetailErrors($event)"></master-file-details>

        </div> -->
        <!-- <section class="panel  panel-default" *ngIf="isSolicited()">
            <header class="panel-heading clearfix">
              <h3 class="panel-title">{{'heading.requesters'|translate}}</h3>
            </header>
            <div class="panel-body">
              <requester-list  (errors)="processRequesterErrors($event)"  [userList]="userList" [showErrors]="showErrors"
                               [requesterModel]="requesterModel"></requester-list>
            </div>
          </section> -->
      <!-- </section> -->
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'panel.title.contactInfo'|translate}}</h3>
            </header>
            <div class="panel-body">
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.holder.address'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <address-details [showErrors]="showErrors" [countryList]="countryList" [lang]="lang" [provinceList]="provinceList"
                    [addressModel]="holderAddressModel" [stateList]="stateList" [helpTextSequences]="helpTextSequences"
                    (errorList)="processAddressErrors($event)">
                  </address-details>
                </div>
              </section>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.holder.contact'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <contact-details [showErrors]="showErrors" [lang]="lang"
                    [contactDetailsModel]="holderContactModel" [helpTextSequences]="helpTextSequences"
                    (errorList)="processContactErrors($event)">
                  </contact-details>
                </div>
              </section>
                
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.agent.address'|translate}}</h3>
                </header>
                <div class="panel-body">
                 
                  <div class="row rep-margin-left">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label for="notApplicable">
                          <input name="notApplicableName" type="checkbox" (change)="agentInfoOnChange()"
                            id="notApplicableId" [formControl]="masterFileForm.controls['notApplicable'] | formControl"/>
                          <span><b>{{'not.applicable'|translate}}</b></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <address-details *ngIf="!notApplicable" [showErrors]="showErrors" [countryList]="countryList" [lang]="lang"
                    [provinceList]="provinceList" [addressModel]="agentAddressModel" [stateList]="stateList"
                    [helpTextSequences]="helpTextSequences" (errorList)="processAddressErrors($event)">
                  </address-details>
                </div>
              </section>
              <section class="panel  panel-default" *ngIf="!notApplicable">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.agent.contact'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <contact-details [showErrors]="showErrors" [lang]="lang" [contactDetailsModel]="agentContactModel"
                    [helpTextSequences]="helpTextSequences" (errorList)="processContactErrors($event)">
                  </contact-details>
                </div>
              </section>
          </div>
        </section>
      </div>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'panel.title.fees'|translate}}</h3>
            </header>
            <div class="panel-body">
            <master-file-fee (feeErrorList)="processTransFeeErrors($event)" [showErrors]="showErrors"
              [transFeeModel]="transFeeModel"></master-file-fee>
            </div>
        </section>
      </div>
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'panel.title.certification'|translate}}</h3>
          </header>
          <div class="panel-body">
            todo
          </div>
        </section>
      </div>
      <div class="row btn-group-sm">
        <div class="form-group col-md-4">
          <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
            {{'save.working.copy'|translate}}
          </button>
        </div>
        <div class="form-group col-md-4">
          <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" i18n>
            {{'generate.final'|translate}}
          </button>
        </div>
      </div>
      <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
      </div>
  </form>
</div>