<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['loadFileIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['loadFileIndx'][1]">
            <p class="fn-rtn"><a [href]="'#' + helpTextSequences['loadFileIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx'][0]}}
				<span class="wb-inv"> referrer</span></a></p>
            <div class="fn-rep">
                <p>{{'load.file'|translate}}</p>
                <ul>
                    <li>{{'ht.load.file.2'|translate}}</li>
                    <li>{{'ht.load.file.3'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['loadFileIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.loadFileIndx[0]}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['dossierTypeIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['dossierTypeIndx'][1]">
            <div class="fn-rep">
                <p>{{'dossier.type'|translate}}</p>
                <ul>
                    <li>{{'ht.dossier.type.1'|translate}}</li>
                    <li>{{'ht.dossier.type.2'|translate}}</li>
                    <li>{{'ht.dossier.type.4'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['dossierTypeIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.dossierTypeIndx[0]}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['compIdIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['compIdIndx'][1]">
            <div class="fn-rep">
                <p>{{'company.id'|translate}}</p>
                <p>{{'ht.comp.id.1' | translate}}</p>
                <p>{{'ht.comp.id.2' | translate}}</p>
                
                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['compIdIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.compIdIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['dossierIdIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['dossierIdIndx'][1]">
            <div class="fn-rep">
                <p>{{'dossier.id' |translate}}</p>
                <p>{{'ht.dossier.id' | translate}}</p>
                <p>{{'ht.dossier.id.0' | translate}}</p>
                <ul>
                    <li>{{'ht.dossier.id.1'|translate}}</li>
                    <li>{{'ht.dossier.id.2'|translate}}</li>
                    <li>{{'ht.dossier.id.3'|translate}}</li>
                    <li>{{'ht.dossier.id.5'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['dossierIdIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.dossierIdIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['prodNameIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['prodNameIndx'][1]">
            <div class="fn-rep">
                <p>{{'product.name' |translate}}</p>
                <p>{{'ht.prod.name.1' | translate}}</p>
                <p>{{'ht.prod.name.2' | translate}}</p>
                <p>{{'ht.prod.name.3' | translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['prodNameIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.prodNameIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['prioRevIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['prioRevIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'is.priority' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.prio.rev.url'|translate}}" target="_blank">{{'ht.prio.rev'|translate}}</a>
                </p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['prioRevIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.prioRevIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['nocRevIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['nocRevIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'is.noc' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.noc.rev.url'|translate}}" target="_blank">{{'ht.noc.rev'|translate}}</a>
                </p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['nocRevIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.nocRevIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['adminSubIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['adminSubIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'is.admin.submission' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.admin.sub.url'|translate}}" target="_blank">{{'ht.admin.sub'|translate}}</a>
                    {{'ht.admin.sub.1'|translate}}
                    <a href="{{'ht.admin.sub.2.url'|translate}}" target="_blank">{{'ht.admin.sub.2'|translate}}</a>
                </p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['adminSubIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.adminSubIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['regActIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['regActIndx'][1]">
            <div class="fn-rep">
                <p>{{'activity.lead' |translate}}</p>
                <ul>
                    <li>{{'ht.act.lead.1'|translate}}</li>
                    <li>{{'ht.act.lead.4'|translate}}</li>
                    <li>{{'ht.act.lead.5'|translate}}</li>
                    <li>{{'ht.act.lead.6'|translate}}</li>
                    <li>{{'ht.act.lead.7'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['regActIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.regActIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['yearChangeIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['yearChangeIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'year.change' |translate}}</p>
                <p>{{'ht.year.change.1' |translate}}</p>
                <ul>
                    <li>{{'ht.year.change.2'|translate}}
                        <a href="{{'ht.year.change.url.1'|translate}}" target="_blank">{{'ht.year.change.3'|translate}}</a>
                    </li>
                    <li>{{'ht.year.change.2'|translate}}
                        <a href="{{'ht.year.change.url.2'|translate}}" target="_blank">{{'ht.year.change.4'|translate}}</a>
                    </li>
                </ul>
                <p>{{'ht.year.change.5' |translate}}</p>
                <ul>
                    <li>
                        <a href="{{'ht.year.change.url.3'|translate}}" target="_blank">{{'ht.year.change.6'|translate}}</a>
                    </li>
                    <li>
                        <a href="{{'ht.year.change.url.4'|translate}}" target="_blank">{{'ht.year.change.7'|translate}}</a>
                    </li>
                </ul>
                <p>{{'ht.year.change.8' |translate}}</p>
                <p>{{'ht.year.change.13' |translate}}</p>
                <ul>
                    <li>{{'ht.year.change.9' |translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['yearChangeIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.yearChangeIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        
        <dt>{{'Instruction'|translate}} {{helpTextSequences['briefDescIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['briefDescIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'brief.desc.change' |translate}}</p>
                <p>{{'ht.desc.change.1'|translate}}</p>
                <p>{{'ht.desc.change.2'|translate}}</p>
                <p>{{'ht.desc.change.3'|translate}}</p>
                <p>{{'ht.desc.change.4'|translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['briefDescIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.briefDescIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['requestSoliIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['requestSoliIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'solicited.rq' |translate}}</p>
                <p>{{'ht.req.sol'|translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['requestSoliIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.requestSoliIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        
        <dt>{{'Instruction'|translate}}  {{helpTextSequences['ctrlNumIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['ctrlNumIndx'][1]">
            <div class="fn-rep">
                <p>{{'ctrl.num' |translate}}</p>
                <app-control-number-helptext [lang]="lang" />
                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['ctrlNumIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences['ctrlNumIndx'][0]}} <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['feesIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['feesIndx'][1]">
            <div class="fn-rep">
                <p>{{'section.show.option' |translate}}{{'regulatory.fees' |translate}}</p>
                <p>{{'ht.fees.1'|translate}}</p>
                <p [innerHTML]="'ht.fees.2' | translate"></p>
                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['feesIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.feesIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        
        <dt>{{'Instruction'|translate}} {{helpTextSequences['regContactIndx'][0]}}</dt>
       <dd [id]="helpTextSequences['regContactIndx'][1]">
            <div class="fn-rep">
                <p>{{'reg.contact.this' |translate}}</p>
                <p>{{'ht.contact.1'|translate}}</p>
                <p>{{'ht.contact.4'|translate}}</p>
                <p>{{'ht.contact.6'|translate}}</p>
                <p>{{'ht.contact.7'|translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['regContactIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.regContactIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        
       <dt>{{'Instruction'|translate}} {{helpTextSequences['genFinalIndx'][0]}}</dt>
       <dd [id]="helpTextSequences['genFinalIndx'][1]">
            <div class="fn-rep">
                <p>{{'generate.final' |translate}}</p>
                <p>{{'ht.xml.3'|translate}}</p>
                <ul>
                    <li>{{'ht.xml.4'|translate}}</li>
                    <li>{{'ht.xml.5'|translate}}</li>
                </ul>
                <p>{{'ht.xml.2'|translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['genFinalIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.genFinalIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
    </dl>
  </aside>
  