<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{helpTextSequences['loadFileIndx']}}</dt>
        <dd id="tr1">
            <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx']}}
				<span class="wb-inv"> referrer</span></a></p>
            <div class="fn-rep">
                <p>{{'load.file'|translate}}</p>
                <ul>
                    <li>{{'ht.load.file.2'|translate}}</li>
                    <li>{{'ht.load.file.3'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.loadFileIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['dossierTypeIndx']}}</dt>
        <dd id="tr2">
            <div class="fn-rep">
                <p>{{'dossier.type'|translate}}</p>
                <ul>
                    <li>{{'ht.dossier.type.1'|translate}}</li>
                    <li>{{'ht.dossier.type.2'|translate}}</li>
                    <li>{{'ht.dossier.type.4'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.dossierTypeIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['compIdIndx']}}</dt>
        <dd id="tr3">
            <div class="fn-rep">
                <p>{{'company.id'|translate}}</p>
                <p>{{'ht.comp.id.1' | translate}}</p>
                <p>{{'ht.comp.id.2' | translate}}</p>
                
                <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.compIdIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['dossierIdIndx']}}</dt>
        <dd id="tr4">
            <div class="fn-rep">
                <p>{{'dossier.id' |translate}}</p>
                <p>{{'ht.dossier.id' | translate}}</p>
                <p>{{'ht.dossier.id.0' | translate}}</p>
                <ul>
                    <li>{{'ht.dossier.id.1'|translate}}</li>
                    <li>{{'ht.dossier.id.2'|translate}}</li>
                    <li>{{'ht.dossier.id.3'|translate}}</li>
                    <li>{{'ht.dossier.id.5'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.dossierIdIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['prodNameIndx']}}</dt>
        <dd id="tr5">
            <div class="fn-rep">
                <p>{{'product.name' |translate}}</p>
                <p>{{'ht.prod.name.1' | translate}}</p>
                <p>{{'ht.prod.name.2' | translate}}</p>
                <p>{{'ht.prod.name.3' | translate}}</p>

                <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.prodNameIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['prioRevIndx']}}</dt>
        <dd id="tr6">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'is.priority' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.prio.rev.url'|translate}}" target="_blank">{{'ht.prio.rev'|translate}}</a>
                </p>

                <p class="fn-rtn"><a href="#tr6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.prioRevIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['nocRevIndx']}}</dt>
        <dd id="tr7">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'is.noc' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.noc.rev.url'|translate}}" target="_blank">{{'ht.noc.rev'|translate}}</a>
                </p>

                <p class="fn-rtn"><a href="#tr7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.nocRevIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['adminSubIndx']}}</dt>
        <dd id="tr8">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'is.admin.submission' |translate}}</p>
                <p>{{'ht.refer.to'|translate}}
                    <a href="{{'ht.admin.sub.url'|translate}}" target="_blank">{{'ht.admin.sub'|translate}}</a>
                </p>
                <p>{{'ht.admin.sub.1'|translate}}</p>

                <p class="fn-rtn"><a href="#tr8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.adminSubIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['ctrlNumIndx']}}</dt>
        <dd id="tr9">
            <div class="fn-rep">
                <p>{{'ctrl.num' |translate}}</p>
                <ul>
                    <li>{{'ht.ctrl.num.1'|translate}}</li>
                    <li>{{'ht.ctrl.num.2'|translate}}</li>
                    <li>{{'ht.ctrl.num.3'|translate}}</li>
                    <li>{{'ht.ctrl.num.4'|translate}}</li>
                    <li>{{'ht.ctrl.num.5'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr9-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.ctrlNumIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['regActIndx']}}</dt>
        <dd id="tr10">
            <div class="fn-rep">
                <p>{{'activity.lead' |translate}}</p>
                <ul>
                    <li>{{'ht.act.lead.1'|translate}}</li>
                    <li>{{'ht.act.lead.4'|translate}}</li>
                    <li>{{'ht.act.lead.5'|translate}}</li>
                    <li>{{'ht.act.lead.6'|translate}}</li>
                    <li>{{'ht.act.lead.7'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr10-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.regActIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['yearChangeIndx']}}</dt>
        <dd id="tr11">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'year.list.of.change' |translate}}</p>
                <p>{{'ht.year.change.1' |translate}}</p>
                <ul>
                    <li>{{'ht.year.change.2'|translate}}
                        <a href="{{'ht.year.change.url.1'|translate}}" target="_blank">{{'ht.year.change.3'|translate}}</a>
                    </li>
                    <li>{{'ht.year.change.2'|translate}}
                        <a href="{{'ht.year.change.url.2'|translate}}" target="_blank">{{'ht.year.change.4'|translate}}</a>
                    </li>
                </ul>
                <p>{{'ht.year.change.5' |translate}}</p>
                <ul>
                    <li>
                        <a href="{{'ht.year.change.url.3'|translate}}" target="_blank">{{'ht.year.change.6'|translate}}</a>
                    </li>
                    <li>
                        <a href="{{'ht.year.change.url.4'|translate}}" target="_blank">{{'ht.year.change.7'|translate}}</a>
                    </li>
                </ul>
                <p>{{'ht.year.change.8' |translate}}</p>
                <p>{{'ht.year.change.13' |translate}}</p>
                <ul>
                    <li>{{'ht.year.change.9' |translate}}</li>
                </ul>

                <p class="fn-rtn"><a href="#tr11-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.yearChangeIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['briefDescIndx']}}</dt>
        <dd id="tr12">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'brief.desc.change' |translate}}</p>
                <p>{{'ht.desc.change.1'|translate}}</p>
                <p>{{'ht.desc.change.2'|translate}}</p>
                <p>{{'ht.desc.change.3'|translate}}</p>
                <p>{{'ht.desc.change.4'|translate}}</p>

                <p class="fn-rtn"><a href="#tr12-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.briefDescIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['requestSoliIndx']}}</dt>
        <dd id="t13">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'solicited.rq' |translate}}</p>
                <p>{{'ht.req.sol'|translate}}</p>

                <p class="fn-rtn"><a href="#tr13-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.requestSoliIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['feesIndx']}}</dt>
        <dd id="tr14">
            <div class="fn-rep">
                <p>{{'non.visible' |translate}}{{'regulatory.fees' |translate}}</p>
                <p>{{'ht.fees.1'|translate}}</p>
                <p [innerHTML]="'ht.fees.2' | translate"></p>
                <p class="fn-rtn"><a href="#tr14-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.feesIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['regContactIndx']}}</dt>
        <dd id="tr15">
            <div class="fn-rep">
                <p>{{'reg.contact.this' |translate}}</p>
                <p>{{'ht.contact.1'|translate}}</p>
                <p>{{'ht.contact.4'|translate}}</p>
                <p>{{'ht.contact.6'|translate}}</p>
                <p>{{'ht.contact.7'|translate}}</p>

                <p class="fn-rtn"><a href="#tr15-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.regContactIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['routeIdIndx']}}</dt>
        <dd id="tr16">
            <div class="fn-rep">
                <p>{{'routing.id' |translate}}</p>
                <p>{{'routing.id.1'|translate}}</p>
                <ul>
                    <li>{{'routing.id.2'|translate}}</li>
                    <li>{{'routing.id.3'|translate}}</li>
                </ul>
                <p>{{'routing.id.5'|translate}}
                    <a href="mailto:{{'help.email'|translate}}">{{'help.email'|translate}}</a>
                </p>

                <p class="fn-rtn"><a href="#tr16-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.routeIdIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['genFinalIndx']}}</dt>
        <dd id="tr17">
            <div class="fn-rep">
                <p>{{'generate.final' |translate}}</p>
                <p>{{'ht.xml.3'|translate}}</p>
                <ul>
                    <li>{{'ht.xml.4'|translate}}</li>
                    <li>{{'ht.xml.5'|translate}}</li>
                </ul>
                <p>{{'ht.xml.2'|translate}}</p>

                <p class="fn-rtn"><a href="#tr17-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.genFinalIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
    </dl>
  </aside>
  