<div>
  <div [formGroup]="generalInfoForm">
    <div class="row">
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <label for="areLicensesTransfered" class="required full-width">
          <span class="field-name" >{{'ownership.transferred' |translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoForm.controls['areLicensesTransfered'].invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoForm.controls['areLicensesTransfered'] | formControl"
                            controlId="areLicensesTransfered" label="ownership.transferred"
                            parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <select id="areLicensesTransfered" required class="form-control" 
            [formControl]="generalInfoForm.controls['areLicensesTransfered'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{ yesno | textTransform: lang }}</option>
          </select>
        </label>
      </div>
    </div>
    <pre>{{generalInfoForm.value |json}}</pre>
  </div>
</div>
