<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{data.title}}</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<!-- Meta data -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="content-security-policy" content="script-src 'self' 'unsafe-inline' www.canada.ca; img-src 'self' www.canada.ca; font-src 'self' www.canada.ca maxcdn.bootstrapcdn.com fonts.gstatic.com; style-src 'self' www.canada.ca maxcdn.bootstrapcdn.com 'unsafe-inline'; default-src 'self' www.canada.ca; ">
		<meta name="author" content="Health Canada" />
		<meta property="dcterms.creator" content="Government of Canada, Health Canada">
		<meta property="dcterms.modified" title="W3CDTF" content="{{dateModified}}">
		<meta property="dcterms.language" title="ISO639-2/T" content="eng">
		<!-- build:metaData-en.html -->
		<!-- Meta data-->
		<!-- Load closure template scripts -->
		<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_46/cdts/compiled/soyutils.js"></script>
		<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_46/cdts/compiled/wet-en.js"></script>
		<noscript>
			<!-- Write closure fall-back static file -->
			<!-- build:refTop.html -->
		</noscript>
		<!-- Write closure template -->
		<!-- cssIncludes -->
		<script>
			document.write(wet.builder.refTop({
				"cdnEnv": "{{env}}"
			}));
		</script>
	</head>
	<body vocab="https://schema.org/" typeof="WebPage">
		<div id="def-top">
			<!-- Write closure fall-back static file -->
			<!-- build:top-en.html -->
		</div>
		<!-- Write closure template -->
		<script>
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				"lngLinks": [{
					"lang": "fr",
					"href": "{{lngHref}}",
					"text": "Français"
				}],
				"breadcrumbs": [{
					"title": "Canada.ca",
					"href": "https://www.canada.ca/en.html"
				}, {
					"title": "Departments and agencies",
					"href": "https://www.canada.ca/en/government/dept.html"
				}, {
					"title": "Health Canada",
					"href": "https://www.canada.ca/en/health-canada.html"
				}],
				"cdnEnv": "{{env}}"
			});
		</script>
		<main property="mainContentOfPage" typeof="WebPageElement" class="container">
			<!--content starts here -->
			<h1 property="name" id="wb-cont">{{data.h1_header}}</h1>
			{%- for paragraph in data.paragraphs %}
			<p>{{paragraph}}</p>
			{%- endfor %}

			{# index page content #}
			{%- for section in data.sections %}
				{% if site == "internal" %}
					{# Display all sections when site is "internal" #}
					<h2>{{section.header}}</h2>
					{%- for group in section.groups %}
					<h3>{{group.header}}</h3>
					<ul>
						{%- for bullet in group.bullets %}
						<li>
						{{bullet}}
						</li>
						{%- endfor %}
					</ul>
					{%- endfor %}
				{% else %}
					{# Display sections which don't have "internal_only" when site is not "internal" #}
					{% if section.internal_only != true %}
						<h2>{{ section.header }}</h2>
						{% for group in section.groups %}
							<h3>{{ group.header }}</h3>
							<ul>
							{% for bullet in group.bullets %}
								<li>{{ bullet }}</li>
							{% endfor %}
							</ul>
						{% endfor %}
					{% endif %}
				{% endif %}
		 	 {%- endfor %}

			{# template version history page content #}
			{%- for release in data.releases %}
			<h3>{{release.header}}</h3>
			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Template</th>
							<th scope="col">Change</th>
						</tr>
					</thead>
					<tbody>
						{%- for detail in release.details %}
						<tr>
							<td class="col-md-3">{{detail.template}}</td>
							<td class="col-md-9">
								<ul>
								{%- for change in detail.changes %}
									<li>{{change}}</li>
								{%- endfor %}
								</ul>
							</td>
						</tr>
						{%- endfor %}
					</tbody>
				</table>
			
			{%- endfor %}

			<!--content ends here -->
			<div id="def-preFooter">
				<!-- Write closure fall-back static file -->
				<!-- build:preFooter-en.html -->
			</div>
			<!-- Write closure template -->
			<script>
				var defPreFooter = document.getElementById("def-preFooter");
				defPreFooter.outerHTML = wet.builder.preFooter({
					"dateModified": "{{dateModified}}",
					"cdnEnv": "{{env}}"
				});
			</script>
		</main>
		<div id="def-footer">
			<!-- Write closure fall-back static file -->
			<!-- build:footer-en.html -->
		</div>
		<!-- Write closure template -->
		<script>
			var defFooter = document.getElementById("def-footer");
			defFooter.outerHTML = wet.builder.footer({
				"cdnEnv": "{{env}}"
			});
		</script>
		<!-- Write closure template -->
		<script>
			document.write(wet.builder.refFooter({
				"cdnEnv": "{{env}}"
			}));
		</script>
	</body>
</html>