<div>
    <div [formGroup]="addressForm">
      <!--<div class="row">-->
        <!--<div class="form-group col-xs-6" >-->
          <!--<label for="businessNum">-->
            <!--<span class="field-name">{{'business.num' |translate}}</span>-->
            <!--<sup id="co3-rf">-->
              <!--<a class="fn-lnk" href="#co3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.busNumInx}}</a>-->
            <!--</sup>-->
            <!--<input name="businessNum" id="businessNum" class="form-control full-width"-->
                   <!--[formControl]="addressForm.controls.businessNum"   maxlength="9"/>-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="{{addrType}}address{{recordId}}" class="required full-width">
            <span class="field-name">{{'addressDetails.street'|translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="addressForm.controls['address'].invalid" [attr.aria-live]="showFieldErrors? null: 'assertive'"
                              [showError]="showFieldErrors" 
                              [control]="addressForm.controls['address'] | formControl"
                              controlId="{{addrType}}address{{recordId}}" label="addressDetails.street" parentId="{{addrType}}addressInfo"
                              translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
            <input name="address" id="{{addrType}}address{{recordId}}" class="form-control full-width"  required
              [formControlName]="'address'" maxlength="250"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-xs-12" >
          <label for="{{addrType}}city{{recordId}}" class="required full-width">
            <span class="field-name">{{'addressDetails.city'|translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="addressForm.controls['city'].invalid" [attr.aria-live]="showFieldErrors? null: 'assertive'"
                              [showError]="showFieldErrors" 
                              [control]="addressForm.controls['city'] | formControl"
                              controlId="{{addrType}}city{{recordId}}" label="addressDetails.city" parentId="{{addrType}}addressInfo"
                              translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
            <input name="city" id="{{addrType}}city{{recordId}}" class="form-control full-width" required
                   [formControlName]="'city'" maxlength="60"/>
          </label>
        </div>
        <div class="form-group col-sm-5 col-xs-12" >
          <label class="required full-width" for="{{addrType}}country{{recordId}}">
            <span class="field-name">{{'addressDetails.country'|translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="addressForm.controls['country'].invalid" [attr.aria-live]="showFieldErrors? null: 'assertive'"
                              [showError]="showFieldErrors" 
                              [control]="addressForm.controls['country'] | formControl"
                              controlId="{{addrType}}country{{recordId}}" label="addressDetails.country" parentId="{{addrType}}addressInfo"
                              translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
            <select id="{{addrType}}country{{recordId}}" required [formControlName]="'country'" class="required form-control"                      
                    (change)="onCountryChange($event)">
              <option label=" " value=""></option>
              <option *ngFor="let ctry of countryList" [value]="ctry.id">{{ ctry| textTransform: lang }}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div *ngIf="isCanadaOrUSA()" class="form-group col-xs-12 col-sm-6" >
          <label for="{{addrType}}provState{{recordId}}" class="required full-width">
            <span class="field-name">{{provinceLabel() |translate}}</span>
            <strong *ngIf="isCanadaOrUSA()" class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="addressForm.controls['provState'].invalid" [attr.aria-live]="showFieldErrors? null: 'assertive'"
                              [showError]="showFieldErrors" 
                              [control]="addressForm.controls['provState'] | formControl"
                              controlId="{{addrType}}provState{{recordId}}" label="{{provinceLabel()}}" parentId="{{addrType}}addressInfo"
                              translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
            <select id="{{addrType}}provState{{recordId}}" required class="form-control full-width"  [formControlName]="'provState'">
              <option label=" " value=""></option>
              <option *ngFor="let prov of provStateList()" [ngValue]="prov.id"> {{prov | textTransform: lang}}</option>
            </select>
          </label>
        </div>
        <div *ngIf="!isCanadaOrUSA()" class="form-group col-xs-12 col-sm-6">
          <label for="{{addrType}}provText{{recordId}}" class="full-width">
            <span class="field-name">{{'addressDetails.provState'|translate}}</span>
            <input name="provText" id="{{addrType}}provText{{recordId}}" class="form-control full-width" 
                   [formControlName]="'provText'" maxlength="40"/>
          </label>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
          <label for="{{addrType}}postal{{recordId}}" class="required">
            <span class="field-name">{{ postalLabel() |translate}}</span>
            <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong><br/>
            <control-messages *ngIf="addressForm.controls['postal'].invalid" [attr.aria-live]="showFieldErrors? null: 'assertive'"
                              [showError]="showFieldErrors" 
                              [control]="addressForm.controls['postal'] | formControl"
                              controlId="{{addrType}}postal{{recordId}}" label="{{postalLabel()}}" parentId="{{addrType}}addressInfo"
                              translatedParentLabel="{{addrGroupLabelKey|translate}}"
                              [ariaMessage]="isCanada() ? ('screen.reader.postal' | translate) : null"></control-messages> 
            <input *ngIf="!isCanadaOrUSA()" name="postal" id="{{addrType}}postal{{recordId}}" class="form-control" [formControlName]="'postal'"  
                   maxlength="20" required/>
            <input *ngIf="isCanada()" name="postal" id="{{addrType}}postal{{recordId}}" class="form-control" [formControlName]="'postal'"  
                   maxlength="6" data-number-letter required=""/>
            <input *ngIf="isUsa()" name="postal" id="{{addrType}}postal{{recordId}}" class="form-control" [formControlName]="'postal'"  
                   maxlength="5" data-only-digits required/>       
          </label>
      </div>
      <!-- <pre>{{addressForm.value |json}}</pre> -->
    </div>
  </div>