<div>
  <div [formGroup]="contactDetailForm">
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="contactId{{recordId}}" [ngClass]="{'required':isInternal}" class="full-width">
          <span class="field-name" >{{'contact.id'|translate}}</span>
          <strong *ngIf="isInternal" class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="isInternal && contactDetailForm.controls['contactId'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['contactId'] | formControl"
                            controlId="contactId{{recordId}}" label="contact.id" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="contactId" id="contactId{{recordId}}" class="form-control" 
                 [readonly]="!isInternal" [formControl]="contactDetailForm.controls['contactId'] | formControl" maxlength="5" data-only-digits/>
        </label>
      </div>
      <div class="form-group col-sm-6" >
        <label for="statusText{{recordId}}" class="full-width">
          <span class="field-name">{{'status' |translate}}
              <sup id="co4-rf">
                <a class="fn-lnk" href="#co4"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.conStatInx}}</a>
              </sup>
          </span>
          <control-messages *ngIf="isInternal && contactDetailForm.controls['status'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['status'] | formControl"
                            controlId="status{{recordId}}" label="status" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="statusText" id="statusText{{recordId}}" class="form-control"
                 [readonly]="true" [formControl]="contactDetailForm.controls['statusText'] | formControl"/>
          <input type="hidden" name="status" id="status{{recordId}}" class="form-control"
                 [formControl]="contactDetailForm.controls['status'] | formControl"/>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12" >
        <label for="fullName{{recordId}}" class="required full-width">
          <span class="field-name" >{{'full.name'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactDetailForm.controls['fullName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['fullName'] | formControl"
                            controlId="fullName{{recordId}}" label="full.name" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="fullName" id="fullName{{recordId}}" class="form-control full-width" maxlength="45" 
            [formControl]="contactDetailForm.controls['fullName'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="language{{recordId}}" class="required">
          <span class="field-name">{{'lang.correspond' |translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactDetailForm.controls['language'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['language'] | formControl"
                            controlId="language{{recordId}}" label="lang.correspond" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <select *ngIf="!disableEdit" id="language{{recordId}}" required class="form-control" [formControl]="contactDetailForm.controls['language'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let langOpt of languageList" [ngValue]="langOpt.id"> {{langOpt | textTransform: lang }}</option>
          </select>

          <input *ngIf="disableEdit" id="language{{recordId}}" class="form-control full-width" 
            [formControl]="contactDetailForm.controls['language'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
      <div class="form-group col-sm-4">
        <label for="jobTitle{{recordId}}" class="required full-width">
          <span class="field-name">{{'job.title'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactDetailForm.controls['jobTitle'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['jobTitle'] | formControl"
                            controlId="jobTitle{{recordId}}" label="job.title" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="jobTitle" id="jobTitle{{recordId}}" class="form-control full-width" maxlength="45" 
            [formControl]="contactDetailForm.controls['jobTitle'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
        <label for="phoneNumber{{recordId}}" class="required full-width">
          <span class="field-name" >{{'phone.number'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactDetailForm.controls['phoneNumber'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['phoneNumber'] | formControl"
                            controlId="phoneNumber{{recordId}}" label="phone.number" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="phoneNumber" id="phoneNumber{{recordId}}" class="form-control only-digits full-width" maxlength="25" data-only-digits
                [formControl]="contactDetailForm.controls['phoneNumber'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="phoneExtension{{recordId}}">
          <span class="field-name" >{{'phone.extension' |translate}}</span>
          <input name="phoneExtension" id="phoneExtension{{recordId}}" class="form-control" maxlength="10" data-only-digits 
            [formControl]="contactDetailForm.controls['phoneExtension'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
        <label class="full-width" for="faxNumber{{recordId}}">
          <span class="field-name" >{{'fax.number' |translate}}</span>
          <control-messages *ngIf="contactDetailForm.controls['faxNumber'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['faxNumber'] | formControl"
                            controlId="faxNumber{{recordId}}" label="fax.number" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="faxNumber" id="faxNumber{{recordId}}" class="form-control full-width only-digits" maxlength="25" data-only-digits
                 [formControl]="contactDetailForm.controls['faxNumber'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
        <label for="email{{recordId}}" class="required full-width">
          <span class="field-name" >{{'contact.email'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactDetailForm.controls['email'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactDetailForm.controls['email'] | formControl"
                            controlId="email{{recordId}}" label="contact.email" parentId="contactDetails"
                            translatedParentLabel="{{translatedParentLabel}}"></control-messages>
          <input name="email" id="email{{recordId}}" class="form-control full-width" maxlength="50" 
            [formControl]="contactDetailForm.controls['email'] | formControl" [readonly]="disableEdit"/>
        </label>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
        <label for="routingId{{recordId}}">
          <span class="field-name">{{'routing.id' |translate}}</span>
          <sup id="co4a-rf">
            <a class="fn-lnk" href="#co4a"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.routIdInx}}</a>
          </sup>
          <input name="routingId" id="routingId{{recordId}}" class="form-control full-width"
                 [formControl]="contactDetailForm.controls['routingId'] | formControl" maxlength="64" [readonly]="disableEdit"/>
        </label>
      </div>
    </div>
    <!-- <pre>{{contactDetailForm.value |json}}</pre>-->
  </div>
</div>
