<div role="alert" class="alert alert-info" *ngIf="showAmendNote">
  <p>{{'amend.note' | translate}}</p>
</div>

<div class="row" *ngIf="!isInternal">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ng-container *ngIf="lang === 'en'">
      <p>First time users of this form cannot select a file to load and must create an XML file by completing all the
        required fields below and clicking on the "Save draft XML" button at the bottom of this form. </p>
      <p>For subsequent uses of this form, upload the last final XML file, you received from Health Canada, by clicking on the “Choose File” button and selecting the XML file. If you are using a previously submitted .xml file, please update the appropriate fields and verify that the details are accurate for the current transaction prior to filing. If you do not have the final XML file, contact medical device directorate at <a href="mailto:devicelicensing-homologationinstruments@hc-sc.gc.ca">devicelicensing-homologationinstruments@hc-sc.gc.ca</a></p>

      <p>If you partially complete the form and click on the "Save working copy" button at the bottom of the form it
        will save a copy on the local workstation for completion at a later time. The file will be saved in the .hcsc
        file format.</p>
      <p>The working copies (files with extension .hcsc) should never be sent to Health Canada and must be finalized prior to sending.</p>
    </ng-container>
    <ng-container *ngIf="lang === 'fr'">
      <p>Les nouveaux utilisateurs du formulaire ne peuvent pas sélectionner et télécharger un fichier. Ceci étant dit,
        ils doivent créer un fichier XML en remplissant les champs obligatoires ci-dessous et en cliquant sur le bouton
        «Enregister le brouillon XML» au bas du formulaire.</p>
      <p>Pour les utilisations subséquentes de ce formulaire, téléchargez le dernier fichier XML final que vous avez reçu de Santé Canada, en cliquant sur le bouton « Choisir un fichier » et en sélectionnant le fichier XML. Si vous utilisez un fichier .xml précédemment soumis, veuillez mettre à jour les champs appropriés et vérifier que les détails sont exacts pour la transaction actuelle avant de soumettre le formulaire.Si vous ne disposez pas du fichier XML final, contactez la Direction des instruments médicaux à <a href="mailto:devicelicensing-homologationinstruments@hc-sc.gc.ca">devicelicensing-homologationinstruments@hc-sc.gc.ca</a></p>
      <p>Si vous remplissez partiellement le formulaire et souhaiter procéder ultérieurement, cliquez sur le bouton
        «Enregistrer la copie de travail» au bas du formulaire. Une copie sera enregistrée sur le poste de travail en
        format .hcsc.</p>
      <p>Les copies de travail (fichiers portant l'extension .hcsc) ne doivent jamais être envoyées à Santé
        Canada et doivent être finalisées avant l'envoi.</p>
    </ng-container>
  </div>
</div>