<div>
  <div [formGroup]="feesForm">
      <div class="row">
        <div>
          <span class="field-name col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ 'fees.text' |translate }}</span>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <label for="fees" class="required full-width">
            <span class="field-name">{{ 'fees.paid' |translate }}</span>
            <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong> 
            <control-messages *ngIf="feesForm.controls['feeAmount'].invalid"
              [showError]="showErrors"
              [control]="feesForm.controls['feeAmount'] | formControl"
              controlId="feeAmount"
              label="feeAmount"
              parentId="cspFees">              
            </control-messages>
            <input class="form-control"
              id="feeAmount"
              type="number"
              [formControlName]="'feeAmount'">    
          </label>

          <label for="fees" class="required full-width">
            <span class="field-name">{{ 'pay.method' |translate }}</span>
            <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong> 
            <control-messages *ngIf="feesForm.controls['payMethod'].invalid"
              [showError]="showErrors"
              [control]="feesForm.controls['payMethod'] | formControl"
              controlId="payMethod"
              label="payMethod"
              parentId="cspFees">              
            </control-messages>
            <select id="payMethod" required class="form-control "
                [formControlName]="'payMethod'">
                <option label=" " value=""></option>
                <option *ngFor="let payMethod of payMethodOptions" [value]="payMethod.id"> {{ payMethod| textTransform: lang }}</option>
            </select>  
          </label>
        </div>
    </div>
  </div>

