<div [formGroup]="cRRow">
  <div id="deviceErrorSummary">
    <lib-error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
    [errorList]="errorList" headingPreamble="{{headingPreamble}}" headingPreambleParams="{{headingPreambleParams}}"
    [headingLevel]="headingLevel" label="error.msg.deviceDetails" compId="deviceListTable"></lib-error-summary> 
  </div>
    <div [formGroupName]="'deviceInfo'">
        <div class="row">
            <div class="form-group col-sm-12">
              <label for="deviceName{{j}}" class="required full-width">
                <span class="field-name">{{'device.name'|translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="cRRow.get('deviceInfo.deviceName').invalid"
                                  [showError]="showErrors"
                                  [control]="cRRow.get('deviceInfo.deviceName') | formControl"
                                  controlId="deviceName{{j}}" label="device.name" parentId="deviceDetails"
                                  parentLabel="{{translatedParentLabel}}"></control-messages>
                <textarea id="deviceName{{j}}" name="deviceName" class="form-control full-width"
                       [formControlName]="'deviceName'" maxlength="150"></textarea>
              </label>
            </div>
          </div>
      
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="deviceAuthorized{{j}}" class="required full-width">
                <span class="field-name">{{'device.authorized' |translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="cRRow.get('deviceInfo.deviceAuthorized').invalid"
                                  [showError]="showErrors"
                                  [control]="cRRow.get('deviceInfo.deviceAuthorized') | formControl"
                                  controlId="deviceAuthorized{{j}}" label="device.authorized" parentId="deviceDetails"
                                  parentLabel="{{translatedParentLabel}}"></control-messages>
      
                <select id="deviceAuthorized{{j}}" name="deviceAuthorized{{j}}" required class="form-control" (change)="onDeviceAuthorizedChange($event)"
                        [formControlName]="'deviceAuthorized'">
      
                  <option label=" " value=""></option>
                  <option *ngFor="let yesno of yesNoList" [value]="yesno.id"> {{yesno | textTransform: lang}}</option>
                </select>
              </label>
            </div>
            @if(deviceAuthorized) {
              <div class="form-group col-sm-12 ">
                <label for="licenceNum{{j}}" class="required">
                  <span class="field-name">{{'licence.application.number' |translate}} {{'minNumber6' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <!--<sup id="ap7-rf">-->
                    <!--<a class="fn-lnk" href="#ap7"><span class="wb-inv">{{'instruction'|translate}}</span>7</a>-->
                  <!--</sup>-->
                  <control-messages *ngIf="cRRow.get('deviceInfo.licenceNum').invalid"
                    [showError]="showErrors"
                    [control]="cRRow.get('deviceInfo.licenceNum') | formControl"
                    controlId="licenceNum{{j}}" label="licence.application.number" parentId="deviceDetails"
                    parentLabel="{{translatedParentLabel}}"></control-messages>
                  <input id="licenceNum{{j}}" name="licenceNum" class="form-control" data-only-digits maxlength="6"
                        [formControlName]="'licenceNum'" minlength="6" required/>
                </label>
              </div>
            }
            @if(deviceNotAuthorized) {
            <div class="form-group col-sm-12">
              <label for="deviceApplicationSubmitted{{j}}" class="required full-width">
                <span class="field-name">{{'device.application.submitted' |translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="cRRow.get('deviceInfo.deviceApplicationSubmitted').invalid"
                  [showError]="showErrors"
                  [control]="cRRow.get('deviceInfo.deviceApplicationSubmitted') | formControl"
                  controlId="deviceApplicationSubmitted{{j}}" label="device.application.submitted" parentId="deviceDetails"
                  parentLabel="{{translatedParentLabel}}"></control-messages>
      
                <select id="deviceApplicationSubmitted{{j}}" name="deviceApplicationSubmitted" class="form-control" (change)="onDeviceAppChange($event)"
                        required [formControlName]="'deviceApplicationSubmitted'">
      
                  <option label=" " value=""></option>
                  <option *ngFor="let yesno of yesNoList" [value]="yesno.id"> {{yesno | textTransform : lang}}</option>
                </select>
              </label>
            </div>
            }
            
            @if(deviceAppSubmitted) {
            <div class="form-group col-sm-12 ">
              <label for="deviceApplicationNumber{{j}}" class="required">
                <span class="field-name">{{'application.number' |translate}} {{'minNumber6' |translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="cRRow.get('deviceInfo.deviceApplicationNumber').invalid"
                  [showError]="showErrors"
                  [control]="cRRow.get('deviceInfo.deviceApplicationNumber') | formControl"
                  controlId="deviceApplicationNumber{{j}}" label="application.number" parentId="deviceDetails"
                  parentLabel="{{translatedParentLabel}}"></control-messages>
                <input id="deviceApplicationNumber{{j}}" name="deviceApplicationNumber" class="form-control" required
                       data-only-digits maxlength="6" minlength="6" [formControlName]="'deviceApplicationNumber'"/>
              </label>
            </div>
            }
            
            @if(deviceAppNotSubmitted) {
            <div class="form-group col-sm-12">
              <label for="deviceExplain{{j}}" class="required full-width">
                <span class="field-name">{{'device.explain'|translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="cRRow.get('deviceInfo.deviceExplain').invalid"
                  [showError]="showErrors"
                  [control]="cRRow.get('deviceInfo.deviceExplain') | formControl"
                  controlId="deviceExplain{{j}}" label="device.explain" parentId="deviceDetails"
                  parentLabel="{{translatedParentLabel}}"></control-messages>
                <textarea id="deviceExplain{{j}}" name="deviceExplain" class="form-control full-width"
                          required [formControlName]="'deviceExplain'" rows="5" maxlength="1000"></textarea> 
              </label>
            </div>
            }
        <div class="row">
          <div class="btn-group-sm col-xs-12 text-left">
           
              <button id="saveDeviceRecord{{j}}" attr.aria-label="{{'save.device' | translate}} {{'heading.interdependent.device' | translate: {seqnumber: j + 1} }}" class="btn btn-primary" style="margin: 3px" (click)="saveDeviceRecord(j)" >{{'save.device'|translate}}</button>
              <button id="deleteDeviceRecord{{j}}" attr.aria-label="{{'delete.device' | translate}} {{'heading.interdependent.device' | translate: {seqnumber: j + 1} }}" class="btn btn-danger" style="margin: 3px" (click)="deleteDeviceRecord(j)" >{{'delete.device'|translate}}</button>
              <button id="revertDeviceRecord{{j}}" attr.aria-label="{{'discard.changes' | translate}} {{'heading.interdependent.device' | translate: {seqnumber: j + 1} }}" class="btn btn-default" style="margin: 3px" [disabled]="disabledDiscardButton()" (click)="revertDeviceRecord(j, cRRow.controls['id'].value)" >{{'discard.changes'|translate}}</button>
            
          </div>
        </div>
        <!-- <pre>{{materialFormLocalModel.value |json}}</pre>-->
    </div>
</div>
    