
<aside id="no-border" class="wb-fnote" role="note">
  <dl>
      <dt>{{helpTextSequences.loadFileIndx}}</dt>
      <dd id="ap1">
        <p class="fn-rtn"><a href="#ap1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'load.file'|translate}}</p>
          <ul>
              <li>{{'help.file.load_1'|translate}}</li>
              <li>{{'help.file.load_2'|translate}}</li>
          </ul>
        </div>
      </dd>

      <dt>{{helpTextSequences.appInfoREPIndx}}</dt>
      <dd id="ap2">
        <p class="fn-rtn"><a href="#ap2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['appInfoREPIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'heading.app-info'|translate}}</p>
          <ul>
              <li>{{'help.app.info_1'|translate}}</li>
              <li>{{'help.app.info_2'|translate}}</li>
          </ul>
        </div>
      </dd>

      <dt>{{helpTextSequences.mdsapNumIndx}}</dt>
      <dd id="ap3">
        <p class="fn-rtn"><a href="#ap3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['mdsapNumIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'mdsap.number' |translate}}</p>
          <p>{{'help.mdsap' |translate}}</p>
        </div>
      </dd>

      <dt>{{helpTextSequences.mdsapOrgIndx}}</dt>
      <dd id="ap4">
        <p class="fn-rtn"><a href="#ap4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['mdsapOrgIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'mdsap.org' |translate}}</p>
          <p>{{'help.mdsap' |translate}}</p>
        </div>
      </dd>

      <dt>{{helpTextSequences.licAppTypeIndx}}</dt>
      <dd id="ap5">
        <p class="fn-rtn"><a href="#ap5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['licAppTypeIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'licence.app.type' |translate}}</p>
          <p>{{'help.refer.to' |translate}}<a href="{{'help.lic.app.type_1' |translate}}">
              {{'help.lic.app.type_2' |translate}} </a></p>
        </div>
      </dd>

      <dt>{{helpTextSequences.devClsIndx}}</dt>
      <dd id="ap6">
        <p class="fn-rtn"><a href="#ap6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['devClsIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'device.class' |translate}}</p>
          <p>{{'help.refer.to' |translate}}<a href="{{'help.device.class_1' |translate}}">
              {{'help.device.class_2' |translate}}</a></p>
        </div>              
      </dd>

      <!--<dt>7</dt>-->
      <!--<dd id="ap7">-->
      <!--<p>{{'licence.application.number' |translate}}</p>-->
      <!--<p>Add leading 000s if licence number is less than 6 digit.</p>-->
      <!--<p class="fn-rtn"><a href="#ap7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>7-->
          <!--<span class="wb-inv"> referrer</span></a></p>-->
      <!--</dd>
-->
      <dt>{{helpTextSequences.cfmDecIndx}}</dt>
      <dd id="ap8">
        <p class="fn-rtn"><a href="#ap8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['cfmDecIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'section.show.option'|translate}}{{'conformity.declaration' |translate}}</p>
          <p>{{'help.refer.to' |translate}}<a href="{{'help.confm.declar_1' |translate}}">
              {{'help.confm.declar_2' |translate}}</a>
          </p>
        </div>
      </dd>

      <dt>{{helpTextSequences.priRevIndx}}</dt>
      <dd id="ap9">
        <p class="fn-rtn"><a href="#ap9-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['priRevIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        <div class="fn-rep">
          <p>{{'priority.review' |translate}}</p>
          <p>{{'help.priority.rev' |translate}}</p>
        </div>
      </dd>

  </dl>
</aside>