<div>
  <div [formGroup]="patentInformationForm">
    <div class="row">
      <div class="col-sm-6">
        <label for="patentNumber" class="required">
          <span
            ><b>{{ "patent.Id" | translate }}</b></span
          >
          <strong class="required">{{
            "commmon.required.bracket" | translate
          }}</strong>
          <control-messages
            *ngIf="patentInformationForm.controls['patentNumber'].invalid"
            [showError]="showErrors"
            parentId="cspCertif"
            [control]="
              patentInformationForm.controls['patentNumber'] | formControl
            "
            controlId="patentNumber"
            label="patentNumber"
          ></control-messages>
          <input
            class="form-control"
            id="patentNumber"
            data-only-digits
            [formControlName]="'patentNumber'" maxlength="7"
          />
        </label>
      </div>

      <div class="col-sm-6">
        <label for="patentFillingDate" class="required">
          <span
            ><b>{{ "filling.date" | translate }}</b></span
          >
          <strong class="required">{{
            "commmon.required.bracket" | translate
          }}</strong>
          <control-messages
            *ngIf="patentInformationForm.controls['patentFillingDate'].invalid"
            [showError]="showErrors"
            parentId="cspCertif"
            [control]="
              patentInformationForm.controls['patentFillingDate'] | formControl
            "
            controlId="patentFillingDate"
            label="patentFillingDate"
          ></control-messages>
          <input
            class="form-control"
            id="patentFillingDate"
            type="date"
            [formControlName]="'patentFillingDate'"
            (blur)="onDateInput($event)"
          />
        </label>
      </div>

      <div class="col-sm-6">
        <label for="patentGrandDate" class="required">
          <span
            ><b>{{ "grand.date" | translate }}</b></span
          >
          <strong class="required">{{
            "commmon.required.bracket" | translate
          }}</strong>
          <control-messages
            *ngIf="patentInformationForm.controls['patentGrandDate'].invalid"
            [showError]="showErrors"
            parentId="cspCertif"
            [control]="
              patentInformationForm.controls['patentGrandDate'] | formControl
            "
            controlId="patentGrandDate"
            label="patentGrandDate"
          ></control-messages>
          <input
            class="form-control"
            id="patentGrandDate"
            type="date"
            [formControlName]="'patentGrandDate'"
            (blur)="onDateInput($event)"
          />
        </label>
      </div>

      <div class="col-sm-6">
        <label for="patendExpirationDate" class="required">
          <span
            ><b>{{ "expiration.date" | translate }}</b></span
          >
          <strong class="required">{{
            "commmon.required.bracket" | translate
          }}</strong>
          <control-messages
            *ngIf="
              patentInformationForm.controls['patendExpirationDate'].invalid
            "
            [showError]="showErrors"
            parentId="cspCertif"
            [control]="
              patentInformationForm.controls['patendExpirationDate']
                | formControl
            "
            controlId="patendExpirationDate"
            label="patendExpirationDate"
          ></control-messages>
          <input
            class="form-control"
            id="patendExpirationDate"
            type="date"
            [formControlName]="'patendExpirationDate'"
            (blur)="onDateInput($event)"
          />
        </label>
      </div>

    </div>
  </div>
</div>
