<div>
    <div [formGroup]="contactFormLocalModel">
       <div class="row">
        <div class="form-group col-sm-6" >
          <label for="{{contactType}}FirstName" class="required full-width">
            <span class="field-name">{{'first.name'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['firstName'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['firstName'] | formControl"
                              controlId="{{contactType}}FirstName" label="first.name" parentId="{{contactType}}Info"></control-messages>
            <input name="firstName" id="{{contactType}}FirstName" class="form-control full-width" maxlength="60" 
              [formControl]="contactFormLocalModel.controls['firstName'] | formControl"/>
          </label>
        </div>
        <div class="form-group col-sm-6" >
          <label for="{{contactType}}LastName" class="required full-width">
            <span class="field-name">{{'last.name'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['lastName'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['lastName'] | formControl"
                              controlId="{{contactType}}LastName" label="last.name" parentId="{{contactType}}Info"></control-messages>
            <input name="lastName" id="{{contactType}}LastName" class="form-control full-width" maxlength="60" 
              [formControl]="contactFormLocalModel.controls['lastName'] | formControl"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" >
          <label for="{{contactType}}Language" class="required">
            <span class="field-name">{{'lang.correspond' |translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['language'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['language'] | formControl"
                              controlId="{{contactType}}Language" label="lang.correspond" parentId="{{contactType}}Info"></control-messages>
            <select id="{{contactType}}Language" required class="form-control" [formControl]="contactFormLocalModel.controls['language'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let langOption of languageList" [value]="langOption.id">{{langOption | textTransform: lang }}</option>
            </select>
          </label>
        </div>
        <div class="form-group col-sm-6">
          <label for="{{contactType}}JobTitle" class="required full-width">
            <span class="field-name">{{'job.title'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['jobTitle'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['jobTitle'] | formControl"
                              controlId="{{contactType}}JobTitle" label="job.title" parentId="{{contactType}}Info"></control-messages>
            <input name="jobTitle" id="{{contactType}}JobTitle" class="form-control full-width" maxlength="60" 
            [formControl]="contactFormLocalModel.controls['jobTitle'] | formControl"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" >
          <label for="{{contactType}}PhoneNumber" class="required full-width">
            <span class="field-name">{{'phone.number'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['phoneNumber'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['phoneNumber'] | formControl"
                              controlId="{{contactType}}PhoneNumber" label="phone.number" parentId="{{contactType}}Info"
                              requiredLength="10"></control-messages>
            <input name="phoneNumber" id="{{contactType}}PhoneNumber" class="form-control full-width" data-only-digits
              [formControl]="contactFormLocalModel.controls['phoneNumber'] | formControl" maxlength="25"/>
          </label>
        </div>
        <div class="form-group col-sm-3">
          <label for="{{contactType}}PhoneExtension">
            <span class="field-name">{{'phone.extension' |translate}}</span>
            <input name="phoneExtension" id="{{contactType}}PhoneExtension" class="form-control" maxlength="10" data-only-digits
            [formControl]="contactFormLocalModel.controls['phoneExtension'] | formControl"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label class="full-width" for="{{contactType}}FaxNumber">
            <span class="field-name">{{'fax.number' |translate }}</span><br/>
            <span class="field-name small">{{'fax.number.nofaxnum' |translate }}</span>
            <control-messages *ngIf="contactFormLocalModel.controls['faxNumber'].invalid" [showError]="showFieldErrors"
              [control]="contactFormLocalModel.controls['faxNumber'] | formControl" controlId="{{contactType}}FaxNumber" label="fax.number"
              parentId="{{contactType}}Info" requiredLength="10"></control-messages>
            <input name="faxNumber" id="{{contactType}}FaxNumber" class="form-control full-width" data-only-digits maxlength="25"
                   [formControl]="contactFormLocalModel.controls['faxNumber'] | formControl"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" >
          <label for="{{contactType}}Email" class="required full-width">
            <span class="field-name">{{'contact.email'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="contactFormLocalModel.controls['email'].invalid"
                              [showError]="showFieldErrors"
                              [control]="contactFormLocalModel.controls['email'] | formControl"
                              controlId="{{contactType}}Email" label="contact.email" parentId="{{contactType}}Info"></control-messages>
            <input name="email" id="{{contactType}}Email" class="form-control full-width" maxlength="80" 
              [formControl]="contactFormLocalModel.controls['email'] | formControl" />
          </label>
        </div>
        
      </div>
    </div>
  </div>