<ng-container *ngFor="let recordRow of rowsFormArray.controls; let i=index;">

  <h4 id="expand-row-{{i}}" class="clickableRow" role="button" [ngClass]="{'selected': recordRow.get('expandFlag').value}"
    (click)="toggleExpand(i, recordRow.get('expandFlag').value)">
    <span [ngClass]="{'fa-caret-right':!recordRow.get('expandFlag').value, 'fa-caret-down': recordRow.get('expandFlag').value }"></span>
    {{accordionHeadingMsgKey | translate}}&nbsp; {{recordRow.get('id').value}}
  </h4>

  <ng-container *ngTemplateOutlet="tmplRef; context: {$implicit: recordRow, i: i}"></ng-container>
</ng-container>