<div [formGroup]="regulartoryFormModel">
    <div class="row">
        <div class="form-group col-xs-12 minWidth300">
            <label for="dossierId" class="required full-width">
                <span class="field-name">{{ 'dossier.id'|translate }} {{ 'alphanumeric6or7'|translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <sup id="tr2-rf">
                    <a class="fn-lnk" href="#tr2"><span
                            class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex.dossierIdIndx}}</a>
                </sup>
                <control-messages *ngIf="regulartoryFormModel.controls['dossierId'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['dossierId'] | formControl" controlId="dossierId"
                    label="dossier.id" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <span class="rep-input-group">
                    <input id="dossierId" name="dossierId" class="form-control full-width" (blur)="onblur()"
                        [formControl]="regulartoryFormModel.controls['dossierId'] | formControl" maxlength="8" />
                </span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class=".form-inline form-group col-xs-6 minWidth300">
            <label for="masterFileName" class="required full-width">
                <span class="field-name">{{ 'masterfile.name'|translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['masterFileName'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['masterFileName'] | formControl"
                    controlId="masterFileName" label="masterfile.name" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <input id="masterFileName" name="masterFileName" class="form-control full-width" (blur)="onblur()"
                    [formControl]="regulartoryFormModel.controls['masterFileName'] | formControl" maxlength="256"
                    toUppercase />
            </label>
        </div>
        <div class=".form-inline form-group col-xs-6 minWidth300">
            <label for="masterFileNumber" class="full-width">
                <span class="field-name">{{ 'masterfile.number'|translate }} </span>
                <control-messages *ngIf="regulartoryFormModel.controls['masterFileNumber'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['masterFileNumber'] | formControl"
                    controlId="masterFileNumber" label="masterfile.number" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <input id="masterFileNumber" name="masterFileNumber" class="form-control full-width" (blur)="onblur()"
                    [formControl]="regulartoryFormModel.controls['masterFileNumber'] | formControl" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label for="masterFileType" class="required">
                <strong>{{'masterfile.type'|translate}}</strong>
                <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['masterFileType'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['masterFileType'] | formControl"
                    controlId="masterFileType" label="masterfile.type" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <select id="masterFileType" name="masterFileType" class="form-control"
                    (change)="onMfTypeSelected($any($event.target).value)"
                    [formControl]="regulartoryFormModel.controls['masterFileType'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let mfType of mfTypeOptions" [ngValue]="mfType"> {{mfType | textTransform: lang }}
                    </option>
                </select>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="selectedMfTypeDefinition">
        <div class="form-group col-xs-12">
            <div class="col-xs-12 form-group alert alert-info" role="alert">
                <span>
                    <p aria-live="polite">{{selectedMfTypeDefinition}}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 minWidth300">
            <label for="masterFileUse" class="required full-width">
                <span class="field-name">{{ 'masterfile.use' |translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['masterFileUse'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['masterFileUse'] | formControl"
                    controlId="masterFileUse" label="masterfile.use" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <select id="masterFileUse" name="masterFileUse" required class="form-control full-width"
                    (change)="onblur()"
                    [formControl]="regulartoryFormModel.controls['masterFileUse'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let mfUse of mfUseOptions" [ngValue]="mfUse"> {{ mfUse | textTransform: lang }}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 minWidth300">
            <label for="descriptionType" class="required full-width">
                <span class="field-name">{{ 'transaction.description' |translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['descriptionType'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['descriptionType'] | formControl"
                    controlId="descriptionType" label="transaction.description" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <select id="descriptionType" name="descriptionType" required class="form-control full-width"
                    (change)="onTxDescriptionSelected($any($event.target).value)"
                    [formControl]="regulartoryFormModel.controls['descriptionType'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let desc of txDescOptions" [ngValue]="desc"> {{ desc | textTransform: lang  }}</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="selectedTxDescDefinition">
        <div class="form-group col-xs-12">
            <div class="col-xs-12 form-group alert alert-info" role="alert">
                <span>
                    <p aria-live="polite">{{selectedTxDescDefinition}}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showDateAndRequester">
        <div class="form-group col-xs-6">
            <label for="requestDate" class="required full-width">
                <span class="field-name">{{ 'request.date' |translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['requestDate'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['requestDate'] | formControl" controlId="requestDate"
                    label="request.date" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
                <input id="requestDate" name="requestDate" type="date" class="form-control full-width" (blur)="onblur()"
                    [formControl]="regulartoryFormModel.controls['requestDate'] | formControl" min="1970-01-01"
                    max="2099-12-31" pattern="\d{4}-\d{2}-\d{2}" />
            </label>
        </div>

        <div class="form-group col-xs-6">
            <label for="requester" class="required full-width">
                <span class="field-name" i18n>{{'requester.title'|translate}}</span>
                <strong class="required" aria-hidden="true" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="regulartoryFormModel.controls['requester'].invalid"
                    [showError]="showFieldErrors"
                    [control]="regulartoryFormModel.controls['requester'] | formControl" controlId="requester"
                    label="requester.title" parentId="regulatoryInfo"
                    parentLabel="MasterFile Information"></control-messages>
            </label>
            <input id="requester" name="requester" type="text" class="form-control full-width" (blur)="onblur()"
                [formControl]="regulartoryFormModel.controls['requester'] | formControl">
        </div>
    </div>