<div>
    <div [formGroup]="primContactFormLocalModel">
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="renewalContactName" class="full-width">
            <span class="field-name">{{'des.renewal' |translate}}
                <sup id="co6-rf">
                  <a class="fn-lnk" href="#co6"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.desRenewalInx}}</a>
                </sup>
            </span>
            <select id="renewalContactName" class="form-control" (blur)="onblur()" [formControl]="primContactFormLocalModel.controls['renewalContactName'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let opt of activeContactList" [ngValue]="opt"> {{opt}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="financeContactName" class="full-width">
            <span class="field-name">{{'des.finance' |translate}}
                <sup id="co7-rf">
                  <a class="fn-lnk" href="#co7"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.desFinanceInx}}</a>
                </sup>
            </span>
            <select id="financeContactName" class="form-control" (blur)="onblur()" [formControl]="primContactFormLocalModel.controls['financeContactName'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let opt of activeContactList" [ngValue]="opt"> {{opt}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
      <!-- <pre>{{primContactFormLocalModel.value |json}}</pre>-->
  </div>
  