/* You can add global styles to this file, and also import other style files */
@import 'font-awesome/css/font-awesome.css';
@import '../node_modules/@hpfb/sdk/css/rep.css';

label > select {
    margin-top: 5px;
    font-weight: normal;
}
label > input {
    margin-top: 5px;
    font-weight: normal;
}

.upperCase {
    text-transform: uppercase;
}

.btn-mailto {
    font-weight: normal;
    background-color: #1c578a;
    cursor: pointer;
}

.btn-mailto.bold {
    font-weight: bold;
}

.btn-mailto.disabled {
    background-color: #5a9bd4;
    cursor: not-allowed;
}