<div>
    <div [formGroup]="regulartoryInfoForm">
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="dossierType" class="required">
                    <span class="field-name">{{ 'dossier.type'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <sup id="tr2-rf">
                        <a class="fn-lnk" href="#tr2"><span
                                class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['dossierTypeIndx']}}</a>
                    </sup>
                    <control-messages *ngIf="regulartoryInfoForm.controls['dossierType'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['dossierType'] | formControl" controlId="dossierType"
                        label="dossier.type" parentId="regulatoryInfo"></control-messages>
                </label>
                <select id="dossierType" name="dossierType" required class="form-control"
                    [formControlName]="'dossierType'" (change)="onDossierTypeSelected($any($event.target).value)">
                    <option label=" " value=""></option>
                    <option *ngFor="let item of dossierTypeOptions" [value]="item.id"> {{ item | textTransform: lang }}</option>
                </select>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="selectedDossierTypeDefinition">
            <div class="alert alert-info" role="alert">
                <p aria-live="polite">{{selectedDossierTypeDefinition}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="companyId" class="required">
                    <span class="field-name">{{'company.id'|translate }}&nbsp;{{'5digits.only'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <sup id="tr3-rf">
                        <a class="fn-lnk" href="#tr3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['compIdIndx']}}</a>
                    </sup>
                    <control-messages *ngIf="regulartoryInfoForm.controls['companyId'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['companyId'] | formControl"
                        controlId="companyId" label="company.id" parentId="regulatoryInfo"></control-messages>
                </label>
                <input id="company.id" name="companyId" class="form-control" data-only-digits
                        [formControlName]="'companyId'" minlength="5" maxlength="5" size="6"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="dossierId" class="required">
                    <span class="field-name">{{ 'dossier.id'|translate }} {{ 'dossier.id.format'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <sup id="tr4-rf">
                        <a class="fn-lnk" href="#tr4"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['dossierIdIndx']}}</a>
                    </sup>
                    <control-messages *ngIf="regulartoryInfoForm.controls['dossierId'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['dossierId'] | formControl" controlId="dossierId"
                        label="dossier.id" parentId="regulatoryInfo"></control-messages>
                </label>
                <input id="dossierId" name="dossierId" class="form-control" 
                            [formControlName]="'dossierId'" maxlength="8" size="7" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="productName" class="required">
                    <span class="field-name">{{ 'product.name'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <sup id="tr5-rf">
                        <a class="fn-lnk" href="#tr5"><span
                                class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['prodNameIndx']}}</a>
                    </sup>
                    <control-messages *ngIf="regulartoryInfoForm.controls['productName'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['productName'] | formControl" controlId="productName"
                        label="product.name" parentId="regulatoryInfo"></control-messages>
                </label>
                <textarea id="productName" name="productName" class="form-control full-width"
                            [formControlName]="'productName'" maxlength="400" ></textarea>
            </div>
          </div>
          <div class="row form-group" *ngIf="isPharmaBio()">
            <fieldset class="col-md-12 chkbxrdio-grp">
              <legend class="required" id="isPriority">
                {{'is.priority' |translate}}
                <strong class="required"> {{'commmon.required.bracket' |translate}}</strong>
                <sup id="tr6-rf">
                  <a class="fn-lnk" href="#tr6"><span
                      class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['prioRevIndx']}}</a>
                </sup>
                <control-messages *ngIf="regulartoryInfoForm.controls['isPriority'].invalid" [showError]="showFieldErrors"
                  [control]="regulartoryInfoForm.controls['isPriority'] | formControl" controlId="isPriority"
                  label="is.priority" parentId="regulatoryInfo"></control-messages>
              </legend>
              <ng-container *ngFor="let yesno of yesNoList; let i = index">
                <label for="isPriority{{i}}" class="radio-inline">
                  <input type="radio"
                    id="isPriority{{i}}" name="isPriority" [value]="yesno.id" 
                    [formControl]="regulartoryInfoForm.controls['isPriority'] | formControl" required/>
                  {{yesno | textTransform: lang }}
                  </label>
               </ng-container>
            </fieldset>
        </div>
        <div class="row form-group" *ngIf="isPharmaBio()">
            <fieldset class="col-md-12 chkbxrdio-grp">
              <legend class="required" id="isPriority">
                {{'is.noc' |translate}}
                <strong class="required"> {{'commmon.required.bracket' |translate}}</strong>
                <sup id="tr7-rf">
                  <a class="fn-lnk" href="#tr7"><span
                      class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['nocRevIndx']}}</a>
                </sup>
                <control-messages *ngIf="regulartoryInfoForm.controls['isNOC'].invalid" [showError]="showFieldErrors"
                  [control]="regulartoryInfoForm.controls['isNOC'] | formControl" controlId="isNOC"
                  label="is.noc" parentId="regulatoryInfo"></control-messages>
              </legend>
              <ng-container *ngFor="let yesno of yesNoList; let i = index">
                <label for="isNOC{{i}}" class="radio-inline">
                  <input type="radio"
                    id="isNOC{{i}}" name="isNOC" [value]="yesno.id" 
                    [formControl]="regulartoryInfoForm.controls['isNOC'] | formControl" required/>
                  {{yesno | textTransform: lang }}
                  </label>
               </ng-container>
            </fieldset>
        </div>
        <div class="row form-group" *ngIf="dossierTypeSelected()">
            <fieldset class="col-md-12 chkbxrdio-grp">
              <legend class="required" id="isPriority">
                {{'is.admin.submission' |translate}}
                <strong class="required"> {{'commmon.required.bracket' |translate}}</strong>
                <sup id="tr8-rf">
                  <a class="fn-lnk" href="#tr8"><span
                      class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['adminSubIndx']}}</a>
                </sup>
                <control-messages *ngIf="regulartoryInfoForm.controls['isAdminSubmission'].invalid" [showError]="showFieldErrors"
                  [control]="regulartoryInfoForm.controls['isAdminSubmission'] | formControl" controlId="isAdminSubmission"
                  label="is.admin.submission" parentId="regulatoryInfo"></control-messages>
              </legend>
              <ng-container *ngFor="let yesno of yesNoList; let i = index">
                <label for="isAdminSubmission{{i}}" class="radio-inline">
                  <input type="radio" (change)="onAdminSubmissionSelected($event)"
                    id="isAdminSubmission{{i}}" name="isAdminSubmission" [value]="yesno.id" 
                    [formControl]="regulartoryInfoForm.controls['isAdminSubmission'] | formControl" required/>
                  {{yesno | textTransform: lang }}
                  </label>
               </ng-container>
            </fieldset>
        </div>
        <div role="alert" class="alert alert-info" *ngIf="isAdminSubmission()">
            <p>{{'refer.to.guide.doc'|translate}}
                <a href="{{'admin.guide.doc.url'|translate}}">{{'admin.guide.doc'|translate}}</a>
            </p>
            <p>{{'admin.guide.doc.note'|translate}}</p>
            <p>{{'admin.guide.doc.note2'|translate}}</p>
        </div>
        <ng-container *ngIf="isAdminSubmission()">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label for="adminSubType" class="required">
                        <span class="field-name">{{'admin.sub.type'|translate }}</span>
                        <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                        <control-messages *ngIf="regulartoryInfoForm.controls['adminSubType'].invalid"
                            [showError]="showFieldErrors"
                            [control]="regulartoryInfoForm.controls['adminSubType'] | formControl" controlId="adminSubType"
                            label="admin.sub.type" parentId="regulatoryInfo"></control-messages>
                    </label>
                    <select id="adminSubType" name="adminSubType" required class="form-control"
                        [formControlName]="'adminSubType'" (change)="onAdminSubTypeSelected($event)">
                        <option label=" " value=""></option>
                        <option *ngFor="let item of adminSubTypeOptions" [value]="item.id"> {{ item | textTransform: lang }}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='ADDITIONAL_PRODUCT_CHGE'">
                <ul>
                    <li>{{'addition.prod.name.note.1'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'addition.prod.name.note.2'| translate}}</p>
                    <p>{{'addition.prod.name.note.3'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='OWNERSHIP_CHGE'">
                <ul>
                    <li>{{'ownership.change.note.1'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'ownership.change.note.2'| translate}}</p>
                    <p>{{'ownership.change.note.3'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='POSTAUTH_CHEMISTRY_CHGE'">
                <ul>
                    <li>{{'chemistry.update.note'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'use.existing.ids.note'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='POSTAUTH_LABEL_CHGE'">
                <ul>
                    <li>{{'label.update.note'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'use.existing.ids.note'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='LICENGSING'">
                <ul>
                    <li>{{'licensing.agreements.note.1'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'licensing.agreements.note.2'| translate}}</p>
                    <p>{{'licensing.agreements.note.3'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='PRODUCT_MANUFACT_NAME_CHGE' || selectedAdminSubType==='MANUFACT_NAME_CHGE'">
                <ul>
                    <li>{{'manu.prod.name.change.note.1'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'manu.prod.name.change.note.2'| translate}}</p>
                    <p>{{'manu.prod.name.change.note.3'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='MERGER'">
                <ul>
                    <li>{{'merger.note.1'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'merger.note.2'| translate}}</p>
                    <p>{{'merger.note.3'| translate}}</p>
                </div>
            </div>
            <div *ngIf="selectedAdminSubType ==='PRODUCT_NAME_CHGE'">
                <ul>
                    <li>{{'prod.name.change.note'| translate}}</li>
                </ul>
                <div role="alert" class="alert alert-info">
                    <p>{{'use.existing.ids.note'| translate}}</p>
                </div>
            </div>
        </ng-container>
        <section class="panel  panel-default">
        <header class="panel-heading clearfix group-beside">
            <h3 class="panel-title">{{'heading.transaction.details'|translate}}
            <sup id="tr3-rf">
            <!-- <a class="fn-lnk mrgn-tp-md" href="#tr3"><span
                class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['holderAddrIndx']}}</a> -->
            </sup>
            </h3>
        </header>
        <div class="panel-body">
            todo
        </div>
        </section>
                  <!--        
        <div class="row" *ngIf="selectedMfTypeDefinition">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info" role="alert">
                    <p aria-live="polite">{{selectedMfTypeDefinition}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="masterFileUse" class="required full-width">
                    <span class="field-name">{{ 'masterfile.use' |translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['masterFileUse'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['masterFileUse'] | formControl"
                        controlId="masterFileUse" label="masterfile.use" parentId="regulatoryInfo"></control-messages>
                    <select id="masterFileUse" name="masterFileUse" required class="form-control full-width"
                        [formControlName]="'masterFileUse'">
                        <option label=" " value=""></option>
                        <option *ngFor="let mfUse of mfUseOptions" [value]="mfUse.id"> {{ mfUse| textTransform: lang }}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="descriptionType" class="required full-width">
                    <span class="field-name">{{ 'transaction.description' |translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['descriptionType'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['descriptionType'] | formControl"
                        controlId="descriptionType" label="transaction.description" parentId="regulatoryInfo"></control-messages>
                    <select id="descriptionType" name="descriptionType" required class="form-control full-width"
                        (change)="onTxDescriptionSelected($any($event.target).value)"
                        [formControlName]="'descriptionType'">
                        <option label=" " value=""></option>
                        <option *ngFor="let desc of txDescOptions" [value]="desc.id"> {{ desc | textTransform: lang }}
                        </option>
                    </select>
                </label>
            </div>
        </div>
       <div class="row" *ngIf="selectedTxDescDefinition">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info" role="alert">
                    <p aria-live="polite">{{selectedTxDescDefinition}}</p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="showDateAndRequester()">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="requestDate" class="required">
                    <span class="field-name">{{ 'request.date' |translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['requestDate'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['requestDate'] | formControl" controlId="requestDate"
                        label="request.date" parentId="regulatoryInfo"></control-messages>
                    <input id="requestDate" name="requestDate" type="date" class="form-control"
                         (input)="checkDateValidity($event)"
                        [formControlName]="'requestDate'" />
                </label>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="requester" class="required full-width">
                    <span class="field-name">{{'requester.title'|translate}}</span>
                    <strong class="required" aria-hidden="true">{{'commmon.required.bracket'|translate}}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['requester'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['requester'] | formControl" controlId="requester"
                        label="requester.title" parentId="regulatoryInfo"></control-messages>
                </label>
                <input id="requester" name="requester" type="text" class="form-control full-width" 
                    [formControlName]="'requester'">
            </div>
        </div>
        <div class="row form-group" *ngIf="showReqRevisedTxDesc()">
            <fieldset class="col-md-12 chkbxrdio-grp"
                data-ng-class="{'has-error':regulartoryInfoForm.controls['reqRevision'].$invalid}">
                <legend class="required" id="reqRevision">
                    {{'req.revision' |translate}}
                    <strong class="required"> {{'commmon.required.bracket' |translate}}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['reqRevision'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['reqRevision'] | formControl" controlId="reqRevision"
                        label="req.revision" parentId="regulatoryInfo"></control-messages>
                </legend>
                <ul class="form-group form-inline list-unstyled">
                    <li class="label-inline" *ngFor="let yesno of yesNoList; let i = index">
                        <label for="reqRevision{{i}}">
                        <input type="radio" name="reqRevision" id="reqRevision{{i}}" [value]="yesno.id" 
                            (change)="reqRevisionChanged($event)"
                            [formControlName]="'reqRevision'" required />
                        {{ yesno | textTransform: lang }}</label>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="row" *ngIf="showRevisedTxDesc()">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="revisedDescriptionType" class="required full-width">
                    <span class="field-name">{{ 'revised.transaction.description' |translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="regulartoryInfoForm.controls['revisedDescriptionType'].invalid"
                        [showError]="showFieldErrors"
                        [control]="regulartoryInfoForm.controls['revisedDescriptionType'] | formControl"
                        controlId="revisedDescriptionType" label="revised.transaction.description" parentId="regulatoryInfo"></control-messages>
                    <select id="revisedDescriptionType" name="revisedDescriptionType" required class="form-control full-width"
                        [formControlName]="'revisedDescriptionType'">
                        <option label=" " value=""></option>
                        <option *ngFor="let desc of revTxDescOptions" [value]="desc.id"> {{ desc | textTransform: lang }}
                        </option>
                    </select>
                </label>
            </div>
        </div>
 -->
    </div>
</div>