<div [formGroup]="requesterListForm">
  <div formArrayName="requesters">
    <expander-component [group]="dataModel"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [deleteRecord]="deleteRecordMsg">
      <requester-record
        [detailsChanged]="updateRequesterDetails"
        [requesterModel]="requesterModel"
        [userList]="userList"
        [newRecordIndicator]="false"
        (saveRecord)="saveRequesterRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertRequester($event)" (deleteRecord)="deleteRequester($event)"></requester-record>

    </expander-component>
    <div *ngIf="newRecordIndicator">
      <requester-record
        [detailsChanged]="updateRequesterDetails"
        [requesterModel]="requesterModel"
        [showErrors]="showErrors"
        [userList]="userList"
        [group]="newRequesterForm"
        [newRecordIndicator]="newRecordIndicator"
        (saveRecord)="saveRequesterRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertRequester($event)" (deleteRecord)="deleteRequester($event)"></requester-record>
    </div>
  </div>
  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-left">
      <button class="btn btn-primary" (click)="addRequester()"
              [disabled]="!requesterListForm.valid">
       {{'add.requester'|translate}}
      </button>
    </div>
  </div>
<!--pre>Form Data {{requesterListForm.value |json}}</pre>
  <pre>Data Model for Requester List {{dataModel|json}}</pre-->
</div>
