<div id="{{componentId}}" *ngIf="hiddenSummary">
  <section class="alert alert-danger" tabindex="-1" [ngSwitch]="hdingLevel">
    <h1 *ngSwitchCase="'h1'">
      <!--<span i18n>For</span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h1>
    <h2 *ngSwitchCase="'h2'">
      <!--<span i18n>For</span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h2>
    <h3 *ngSwitchCase="'h3'">
      <!--<span i18n>For</span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h3>
    <h4 *ngSwitchCase="'h4'">
      <!--<span i18n>For</span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h4>
    <h5 *ngSwitchCase="'h5'">
      <!--<span i18n>For </span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h5>
    <h6 *ngSwitchCase="'h6'">
      <!--<span i18n>For </span>--><span> {{headingPreamble |translate}}</span>
      <span i18n>{{'error.found.because'|translate}}</span>
      <span i18n>{{errorList.length}}</span>
      <span i18n *ngIf="errorList?.length>1">{{'error.found.plural'|translate}}</span>
      <span i18n *ngIf="errorList?.length<2">{{'error.found.singular'|translate}}</span>
    </h6>
    <ul>
      <ng-container *ngFor = "let controlError of errorArray">
        <li *ngIf="controlError.type==='ErrorSummaryComponent'">
          <a href="#{{controlError.componentId}}" target="_self" (click)="processEvents(controlError)">{{controlError.label}}
          has errors</a>
        </li>
        <li *ngIf="controlError.type==='leastOneRecordError'">
          <a href="#{{controlError.tableId}}" target="_self" (click)="processEvents(controlError)">{{'error.msg.contact.one.record'|translate}}</a>
        </li>
        <li *ngIf="controlError.type!=='ErrorSummaryComponent'&& controlError.type!='leastOneRecordError'">
          <ng-container *ngIf="controlError.error !== 'minlength'">
            <a *ngIf="controlError.controlId.indexOf('holder') === 0" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)">
              {{ 'label.holder' | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}
            </a>
            <a *ngIf="controlError.controlId.indexOf('agent') === 0" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)">
              {{ 'label.agent' | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}
            </a>
            <a *ngIf="!(controlError.controlId.indexOf('holder') === 0) && !(controlError.controlId.indexOf('agent') === 0)" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)">
              {{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}
            </a>
          </ng-container>
          
          <ng-container *ngIf="controlError.error === 'minlength'">
            <a *ngIf="controlError.controlId.indexOf('holder') === 0" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)" i18n>
              {{ 'label.holder' | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}{{ controlError.minLength }}{{ 'minlength.number' | translate }}
            </a>
            <a *ngIf="controlError.controlId.indexOf('agent') === 0" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)" i18n>
              {{ 'label.agent' | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}{{ controlError.minLength }}{{ 'minlength.number' | translate }}
            </a>
            <a *ngIf="!(controlError.controlId.indexOf('holder') === 0) && !(controlError.controlId.indexOf('agent') === 0)" [href]="'#' + controlError.controlId" target="_self" (click)="processEvents(controlError)" i18n>
              {{ controlError.compRef.label | translate }}&nbsp;&#8208;&nbsp;{{ controlError.compRef.currentError | translate }}{{ controlError.minLength }}{{ 'minlength.number' | translate }}
            </a>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </section>
  <!-- <pre>{{errors|json}}</pre>-->
  <!-- <pre *ngFor="let parentError of errors | keys"></pre>-->
</div>
