<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['loadFileIndx']}}</dt>
        <dd id="tr1">
            <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx']}}
				<span class="wb-inv">{{'load.file'|translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'load.file'|translate}}</p>
                <ul>
                    <li>{{'hlp_load2'|translate}}</li>
                    <li>{{'hlp_load3'|translate}}</li> 
                </ul>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['dossierIdIndx']}}</dt>
        <dd id="tr2">
            <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.dossierIdIndx}}
                <span class="wb-inv">{{'dossier.id'|translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'dossier.id'|translate}}</p>
                <p [innerHTML]="'instruction.dossier.id.line1'|translate"></p>
                <p [innerHTML]="'instruction.dossier.id.line2'|translate"></p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['holderAddrIndx']}}</dt>
        <dd id="tr3">
            <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.holderAddrIndx}}
                <span class="wb-inv">{{'heading.holder.address'|translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'heading.holder.address'|translate}}</p>
                <p>{{'hlp_holder.address1' | translate}}</p>
                <p>{{'hlp_holder.address2' | translate}}</p>
                <p>{{'hlp_holder.address3' | translate}}</p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['agentAddrIndx']}}</dt>
        <dd id="tr4">
            <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.agentAddrIndx}}
                <span class="wb-inv">{{'heading.agent.address' |translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'heading.agent.address' |translate}}</p>
                <p>{{'hlp_agent.address' | translate}}</p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['confmValidIndx']}}</dt>
        <dd id="tr5">
            <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.confmValidIndx}}
                <span class="wb-inv">{{'info.confirmation' |translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'info.confirmation' |translate}}</p>
                <p>{{'hlp_confirm' | translate}}</p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['feeNoteIndx']}}</dt>
        <dd id="tr6">
            <p class="fn-rtn"><a href="#tr6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.feeNoteIndx}}
                <span class="wb-inv">{{'panel.title.fees' |translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'section.show.option'|translate}} {{'panel.title.fees' |translate}}</p>
                <p>{{'hlp_fee.note'|translate}}</p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['accessLetrIndx']}}</dt>
        <dd id="tr7">
            <p class="fn-rtn"><a href="#tr7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.accessLetrIndx}}
                <span class="wb-inv">{{'are.access.letters' |translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'section.show.option'|translate}} {{'are.access.letters' |translate}}</p>
                <p>{{'hlp_access.letter' |translate}}</p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['accountNumIndx']}}</dt>
        <dd id="tr8">
            <p class="fn-rtn"><a href="#tr8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                {{helpTextSequences.accountNumIndx}}
                <span class="wb-inv">{{'account.num'|translate}}</span></a></p>
            <div class="fn-rep">
                <p>{{'section.show.option'|translate}} {{'account.num'|translate}}</p>
                <p>{{'hlp_account.num'|translate}}</p>
            </div>
        </dd>
    </dl>
  </aside>
  