<div>
  <div [formGroup]="addressForm">
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="{{addrType}}CompanyName" class="required full-width">
          <span class="field-name">{{'company.name.full'|translate}}</span>
          <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressForm.controls['companyName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['companyName'] | formControl"
                            controlId="{{addrType}}CompanyName" label="company.name.full" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
        <input name="companyName" id="{{addrType}}CompanyName" class="form-control full-width" 
                 [formControlName]="'companyName'" maxlength="200"/>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="form-group col-xs-6" >-->
        <!--<label for="businessNum">-->
          <!--<span class="field-name">{{'business.num' |translate}}</span>-->
          <!--<sup id="co3-rf">-->
            <!--<a class="fn-lnk" href="#co3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.busNumInx}}</a>-->
          <!--</sup>-->
          <!--<input name="businessNum" id="businessNum" class="form-control full-width"-->
                 <!--[formControl]="addressForm.controls.businessNum"   maxlength="9"/>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="{{addrType}}Address" class="required full-width">
          <span class="field-name">{{'addressDetails.street'|translate}}</span>
          <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressForm.controls['address'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['address'] | formControl"
                            controlId="{{addrType}}Address" label="addressDetails.street" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
        <input name="address" id="{{addrType}}Address" class="form-control full-width" 
            [formControlName]="'address'" maxlength="250"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-xs-12" >
        <label for="{{addrType}}City" class="required full-width">
          <span class="field-name">{{'addressDetails.city'|translate}}</span>
          <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressForm.controls['city'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['city'] | formControl"
                            controlId="{{addrType}}City" label="addressDetails.city" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
        <input name="city" id="{{addrType}}City" class="form-control full-width"  
                 [formControlName]="'city'" maxlength="60"/>
      </div>
      <div class="form-group col-sm-5 col-xs-12" >
        <label class="required full-width" for="{{addrType}}Country">
          <span class="field-name">{{'addressDetails.country'|translate}}</span>
          <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressForm.controls['country'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['country'] | formControl"
                            controlId="{{addrType}}Country" label="addressDetails.country" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
        <select id="{{addrType}}Country" required [formControlName]="'country'" class="required form-control"                      
                (change)="onCountryChange($event)">
          <option label=" " value=""></option>
          <option *ngFor="let ctry of countryList" [value]="ctry.id">{{ ctry| textTransform: lang }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div *ngIf="isCanadaOrUSA()" class="form-group col-xs-12 col-sm-6" >
        <label for="{{addrType}}ProvState" class="required full-width">
          <span class="field-name">{{provinceLabel |translate}}</span>
          <strong *ngIf="isCanadaOrUSA()" class="required">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressForm.controls['provState'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['provState'] | formControl"
                            controlId="{{addrType}}ProvState" label="{{provinceLabel}}" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
        <select id="{{addrType}}ProvState" required class="form-control full-width"  [formControlName]="'provState'">
          <option label=" " value=""></option>
          <option *ngFor="let prov of provStateList" [ngValue]="prov.id"> {{prov | textTransform: lang}}</option>
        </select>
      </div>
      <div *ngIf="!isCanadaOrUSA()" class="form-group col-xs-12 col-sm-6">
        <label for="{{addrType}}ProvText" class="full-width">
          <span class="field-name">{{'addressDetails.provState'|translate}}</span>
        </label>
        <input name="provText" id="{{addrType}}ProvText" class="form-control full-width" 
                 [formControlName]="'provText'" maxlength="40"/>
      </div>
      <div class="form-group col-sm-6 col-xs-12">
        <label for="{{addrType}}Postal" class="required">
          <span class="field-name">{{ postalLabel |translate}}</span>
          <strong class="required">{{'commmon.required.bracket'|translate}}</strong><br/>
          <span *ngIf="!isCanadaOrUSA()" class="field-name small">{{'postal.not.applicable' |translate }}</span>
          <control-messages *ngIf="addressForm.controls['postal'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressForm.controls['postal'] | formControl"
                            controlId="{{addrType}}Postal" label="{{postalLabel}}" parentId="{{addrType}}Info"
                            translatedParentLabel="{{addrGroupLabelKey|translate}}"></control-messages>
        </label>
          <input *ngIf="!isCanadaOrUSA()" name="postal" id="{{addrType}}Postal" class="form-control" [formControlName]="'postal'"  
                 maxlength="20" />
          <input *ngIf="isCanada()" name="postal" id="{{addrType}}Postal" class="form-control" [formControlName]="'postal'"  
                 maxlength="6" />
          <input *ngIf="isUsa()" name="postal" id="{{addrType}}Postal" class="form-control" [formControlName]="'postal'"  
                 maxlength="5" data-only-digits/>       
    </div>
    <!-- <pre>{{addressForm.value |json}}</pre> -->
  </div>
</div>
