aside#no-border {
    border: none;
}

.wb-fnote .fn-rep{
    margin-top: 3.075em ;  
}

.wb-fnote .fn-rep p{
    margin: 0 0 11.5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}
