<div class="container-fluid wb-frmvld wb-init wb-frmvld-inited">
  <form name="MasterFileForm" [formGroup]="masterFileForm" novalidate>
    <div class="row mrgn-tp-md">
      <div class="col-md-12">
        <div class="text-right">
          <span id="securityInfo" class="fa fa-shield fa-sm"><strong>&nbsp;{{'PROTECTED_B'|translate}}</strong></span>
        </div>
      </div>
    </div>
    <div>
      <section class="panel panel-primary mrgn-tp-lg">
        <header class="panel-heading clearfix">
          <h2 class="panel-title">{{'load.file'|translate}}
            <sup id="tr1-rf">
              <a class="fn-lnk mrgn-tp-md" href="#tr1"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['loadFileIndx']}}</a>
            </sup>
          </h2>
        </header>
        <div class="panel-body"> 
          <!-- <file-reader (complete)="processFile($event)" [rootTag]="rootTagText"></file-reader> -->
          <lib-file-reader (complete)="processFile($event)" [rootTag]="rootTagText" [lang]="lang">
            <app-filereader-instruction fileUploadInstruction [lang]="lang"></app-filereader-instruction>
          </lib-file-reader>
        </div>
      </section>
    </div>
  </form>
</div>