/* You can add global styles to this file, and also import other style files */
@import 'font-awesome/css/font-awesome.css';
@import '../node_modules/@hpfb/sdk/css/rep.css';

label > input {
    margin-top: 5px;
    font-weight: normal;
}

label > select {
    margin-top: 5px;
    font-weight: normal;
}

h3.panel-title{
    line-height: 25px;
}

@media (max-width: 365px) {  /* nested error to help some overlapping */
    .panel-body .alert > ul {
        margin-left: 0px;
        padding-left: 14px;
    }
  }