<div>
    <div [formGroup]="adminChangesFormLocalModel">
      <div *ngIf="showAmendInfo[1]" class="row row-center">
        <div class="col-xs-12 form-group alert alert-info" role="alert">
             <span>
              <p aria-live="polite">{{'manufacturer.name.listed'|translate}}</p>
             </span>
        </div>
      </div>
      <div *ngIf="showAmendInfo[2]" class="row row-center">
        <div class="col-xs-12 form-group alert alert-info" role="alert">
             <span>
              <p aria-live="polite">{{'manufacturer.address.listed'|translate}}</p>
             </span>
        </div>
      </div>
      <div *ngIf="showAmendInfo[3]" class="row row-center">
        <div class="col-xs-12 form-group alert alert-info" role="alert">
             <span>
              <p aria-live="polite">{{'include.attestation'|translate}}</p>
             </span>
        </div>
      </div>
  
      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'impacted.licence'|translate}}</h3>
          </header>
          <div class="panel-body">
            <!--<licence-list  [licenceModel]="licenceModel" [showErrors]="showErrors" [isInternal]="isInternal"-->
                          <!--(errors)="processLicenceErrors($event)" (licenceModelUpdate)="processLicenceUpdate($event)">-->
            <!--</licence-list>-->
            <div class="row">
              <div class="form-group col-xs-12" >
                <label for="licenceNumbers" class="required full-width" aria-required="true">
                  <span class="field-name" i18n>{{'all.licence.num'|translate}}</span>
                  <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                  <sup id="co8-rf">
                    <a class="fn-lnk" href="#co8"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.licenseNumsInx}}</a>
                  </sup>
                  <control-messages *ngIf="adminChangesFormLocalModel.controls['licenceNumbers'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="adminChangesFormLocalModel.controls['licenceNumbers'] | formControl"
                                    controlId="licenceNumbers" label="all.licence.num" parentId="adminChangesDetails"
                                    parentLabel="Admin Changes"></control-messages>
                  <textarea rows="6" type="text" id="licenceNumbers" class="form-control rep-margin-top" (blur)="licNumOnblur()"
                         [formControl]="adminChangesFormLocalModel.controls['licenceNumbers'] | formControl" maxlength="4000">
                  </textarea>
                </label>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="row row-center">
        <div class="form-group col-xs-12" >
          <label for="isReguChange" class="required full-width">
            <span class="field-name" i18n>{{'is.change' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="adminChangesFormLocalModel.controls['isReguChange'].invalid"
                              [showError]="showFieldErrors"
                              [control]="adminChangesFormLocalModel.controls['isReguChange'] | formControl"
                              controlId="isReguChange" label="is.change" parentId="adminChangesDetails"
                              parentLabel="Admin Changes"></control-messages>
            <select id="isReguChange" required class="form-control" (blur)="onblur()" [formControl]="adminChangesFormLocalModel.controls['isReguChange'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
            </select>
          </label>
        </div>
      </div>
  
      <div class="row row-center" *ngIf="isReguChange()">
        <div class="form-group col-xs-6" >
          <label for="newCompanyId" class="required full-width" aria-required="true">
            <span class="field-name" i18n>{{'new.company.id'|translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="adminChangesFormLocalModel.controls['newCompanyId'].invalid"
                              [showError]="showFieldErrors"
                              [control]="adminChangesFormLocalModel.controls['newCompanyId'] | formControl"
                              controlId="newCompanyId" label="new.company.id" parentId="adminChangesDetails"
                              parentLabel="Admin Changes"></control-messages>
            <input name="newCompanyId" id="newCompanyId" class="form-control full-width" (blur)="onblur()"
                   [formControl]="adminChangesFormLocalModel.controls['newCompanyId'] | formControl" maxlength="6"/>
          </label>
        </div>
        <div class="form-group col-xs-6" >
          <label for="newContactId" class="full-width">
            <span class="field-name" i18n>{{'new.contact.id'|translate}}</span>
            <input name="newContactId" id="newContactId" class="form-control full-width"  (blur)="onblur()"
                   [formControl]="adminChangesFormLocalModel.controls['newContactId'] | formControl" maxlength="5"/>
          </label>
        </div>
      </div>
      <div class="row row-center" *ngIf="isReguChange()">
        <div class="form-group col-xs-6" >
          <label for="newContactName" class="required full-width" aria-required="true">
            <span class="field-name" i18n>{{'new.contact.name'|translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="adminChangesFormLocalModel.controls['newContactName'].invalid"
                              [showError]="showFieldErrors"
                              [control]="adminChangesFormLocalModel.controls['newContactName'] | formControl"
                              controlId="newContactName" label="new.contact.name" parentId="adminChangesDetails"
                              parentLabel="Admin Changes"></control-messages>
            <input name="newContactName" id="newContactName" class="form-control full-width"  (blur)="onblur()"
                   [formControl]="adminChangesFormLocalModel.controls['newContactName'] | formControl" maxlength="40"/>
          </label>
        </div>
      </div>
  
      <div class="row row-center">
        <div class="col-xs-12 form-group alert alert-info" role="alert">
             <span>
              <p aria-live="polite">{{'include.page1'|translate}}</p>
             </span>
        </div>
      </div>
      <!-- <pre>{{adminChangesFormLocalModel.value |json}}</pre>-->
    </div>
  </div>
  