<div>
  <div [formGroup]="noticeOfComplianceForm">
    <div class="row">
        <div class="col-sm-6">
        <label for="nocDate" class="required">
          <span>{{ "noc.date" | translate }}
            <strong class="required" aria-hidden="true">{{"commmon.required.bracket" | translate}}</strong>
          </span>
          <control-messages
            *ngIf="noticeOfComplianceForm.controls['nocDate'].invalid"
            [showError]="showErrors"
            parentId="cspNocDate"
            [control]="
              noticeOfComplianceForm.controls['nocDate'] | formControl
            "
            controlId="nocDate"
            label="noc.date"
          ></control-messages>
          <input
            class="form-control"
            id="nocDate"
            type="date"
            [formControlName]="'nocDate'"
            (blur)="onDateInput($event)"
          />
        </label>
      </div>

  </div>
</div>

