<div>
  <div [formGroup]="addressFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="{{addrType}}companyName" class="required full-width">
          <span class="field-name" i18n>{{'company.name.full'|translate}}</span>
          <strong class="required" i18n aria-required="true">{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['companyName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['companyName'] | formControl"
                            controlId="companyName" label="company.name.full" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <input name="companyName" id="{{addrType}}companyName" class="form-control full-width" (blur)="onblur()"
                 [formControl]="addressFormLocalModel.controls['companyName'] | formControl" maxlength="200"/>
        </label>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="form-group col-xs-6" >-->
        <!--<label for="businessNum">-->
          <!--<span class="field-name">{{'business.num' |translate}}</span>-->
          <!--<sup id="co3-rf">-->
            <!--<a class="fn-lnk" href="#co3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.busNumInx}}</a>-->
          <!--</sup>-->
          <!--<input name="businessNum" id="businessNum" class="form-control full-width"-->
                 <!--[formControl]="addressFormLocalModel.controls.businessNum" (blur)="onblur()"  maxlength="9"/>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="{{addrType}}Address" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'addressDetails.street'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['address'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['address'] | formControl"
                            controlId="{{addrType}}Address" label="addressDetails.street" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <input name="address" id="{{addrType}}Address" class="form-control full-width" (blur)="onblur()"
            [formControl]="addressFormLocalModel.controls['address'] | formControl" maxlength="80"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-xs-12" >
        <label for="{{addrType}}City" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'addressDetails.city'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['city'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['city'] | formControl"
                            controlId="{{addrType}}City" label="addressDetails.city" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <input name="city" id="{{addrType}}City" class="form-control full-width"  (blur)="onblur()"
                 [formControl]="addressFormLocalModel.controls['city'] | formControl" maxlength="60"/>
        </label>
      </div>
      <div class="form-group col-sm-5 col-xs-12" >
        <label for="{{addrType}}Country" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'addressDetails.country'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['country'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['country'] | formControl"
                            controlId="{{addrType}}Country" label="addressDetails.country" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <div class="margin-top-small">
			      <ng-select id="{{addrType}}CountrySelect" [formControl]="addressFormLocalModel.controls['country'] | formControl" class="required custom"                      
                       (typed)="typed()"
                       (blur)="typed()"
                       (add)="typed()"
                       (selected)="processCountry()">
                  <ng-option id="{{addrType}}Country" *ngFor="let ctry of countries" [value]="ctry.id" class="select-choice">{{lang=='en' ? ctry.en : ctry.fr}}</ng-option>
            </ng-select>
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!showProvText" class="form-group col-xs-12 col-sm-6" >
        <label for="{{addrType}}ProvState" class="required full-width">
          <span class="field-name">{{provinceLabel |translate}}</span>
          <strong *ngIf="!showProvText" class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['provList'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['provList'] | formControl"
                            controlId="{{addrType}}ProvState" label="{{provinceLabel}}" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <select id="{{addrType}}ProvState" required class="form-control full-width" (blur)="onblur()" [formControl]="addressFormLocalModel.controls['provList'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let prov of provStateList" [ngValue]="prov.id"> {{prov | textTransform: lang}}</option>
          </select>
        </label>
      </div>
      <div *ngIf="showProvText" class="form-group col-xs-12 col-sm-6">
        <label for="{{addrType}}provText" class="full-width">
          <span class="field-name">{{'addressDetails.provState'|translate}}</span>
          <input name="provText" id="{{addrType}}provText" class="form-control full-width" (blur)="onblur()"
                 [formControl]="addressFormLocalModel.controls['provText'] | formControl" maxlength="40"/>
        <!--  <control-messages *ngIf="addressFormLocalModel.controls['provText'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['provText']"
                            controlId="provText" label="addressDetails.provState" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>-->
        </label>
      </div>
      <div class="form-group col-sm-6 col-xs-12">
        <label for="{{addrType}}Postal" [ngClass]="{'required':showPostalRequired}" aria-required="true">
          <span class="field-name" i18n>{{'addressDetails.postalCode' |translate}}</span>
          <strong *ngIf="showPostalRequired" class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="addressFormLocalModel.controls['postal'].invalid"
                            [showError]="showFieldErrors"
                            [control]="addressFormLocalModel.controls['postal'] | formControl"
                            controlId="{{addrType}}Postal" label="addressDetails.postalCode" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
          <input name="postal" id="{{addrType}}Postal" class="form-control" [formControl]="addressFormLocalModel.controls['postal'] | formControl"  (blur)="onblur()"
                 maxlength="10" />
        </label>
    </div>
    <!-- <pre>{{addressFormLocalModel.value |json}}</pre>-->
  </div>
</div>
