<div [formGroup]="contactListForm">
  <!--<lib-error-summary *ngIf="showErrorsSummary()" [hiddenSummary]="showErrorsSummary()"-->
                 <!--[errorList]="errorList" headingPreamble="heading.contactInfo"-->
                 <!--[headingLevel]="headingLevel" label="Company Representative Record(s)" compId="contactList"></error-summary>-->
  <div formArrayName="contacts" id="contactListTable">
    <lib-expander [group]="dataModel" [disableExpand]="!isInternal && newRecordIndicator"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [loadFileIndicator]="loadFileIndicator"
                        [deleteRecord]="deleteRecordMsg"
                        [xmlStatus]="xmlStatus">
      <company-contact-record
        [detailsChanged]="updateContactDetails" [isInternal]="isInternal"
        [showErrors]="showErrors" [lang]="lang"
        [newRecord]="newRecordIndicator"
        [hasRecords]="dataModel.length > 0"
        [isListVilad]="validRec"
        [helpTextSequences]="helpTextSequences"
        (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertContact($event)" (deleteRecord)="deleteContact($event)"></company-contact-record>

    </lib-expander>
    <div *ngIf="newRecordIndicator">
      <company-contact-record
        [detailsChanged]="updateContactDetails" [isInternal]="isInternal" [lang]="lang"
        [group]="newContactForm"
        [helpTextSequences]="helpTextSequences"
        [newRecord]="newRecordIndicator"
        [showErrors]="showErrors"
        [hasRecords]="dataModel.length > 0"
        (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertContact($event)" (deleteRecord)="deleteContact($event)"></company-contact-record>
    </div>
  </div>
  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-left">
      <button class="btn btn-primary" (click)="addContact()" id="addContactBtn" 
              [disabled]="!validRec || isDirty()">
       {{'add.repres'|translate}}
      </button>
    </div>
  </div>
  <pre>Form Data {{contactListForm.value |json}}</pre>
  <pre>Data Model for Contact List {{dataModel|json}}</pre>
</div>
