<div [formGroup]="contactListForm"  id="contactListTable">
  <!--<lib-error-summary *ngIf="showErrorsSummary()" [hiddenSummary]="showErrorsSummary()"-->
  <!--[errorList]="errorList" headingPreamble="heading.contactInfo"-->
  <!--[headingLevel]="headingLevel" label="Company Representative Record(s)" compId="contactList"></lib-error-summary>-->  
  
  <lib-accordion [rowsFormArray]="contactList" [accordionHeadingMsgKey]="'heading.contactDetails'" (rowClicked)="handleRowClick($event)">

    <ng-template #tmpl let-recordRow let-idx="i">
      <!-- ==={{recordRow.get('id').value}}=== -->
      <!-- === index = {{idx}} ,  === -->
      <company-contact-record *ngIf="recordRow.get('expandFlag').value" 
        [cRRow]="recordRow" [isInternal]="isInternal"
        [languageList]="languageList" [contactStatusList]="contactStatusList" [showErrors]="showErrors" [lang]="lang"
        [helpTextSequences]="helpTextSequences" (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)" (revertRecord)="revertContact($event)"
        (deleteRecord)="deleteContact($event)"></company-contact-record>
    </ng-template>

  </lib-accordion>

  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-left">
      <button class="btn btn-primary" (click)="addContact()" id="addContactBtn" [disabled]="!validRec || isDirty()">
        {{'add.repres'|translate}}
      </button>
    </div>
  </div>
  <!-- <pre>Form Data {{contactListForm.value |json}}</pre>
  <pre>Data Model for Contact List {{contactModel|json}}</pre> -->
</div>
