<div>
  <div [formGroup]="newDrugSubmissionInfoForm">
    <div class="row">
        <div class="col-sm-6">
        <label for="ndsNumber" class="required">
          <span>{{ "new.drug.submission.info.nds.number" | translate }}
            <strong class="required" aria-hidden="true">{{"commmon.required.bracket" | translate}}</strong>
          </span>
          <control-messages
            *ngIf="newDrugSubmissionInfoForm.controls['ndsNumber'].invalid"
            [showError]="showErrors"
            parentId="cspNocDate"
            [control]="newDrugSubmissionInfoForm.controls['ndsNumber'] | formControl"
            controlId="ndsNumber"
            label="new.drug.submission.info.nds.number"
          ></control-messages>
          <input
            class="form-control"
            id="ndsNumber"
            data-only-digits
            [formControlName]="'ndsNumber'" maxlength="6"
           />
        </label>
      </div>

  </div>
</div>

