<div [formGroup]="priorityReviewLocalModel">
    <div class="row">
        <div class="form-group col-xs-12">
        <label for="isPriorityReq" class="full-width">
        <span class="field-name">{{'is.priority.req' |translate}}</span>
        <!-- <control-messages *ngIf="appInfoFormLocalModel.controls['isPriorityReq'].invalid"
                            [showError]="showFieldErrors"
                            [control]="appInfoFormLocalModel.controls['isPriorityReq'] | formControl"
                            controlId="isPriorityReq" label="is.priority.requested" parentId="appInfoDetails"></control-messages> -->
        <select id="isPriorityReq" name="isPriorityReq" required class="form-control"
                (change)="priorityRequestedOnChange()" [formControl]="priorityReviewLocalModel.controls['isPriorityReq'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
        </select>
        </label>
    </div>
    </div> 
    <div *ngIf="showDiagnosisReasons()">
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <fieldset class="chkbxrdio-grp" id="diagnosisReasons">
            <legend class="required">
                <span class="field-name">{{'priority.rev.devices' | translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="diagnosisReasonChkFormArray.invalid"
                                [showError]="showFieldErrors"
                                [control]="diagnosisReasonChkFormArray | formControl"
                                controlId="diagnosisReasons" label="priority.rev.devices"
                                parentId="priorityReview"></control-messages>
            </legend>
            <ul class="form-group list-unstyled">
            <li class="checkbox" [formArrayName]="'diagnosisReasons'" *ngFor="let reason of diagnosisReasonChkFormArray.controls; let i = index">
                <label for={{seriousDiagnosisReasonOptionList[i].value}}>
                <input type="checkbox" id={{seriousDiagnosisReasonOptionList[i].value}} [formControl]="reason | formControl" (change)="seriousDiagnosisOnChange()"/> {{seriousDiagnosisReasonOptionList[i].label}}
                </label>
            </li>
            </ul>
        </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-info" role="alert">
            <!-- Combined paragraph for screen readers -->
            <p aria-live="polite" class="sr-only">
                {{'priority.rationale' | translate}}
                {{'priority.rationale.01' | translate}}, 
                {{'priority.rationale.02' | translate}}, 
                {{'priority.rationale.03' | translate}}
            </p>

            <!-- Original content for visual display -->
            <p>{{'priority.rationale' | translate}}</p>
            <ul aria-hidden="true">
                <li>{{'priority.rationale.01' | translate}}</li>
                <li>{{'priority.rationale.02' | translate}}</li>
                <li>{{'priority.rationale.03' | translate}}</li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>