<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['loadFileIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['loadFileIndx'][1]">
            <div class="fn-rep">
                <p>{{'load.file'|translate}}</p>
                <ul>
                    <li>{{'ht.load.file.1'|translate}}</li>
                    <li>{{'ht.load.file.2'|translate}}</li>
                    <li>{{'ht.load.file.3'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['loadFileIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                    {{helpTextSequences.loadFileIndx[0]}}</a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['companyEnrolmentIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['companyEnrolmentIndx'][1]">
            <div class="fn-rep">
                <p>{{'company.enrolment'|translate}}</p>
                <ul>
                    <li>{{'ht.company.enrolment.1'|translate}}</li>
                    <li>{{'ht.company.enrolment.2'|translate}}</li>
                    <li>{{'ht.company.enrolment.3'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['companyEnrolmentIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                    {{helpTextSequences.companyEnrolmentIndx[0]}}</a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['reasonIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['reasonIndx'][1]">
            <div class="fn-rep">
                <p>{{'reason.filing'|translate}}</p>
                <p>{{'example'|translate}}</p>
                <ul>
                    <li>{{'ht.reason.filing.1'|translate}}</li>
                    <li>{{'ht.reason.filing.2'|translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['reasonIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                    {{helpTextSequences.reasonIndx[0]}}</a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['addressInfoIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['addressInfoIndx'][1]">
            <div class="fn-rep">
                <p>{{'address.info' |translate}}</p>
                <ul>
                    <li>{{'ht.address.info.1' | translate}}</li>
                    <li>{{'ht.address.info.2' | translate}}</li>
                    <li>{{'ht.address.info.3' | translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['addressInfoIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                        {{helpTextSequences.addressInfoIndx[0]}}</a></p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['businessNumIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['businessNumIndx'][1]">
            <div class="fn-rep">
                <p>{{'business.number' |translate}}</p>
                <p [innerHTML]="'ht.business.number' | translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['businessNumIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                        {{helpTextSequences.businessNumIndx[0]}}</a></p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['selectRolesIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['selectRolesIndx'][1]">
            <div class="fn-rep">
                <p>{{'select.roles.comp.instruction' |translate}}</p>
                <ul>
                    <li>{{'ht.select.roles.1' | translate}}</li>
                    <li>{{'ht.select.roles.2' | translate}}</li>
                    <li>{{'ht.select.roles.3' | translate}}</li>
                    <li>{{'ht.select.roles.4' | translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['selectRolesIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                        {{helpTextSequences.selectRolesIndx[0]}}</a></p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['companyRepIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['companyRepIndx'][1]">
            <div class="fn-rep">
                <p>{{'company.rep' |translate}}</p>
                <ul>
                    <li>{{'ht.company.rep.1' | translate}}</li>
                    <li>{{'ht.company.rep.2' | translate}}</li>
                    <li>{{'ht.company.rep.3' | translate}}</li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['companyRepIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                        {{helpTextSequences.companyRepIndx[0]}}</a></p>
            </div>
        </dd>
        <dt>{{'Instruction'|translate}}&#160;{{helpTextSequences['prodLineIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['prodLineIndx'][1]">
            <div class="fn-rep">
                <p>{{'prod.line.title' |translate}}</p>
                <p>{{'ht.prod.line' | translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['prodLineIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}&#160;</span>
                        {{helpTextSequences.prodLineIndx[0]}}</a></p>
            </div>
        </dd>
    </dl>
  </aside>
