<div class="container-fluid">
  <form name="companyForm" [formGroup]="companyForm" novalidate>
      <div class="row mrgn-tp-md">
        <div class="col-md-12">
          <div class="text-right">
            <span id="securityInfo" class="fa fa-shield fa-sm"><strong>&nbsp;{{'PROTECTED_B'|translate}}</strong></span>
          </div>
        </div>
      </div>
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix group-beside">
            <h2 class="panel-title">{{'load.file'|translate}}   
              <sup id="co1-rf">
                <a class="fn-lnk" href="#co1"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['loadFileIndx']}}</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body"> 
            <lib-file-reader (complete)="processFile($event)" [rootTag]="rootTagText">
              <div extraNote [ngClass]="'alert alert-info'" *ngIf="showAmendNote"><span>{{'amend.note' | translate}}</span></div>
            </lib-file-reader>
          </div>
        </section>
      </div>

      <div id="topErrorSummary">
        <lib-error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.company"></lib-error-summary>
      </div>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'heading.company'|translate}}
              <sup id="co2-rf">
                <a class="fn-lnk" href="#co2"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['compREPInx']}}</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">
            <com-gen-info [showErrors]="showErrors" [isInternal]="isInternal"
                              [lang]="lang"
                              [genInfoModel]="genInfoModel"
                              [helpTextSequences]="helpIndex"
                              [enrollmentStatusesList]="enrollmentStatusList"
                              (showAdminChanges)="processGenInfoUpdates($event)"
                              (errorList)="processGenInfoErrors($event)">
            </com-gen-info>
            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.addressInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <lib-address-details [showErrors]="showErrors" [countryList]="countryList" [lang]="lang"
                                   [provinceList]="provinceList"
                                   [addressModel]="addressModel" [stateList]="stateList"
                                   [helpTextSequences]="helpIndex"
                                   (errorList)="processAddressErrors($event)"></lib-address-details>
                </div>
              </section>
            </div>
            
            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.contactInfo'|translate}}</h3>
                </header>
                <div class="panel-body"> 
                  <contact-list  (errors)="processContactErrors($event)" [isInternal]="isInternal"
                                 [loadFileIndicator]="loadFileIndicator" [lang]="lang"
                                 [helpTextSequences]="helpIndex" [xmlStatus]="genInfoModel.status"
                                 [showErrors]="showErrors" [contactModel]="contactModel"
                                 [languageList]="languageList" [contactStatusList]="contactStatusList"
                                 (contactsUpdated)="contactModelUpdated($event)"></contact-list>
                </div>
              </section>
              </div>
            </div>
        </section>
      </div>

      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'contact.designation'|translate}}</h3>
          </header>
          <div class="panel-body">
            <primary-contact [lang]="lang"
                             [primContactModel]="primContactModel"
                             [activeContactList]="activeContacts"
                             [helpTextSequences]="helpIndex"></primary-contact>
          </div>
        </section>
      </div>

      <div *ngIf="showAdminChanges">
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'admin.changes'|translate}}</h2>
          </header>
          <div class="panel-body">
            <comp-admin-changes [showErrors]="showErrors" [slctAmendReasons]="selectedAmendReasonCodes" [lang]="lang" 
                                  [isInternal]="isInternal"
                                  [adminChangesModel]="adminChangesModel"
                                  [helpTextSequences]="helpIndex"
                                  (adminChangesErrorList)="processAdminChangesErrors($event)"></comp-admin-changes>          
          </div>
        </section>
      </div>

      <pre>disableMailto {{disableMailto}} | showMailToHelpText {{showMailToHelpText}}  </pre>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" >
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()"
                [disabled]="isExternalAndFinal()" >
          {{saveXmlLabel|translate}}
        </button>
      </div>
      <div class="form-group col-md-4" *ngIf="!isInternal">
        <a class="btn btn-primary btn-lg active" [href] = "mailToLink" (click)="mailto()"
           [class.disabled]="disableMailto" >
          {{'mailto.label'|translate}}
        </a>
      </div>
    </div>
    
    <div class="row" *ngIf="showMailToHelpText">
      <app-mailto-help [email]="submitToEmail" [lang]="lang" ></app-mailto-help>
    </div>
    
    <!-- <pre> show admin changes {{showAdminChanges}}</pre> -->
    <pre> companyForm valid {{companyForm.valid}}</pre>
    <pre> companyForm {{companyForm.value |json}}</pre>

    </form>
  </div>