<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{'Instruction'|translate}} {{helpTextSequences['loadFileIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['loadFileIndx'][1]">
            <p class="fn-rtn"><a [href]="'#' + helpTextSequences['loadFileIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx'][0]}}
				<span class="wb-inv"> referrer</span></a></p>
            <div class="fn-rep">
                <p>{{'ht.load.1'|translate}}</p>
                <ul>
                    <li>{{'ht.load.2'|translate}}</li>
                    <li>{{'ht.load.3'|translate}}</li>
                    <li>{{'ht.load.4'|translate}}</li>
                </ul>


                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['loadFileIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.loadFileIndx[0]}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['dateLastIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['dateLastIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.date.1'|translate}}</p>
                <p [innerHTML]="'ht.date.2'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['dateLastIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.dateLastIndx[0]}}
                    <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['appContactIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['appContactIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.app.1'|translate}}</p>
                <ul>
                    <li [innerHTML]="'ht.app.2'|translate"></li>
                    <li [innerHTML]="'ht.app.3'|translate"></li>
                    <li [innerHTML]="'ht.app.4'|translate"></li>
                    <li [innerHTML]="'ht.app.5'|translate"></li>
                    <li [innerHTML]="'ht.app.6'|translate"></li>
                    <li [innerHTML]="'ht.app.7'|translate"></li>
                    <li [innerHTML]="'ht.app.8'|translate"></li>
                    <li [innerHTML]="'ht.app.9'|translate"></li>
                </ul>
                
                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['appContactIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.appContactIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['patentInfoIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['patentInfoIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.patent.1' |translate}}</p>
                <ul>
                    <li [innerHTML]="'ht.patent.2'|translate"></li>
                    <li [innerHTML]="'ht.patent.3'|translate"></li>
                    <li [innerHTML]="'ht.patent.4'|translate"></li>
                    <li [innerHTML]="'ht.patent.5'|translate"></li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['patentInfoIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.patentInfoIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['newDrugIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['newDrugIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.drug.1' |translate}}</p>
                <p [innerHTML]="'ht.drug.2'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['newDrugIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.newDrugIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['nocDateIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['nocDateIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.noc.1' |translate}}</p>
                <p [innerHTML]="'ht.noc.2'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['nocDateIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.nocDateIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['drugUseIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['drugUseIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.drug.use.1' |translate}}</p>
                <p [innerHTML]="'ht.drug.use.2'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['drugUseIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.drugUseIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['medicIngrIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['medicIngrIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.medic.1' |translate}}</p>
                <p [innerHTML]="'ht.medic.2'|translate"></p>
                <p [innerHTML]="'ht.medic.3'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['medicIngrIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.medicIngrIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['attestationIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['attestationIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.attes.1' |translate}}</p>
                <p>{{'ht.attes.2' |translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['attestationIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.attestationIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['feePayIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['feePayIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.fee.1' |translate}}</p>
                <p [innerHTML]="'ht.fee.2'|translate"></p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['feePayIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.feePayIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        
        <dt>{{'Instruction'|translate}} {{helpTextSequences['methodPayIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['methodPayIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.fee.meth.1' |translate}}</p>
                <p>{{'ht.fee.meth.2'|translate}}</p>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['methodPayIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.methodPayIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>

        <dt>{{'Instruction'|translate}} {{helpTextSequences['certificationIndx'][0]}}</dt>
        <dd [id]="helpTextSequences['certificationIndx'][1]">
            <div class="fn-rep">
                <p>{{'ht.cert.1' |translate}}</p>
                <ul>
                    <li [innerHTML]="'ht.cert.2'|translate"></li>
                    <li [innerHTML]="'ht.cert.3'|translate"></li>
                    <li [innerHTML]="'ht.cert.4'|translate"></li>
                </ul>

                <p class="fn-rtn"><a [href]="'#' + helpTextSequences['certificationIndx'][2]"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.certificationIndx[0]}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
    </dl>
</aside>