<section>
    <div class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">{{ "top.toc" | translate }}</h2>
        </header>
        <div class="panel-body">
            <ul>
                <li><a href="#privacy">{{ "top.privacy.statement" | translate }}</a></li>
                <li><a href="#security">{{ "top.security.declaimer" | translate }}</a></li>
                <li><a href="#instructions">{{ "top.instruction" | translate }}</a></li>
                <li><a href="#main">{{ "toc.form" | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- todo use div or section? module-attention class and background-medium class don't work -->
<section class="module-attention">
    <details>
        <summary class="background-medium" id="privacy">{{ "top.privacy.statement" | translate }}</summary>
        <app-privacy-statement [lang]="lang"></app-privacy-statement>
    </details>

</section>

<div class="module-attention">
    <details>
        <summary class="background-medium" id="security">{{ "top.security.declaimer" | translate }}</summary>
        <app-security-disclaimer [lang]="lang"></app-security-disclaimer>
    </details>
</div>

<section class="module-attention">
    <details>
        <summary class="background-medium" id="instructions">{{ "top.instruction" | translate }}</summary>


        <app-instruction [helpTextSequences]="helpIndex" [lang]="lang"></app-instruction>

    </details>
</section>


<!-- <h2>{{ "instruction.help" | translate }} todo </h2>
    <section>
        <app-instruction [helpTextSequences]="helpIndex" [lang]="lang"></app-instruction>
    </section>
</aside> -->

<span id="main"></span>
<div>
    <master-file-base [helpTextSequences]="helpIndex" [isInternal]="isInternal" [lang]="lang"></master-file-base>
</div>