<div class="row">
  <div *ngIf="!importSuccess" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label for="fileLoad">
      <span class="field-name">{{ 'select.file'|translate }}</span>
    </label>
    <input type="file" id="fileLoad" name="fileLoad" accept=".xml, .hcsc" (change)="changeListener($event)" />
  </div>
  <div *ngIf="importSuccess" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button (click)="refreshPage()">{{ 'refresh.file.input'|translate }}</button>
    <Strong> {{importedFileName}}</Strong>
  </div>
</div>
<div [ngClass]="status == 'msg.success.load' ? 'alert alert-success' : 'alert alert-danger'" *ngIf="showFileLoadStatus">
  <span>{{status | translate}}</span>
</div>
<div>
  <ng-content select="[extraNote]"></ng-content>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ng-container *ngIf="lang === 'en'">
      <p>First time users of this form cannot select a file to load and must create an XML file by completing all the required fields below and clicking on the "Generate XML" button at the bottom of this form. </p>
      <p>For subsequent uses of this form, you can either upload a file by clicking on the "Choose file" button and selecting the .hcsc file or .xml file or you can complete the required fields below to generate a .xml file.</p>
      <p>If you partially complete the form and click on the "Save Working Copy" button at the bottom of the form it will save a copy on the local workstation for completion at a later time. The file will be saved in the ".hcsc" file format. If you are using a previously submitted .xml file, please update the appropriate fields and verify that the details are accurate for the current transaction prior to filing.</p>
      <p>Note: The working copies (files with extension .hcsc) should never be sent Health Canada.</p>
    </ng-container>
    <ng-container *ngIf="lang === 'fr'">
      <p>Les nouveaux utilisateurs du formulaire ne peuvent pas sélectionner et télécharger un fichier. Ceci étant dit, ils doivent créer un fichier XML en remplissant les champs obligatoires ci-dessous et en cliquant sur le bouton «Générer le XML» au bas du formulaire.</p>
      <p>Pour les utilisations ultérieures de ce formulaire, vous pouvez soit télécharger un fichier en cliquant sur le bouton «Choisir un fichier» et en sélectionnant le fichier en format «.hcsc» ou «.xml», soit remplir les champs obligatoires ci-dessous afin de générer un fichier «.xml».</p>
      <p>Si vous remplissez partiellement le formulaire et souhaiter procéder ultérieurement, cliquez sur le bouton «Enregistrer la copie de travail» au bas du formulaire. Une copie sera enregistrée sur le poste de travail en format «.hcsc». Si vous utilisez un fichier«.xml» précédemment soumis, veuillez mettre à jour les champs appropriés et vérifier que les détails sont exacts pour la transaction actuelle avant de déposer le formulaire.</p>
      <p>Remarque : les copies de travail (fichiers portant l'extension .hcsc) ne doivent jamais être envoyées à Santé Canada.</p>
    </ng-container>
  </div>
</div>
