<aside class="wb-fnote" role="note">
    <dl>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.loadFileIndx}}</dt>
        <dd id="tr1">
            <p>{{'load.file'|translate}}</p>
            <ul>
                <!-- <li>{{'hlp_load1'|translate}}</li> -->
                <li>{{'hlp_load2'|translate}}</li>
                <li>{{'hlp_load3'|translate}}</li>
            </ul>
            <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.loadFileIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.dossierIdIndx}}</dt>
        <dd id="tr2">
            <p>{{'dossier.id'|translate}}</p>
            <p [innerHTML]="'instruction.dossier.id.line1'|translate"></p>
            <p [innerHTML]="'instruction.dossier.id.line2'|translate"></p>
            <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.dossierIdIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <!--<dt><span class="wb-inv">{{'Instruction'|translate}} </span>3</dt>-->
        <!--<dd id="tr3a">-->
        <!--<p>{{'routing.id'|translate}}</p>-->
        <!--<p>The Routing Identifier is a unique identifier that the Food and Drug Administration Electronic Submission Gateway web trader interface uses to identify an account</p>-->
        <!--<p class="fn-rtn"><a href="#tr3a-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>3-->
        <!--<span class="wb-inv"> referrer</span></a></p>-->
        <!--</dd>-->
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.holderAddrIndx}}</dt>
        <dd id="tr3">
            <p>{{'heading.holder.address'|translate}}</p>
            <p>{{'hlp_holder.address1' | translate}}</p>
            <p>{{'hlp_holder.address2' | translate}}</p>
            <p>{{'hlp_holder.address3' | translate}}</p>
            
            <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.holderAddrIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.agentAddrIndx}}</dt>
        <dd id="tr4">
            <p>{{'heading.agent.address' |translate}}</p>
            <p>{{'hlp_agent.address' | translate}}</p>
            <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.agentAddrIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.confmValidIndx}}</dt>
        <dd id="tr5">
            <p>{{'info.confirmation' |translate}}</p>
            <p>{{'hlp_confirm' | translate}}</p>
            <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.confmValidIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.feeNoteIndx}}</dt>
        <dd id="tr6">
            <p>{{'panel.title.fees' |translate}}</p>
            <p>{{'hlp_fee.note'|translate}}</p>
            <p class="fn-rtn"><a href="#tr6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.feeNoteIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.accessLetrIndx}}</dt>
        <dd id="tr7">
            <p>{{'are.access.letters' |translate}}</p>
            <p>{{'hlp_access.letter' |translate}}</p>
            <p class="fn-rtn"><a href="#tr7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.accessLetrIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences.accountNumIndx}}</dt>
        <dd id="tr8">
            <p>{{'account.num'|translate}}</p>
            <p>{{'hlp_account.num'|translate}}</p>
            <p class="fn-rtn"><a href="#tr8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                    {{helpTextSequences.accountNumIndx}}
                    <span class="wb-inv"> referrer</span></a></p>
        </dd>
    </dl>
</aside>