<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{helpTextSequences.loadFileInx}}</dt>
        <dd id="tr1">
			<p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileInx']}}
				<span class="wb-inv"> referrer</span></a></p>
				<p>{{'load.file'|translate}}</p>
			<ul>
				<li>{{'help.load.file.02'|translate}}</li>
				<li>{{'help.load.file.03'|translate}}</li>
			</ul>
        </dd>

        <dt>{{helpTextSequences.transactionInfoInx}}</dt>
        <dd id="tr2">
			<p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['transactionInfoInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'heading.transaction'|translate}}</p>
			<ul>
				<li>{{'help.transaction.01'|translate}}</li>
				<li>{{'help.transaction.02'|translate}}</li>
			</ul>
        </dd>

        <dt>{{helpTextSequences.dossierIdInx}}</dt>
        <dd id="tr3">
			<p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['dossierIdInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'dossier.id'|translate}}</p>
			<ul>
				<li>{{'help.dossierId.01'|translate}}</li>
				<li>{{'help.dossierId.02'|translate}}</li>
			</ul>
        </dd>

        <dt>{{helpTextSequences.contactIdInx}}</dt>
        <dd id="tr4">
			<p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['contactIdInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'regulatory.contact.id'|translate}}</p>
			<p>{{'help.contactId'|translate}}</p>
        </dd>

        <dt>{{helpTextSequences.deviceClassInx}}</dt>
        <dd id="tr5">
			<p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['deviceClassInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'section.show.option'|translate}}{{'device.class'|translate}}</p>
			<p>{{'help.deviceClass.01'|translate}}<a [href]="'help.deviceClass.url'|translate">{{'help.deviceClass.02'|translate}}</a></p>		
        </dd>

        <dt>{{helpTextSequences.applicationNumberInx}}</dt>
        <dd id="tr6">
			<p class="fn-rtn"><a href="#tr6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['applicationNumberInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'section.show.option'|translate}}{{'application.number'|translate}}</p>
			<p>{{'help.application.number'|translate}}</p>
        </dd>

        <dt>{{helpTextSequences.deviceNameInx}}</dt>
        <dd id="tr7">
			<p class="fn-rtn"><a href="#tr7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['deviceNameInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'section.show.option'|translate}}{{'device.name'|translate}}</p>
			<p>{{'help.device.name'|translate}}</p>
        </dd>

        <dt>{{helpTextSequences.licenseNumberlInx}}</dt>
        <dd id="tr8">
			<p class="fn-rtn"><a href="#tr8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['licenseNumberlInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'licence.number'|translate}}</p>
			<ul>
				<li>{{'help.licence.number.01'|translate}}</li>
				<li>{{'help.licence.number.02'|translate}}</li>
			</ul>
        </dd>

        <dt>{{helpTextSequences.deviceDetailInx}}</dt>
        <dd id="tr9">
			<p class="fn-rtn"><a href="#tr9-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['deviceDetailInx']}}
				<span class="wb-inv"> referrer</span></a></p>
			<p>{{'has.ddt'|translate}}</p>
			<ul>
				<li>{{'help.device.detail.01'|translate}}</li>
				<li>{{'help.device.detail.02'|translate}}</li>
				<li [innerHTML]="'help.device.detail.03' | translate"></li>
			</ul>
        </dd>
    
    </dl>
  </aside>
  