<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{helpTextSequences.loadFileInx}}</dt>
        <dd id="co1">
        <p>{{'load.file'|translate}}</p>
        <ul>
            <li>{{'help.load.file.01'|translate}}</li>
            <li>{{'help.load.file.02'|translate}}</li>
            <li>{{'help.load.file.03'|translate}}</li>
            <li>{{'help.load.file.04'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt>{{helpTextSequences.compREPInx}}</dt>
        <dd id="co2">
        <p>{{'heading.company'|translate}}</p>
        <ul>
            <li>{{'help.heading.01'|translate}}</li>
            <li>{{'help.heading.02'|translate}}</li>
            <li>{{'help.heading.03'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['compREPInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
        <dt>{{helpTextSequences.rationaleInx}}</dt>
        <dd id="co3">
        <p>{{'section.show.option'|translate}}{{'rationale'|translate}}</p>
        <ul>
            <li>{{'help.rationale.01'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['rationaleInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
        <dt>{{helpTextSequences.conStatInx}}</dt>
        <dd id="co4">
        <p>{{'status'|translate}}</p>
        <ul>
            <li>{{'help.status.01'|translate}}</li>
            <li>{{'help.status.02'|translate}}</li>
            <li>{{'help.status.03'|translate}}</li>
            <li>{{'help.status.04'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['conStatInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
        <dt>{{helpTextSequences.routIdInx}}</dt>
        <dd id="co4a">
        <p>{{'routing.id'|translate}}</p>
        <ul>
            <li>{{'help.routing.id.01'|translate}}</li>
            <li>{{'help.routing.id.02'|translate}}<a href="mailto:ESGHelpDesk&#64;fda.hhs.gov">ESGHelpDesk&#64;fda.hhs.gov</a>.</li>
        </ul>
        <p class="fn-rtn"><a href="#co4a-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['routIdInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>

        <dt>{{helpTextSequences.addRecordInx}}</dt>
        <dd id="co5">
        <p>{{'add.repres'|translate}}</p>
        <ul>
            <li>{{'help.add.record'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['addRecordInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
        <dt>{{helpTextSequences.desRenewalInx}}</dt>
        <dd id="co6">
        <p>{{'des.renewal'|translate}}</p>
        <ul>
            <li>{{'help.des.renewal'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['desRenewalInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
        <dt>{{helpTextSequences.desFinanceInx}}</dt>
        <dd id="co7">
        <p>{{'des.finance'|translate}}</p>
        <ul>
            <li>{{'help.des.finance'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['desFinanceInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
        <dt>{{helpTextSequences.licenseNumsInx}}</dt>
        <dd id="co8">
        <p>{{'section.show.option'|translate}}{{'all.licence.num'|translate}}</p>
        <ul>
            <li>{{'help.licence.num.01'|translate}}</li>
            <li>{{'help.licence.num.02'|translate}}</li>
        </ul>
        <p class="fn-rtn"><a href="#co8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['licenseNumsInx']}}
            <span class="wb-inv"> referrer</span></a></p>
        </dd>
    
    </dl>
  </aside>
  