<div>
    <div [formGroup]="appInfoFormLocalModel">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
          <label for="companyId" class="required full-width">
            <span class="field-name">{{'company.id'|translate}} {{'minNumber6'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="appInfoFormLocalModel.controls['companyId'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['companyId'] | formControl"
                              controlId="companyId" label="company.id" parentId="appInfoDetails">
            </control-messages>
            <input id="companyId" name="companyId" class="form-control"
                   [formControl]="appInfoFormLocalModel.controls['companyId'] | formControl" maxlength="6" data-only-digits/>
          </label>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
          <label for="dossierId" class="required full-width">
            <span class="field-name">{{'dossier.id'|translate}}  {{'minAlphanum7'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="appInfoFormLocalModel.controls['dossierId'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['dossierId'] | formControl"
                              controlId="dossierId" label="dossier.id" parentId="appInfoDetails">
            </control-messages>
            <input id="dossierId" name="dossierId" class="form-control"
                   [formControl]="appInfoFormLocalModel.controls['dossierId'] | formControl" maxlength="7"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 minWidth300" >
          <label for="mdsapNum" class="required full-width">
            <span class="field-name">{{'mdsap.number'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <sup id="ap3-rf">
              <a class="fn-lnk mrgn-tp-sm" href="#ap3"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.mdsapNumIndx}}</a>
            </sup>
            <control-messages *ngIf="appInfoFormLocalModel.controls['mdsapNum'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['mdsapNum'] | formControl"
                              controlId="mdsapNum" label="mdsap.number" parentId="appInfoDetails"></control-messages>
            <input id="mdsapNum" name="mdsapNum" class="form-control" size="50"
                   [formControl]="appInfoFormLocalModel.controls['mdsapNum'] | formControl" maxlength="30"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12 minWidth300" >
          <label for="mdsapOrg" class="required full-width">
            <span class="field-name">{{'mdsap.org'|translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <sup id="ap4-rf">
              <a class="fn-lnk" href="#ap4"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.mdsapOrgIndx}}</a>
            </sup>
            <control-messages *ngIf="appInfoFormLocalModel.controls['mdsapOrg'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['mdsapOrg'] | formControl"
                              controlId="mdsapOrg" label="mdsap.org" parentId="appInfoDetails"></control-messages>
            <select id="mdsapOrg" name="mdsapOrg" required class="form-control" 
                    [formControl]="appInfoFormLocalModel.controls['mdsapOrg'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let mdsapOrg of mdsapOrgList" [ngValue]="mdsapOrg.id"> {{ mdsapOrg | textTransform : lang}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 minWidth300" >
          <label for="licenceAppType" class="required full-width">
            <span class="field-name">{{'licence.app.type' |translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <sup id="ap5-rf">
              <a class="fn-lnk" href="#ap5"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.licAppTypeIndx}}</a>
            </sup>
            <control-messages *ngIf="appInfoFormLocalModel.controls['licenceAppType'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['licenceAppType'] | formControl"
                              controlId="licenceAppType" label="licence.app.type"
                              parentId="appInfoDetails"></control-messages>
            <select id="licenceAppType" name="licenceAppType" required class="form-control full-width"
                   [formControl]="appInfoFormLocalModel.controls['licenceAppType'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let lat of licenceAppTypeList" [ngValue]="lat.id"> {{lat | textTransform : lang}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 minWidth300">
          <label for="activityType" class="required full-width">
            <span class="field-name">{{'activity.type' |translate}}</span>
            <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="appInfoFormLocalModel.controls['activityType'].invalid"
                              [showError]="showFieldErrors"
                              [control]="appInfoFormLocalModel.controls['activityType'] | formControl"
                              controlId="activityType" label="activity.type"
                              parentId="appInfoDetails"></control-messages>
            <select id="activityType" name="activityType"
                    required class="form-control full-width"
                    [formControl]="appInfoFormLocalModel.controls['activityType'] | formControl">
              <option label=" " value=""></option>
              <option *ngFor="let type of actTypeList" [ngValue]="type.id"> {{type | textTransform : lang}}</option>
            </select>
          </label>
        </div>
        </div>
      <div class="row">
        <div class="form-group wb-frmvld col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <fieldset class="chkbxrdio-grp" id="deviceClass">
            <legend class="required"><span class="field-name">{{'device.class'|translate}}</span>
                <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                <sup id="ap6-rf">
                  <a class="fn-lnk" href="#ap6"><span class="wb-inv">{{ 'instruction'|translate }}</span>{{helpTextSequences.devClsIndx}}</a>
                </sup>
                <control-messages *ngIf="appInfoFormLocalModel.controls['deviceClass'].invalid"
                    [showError]="showFieldErrors"
                    [control]="appInfoFormLocalModel.controls['deviceClass'] | formControl"
                    controlId="deviceClass" label="device.class" parentId="appInfoDetails"></control-messages>
            </legend>
              <ul class="form-group list-unstyled">
                <li class="radio" id="deviceClassDiv{{i}}" *ngFor="let class of devClassList; let i = index">
                  <label for="deviceClass{{i}}">
                    <input type="radio" attr.aria-label="{{class | ariaTransform: lang}}" id="deviceClass{{i}}" name="deviceClass" [value]="class.id"
                      (change)="deviceClassOnblur()"
                      [formControl]="appInfoFormLocalModel.controls['deviceClass'] | formControl" required/>
                      {{class | textTransform: lang }}
                  </label>
                </li>
              </ul>
          </fieldset>
        </div>
      </div>
      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'place.use'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-xs-12" >
                <label for="isIvdd" class="required full-width">
                  <span class="field-name">{{'is.ivdd' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['isIvdd'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['isIvdd'] | formControl"
                                    controlId="isIvdd" label="is.ivdd" parentId="appInfoDetails"></control-messages>
                 <select id="isIvdd" name="isIvdd" required class="form-control"
                         [formControl]="appInfoFormLocalModel.controls['isIvdd'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="isIVDD()">
              <div class="form-group col-xs-12">
                <label for="isHomeUse" class="required full-width">
                  <span class="field-name">{{'is.home.use' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['isHomeUse'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['isHomeUse'] | formControl"
                                    controlId="isHomeUse" label="is.home.use" parentId="appInfoDetails"></control-messages>
                  <select id="isHomeUse" name="isHomeUse" required class="form-control"
                          [formControl]="appInfoFormLocalModel.controls['isHomeUse'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
              <div class="form-group col-xs-12" >
                <label for="isCarePoint" class="required full-width">
                  <span class="field-name">{{'is.point.care' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['isCarePoint'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['isCarePoint'] | formControl"
                                    controlId="isCarePoint" label="is.point.care" parentId="appInfoDetails"></control-messages>
                  <select id="isCarePoint" name="isCarePoint" required class="form-control"
                           [formControl]="appInfoFormLocalModel.controls['isCarePoint'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12" >
                <label for="isEmitRadiation" class="required full-width">
                  <span class="field-name">{{'contain.radiation' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['isEmitRadiation'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['isEmitRadiation'] | formControl"
                                    controlId="isEmitRadiation" label="contain.radiation"
                                    parentId="appInfoDetails"></control-messages>
                  <select id="isEmitRadiation" name="isEmitRadiation" required class="form-control"
                           [formControl]="appInfoFormLocalModel.controls['isEmitRadiation'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="isNOIVDD()">
              <div class="form-group col-xs-12" >
                <label for="hasDrug" class="required full-width">
                  <span class="field-name">{{'contain.drug' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['hasDrug'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['hasDrug'] | formControl"
                                    controlId="hasDrug" label="contain.drug" parentId="appInfoDetails"></control-messages>
                  <select id="hasDrug" name="hasDrug" required class="form-control"
                          (change)="hasDrugOnChange()" [formControl]="appInfoFormLocalModel.controls['hasDrug'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
              <div *ngIf="hasDrug()" class="form-group col-xs-12" >
                <label for="hasDinNpn" class="full-width">
                  <span class="field-name">{{'have.din.npn' |translate}}</span>
                  <select id="hasDinNpn" name="hasDinNpn" class="form-control"
                          (change)="dinNpnOnChange()" [formControl]="appInfoFormLocalModel.controls['hasDinNpn'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let drugType of drugTypeList" [ngValue]="drugType.id"> {{drugType | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
              <div  *ngIf="hasDin()" class="form-group col-xs-12" >
                <label for="din" class="required full-width">
                  <span class="field-name">{{'din'|translate}} {{'minNumber8' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['din'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['din'] | formControl"
                                    controlId="din" label="din" parentId="appInfoDetails">
                  </control-messages>
                  <input id="din" name="din"  class="form-control"
                         [formControl]="appInfoFormLocalModel.controls['din'] | formControl" maxlength="8" data-only-digits/>
                </label>
              </div>
              <div  *ngIf="hasNpn()" class="form-group col-xs-12" >
                <label for="npn" class="required full-width">
                  <span class="field-name">{{'npn'|translate}} {{'minNumber8' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['npn'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['npn'] | formControl"
                                    controlId="npn" label="npn" parentId="appInfoDetails">
                  </control-messages>
                  <input id="npn" name="npn" class="form-control"
                         [formControl]="appInfoFormLocalModel.controls['npn'] | formControl" maxlength="8" data-only-digits/>
                </label>
              </div>
            </div>
            <div *ngIf="hasDrug()">
              <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div role="alert" class="alert alert-info">
                    <p aria-live="polite">
                      {{'combination.products.related'|translate}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <label for="drugName" class="required full-width">
                    <span class="field-name">{{'drug.name'|translate}}</span>
                    <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                    <control-messages *ngIf="appInfoFormLocalModel.controls['drugName'].invalid"
                                      [showError]="showFieldErrors"
                                      [control]="appInfoFormLocalModel.controls['drugName'] | formControl"
                                      controlId="drugName" label="drug.name" parentId="appInfoDetails">
                    </control-messages>
                    <textarea class="form-control full-width" id="drugName" name="drugName"
                              [formControl]="appInfoFormLocalModel.controls['drugName'] | formControl" maxlength="256"></textarea>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <label for="activeIngredients" class="required full-width">
                    <span class="field-name">{{'active.ingredient'|translate}}</span>
                    <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                    <control-messages *ngIf="appInfoFormLocalModel.controls['activeIngredients'].invalid"
                                      [showError]="showFieldErrors"
                                      [control]="appInfoFormLocalModel.controls['activeIngredients'] | formControl"
                                      controlId="activeIngredients" label="active.ingredient" parentId="appInfoDetails">
                    </control-messages>
                    <textarea class="form-control full-width" id="activeIngredients" name="activeIngredients"
                              [formControl]="appInfoFormLocalModel.controls['activeIngredients'] | formControl"
                              maxlength="256"></textarea>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12" >
                  <label for="manufacturer" class="required full-width">
                    <span class="field-name">{{'manufacturer'|translate}}</span>
                    <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                    <control-messages *ngIf="appInfoFormLocalModel.controls['manufacturer'].invalid"
                                      [showError]="showFieldErrors"
                                      [control]="appInfoFormLocalModel.controls['manufacturer'] | formControl"
                                      controlId="manufacturer" label="manufacturer" parentId="appInfoDetails">
                    </control-messages>
                    <input id="manufacturer" name="manufacturer" class="form-control full-width" 
                           [formControl]="appInfoFormLocalModel.controls['manufacturer'] | formControl" maxlength="80"/>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <fieldset  class="chkbxrdio-grp" id="compliance">
                  <legend class="required">
                    <span class="field-name">{{'compliance' | translate}}</span>
                    <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                    <control-messages *ngIf="complianceChkFormArray.invalid"
                                      [showError]="showFieldErrors"
                                      [control]="complianceChkFormArray | formControl"
                                      controlId="compliance" label="compliance"
                                      parentId="appInfoDetails"></control-messages>
                  </legend>
                  <ul class="form-group list-unstyled">
                    <li class="checkbox" [formArrayName]="'compliance'" *ngFor="let comp of complianceChkFormArray.controls; let i = index">
                      <label for={{complianceOptionList[i].value}}>
                        <input type="checkbox" id={{complianceOptionList[i].value}} [formControl]="comp | formControl" (change)="complianceOnChange()"/> {{complianceOptionList[i].label}}
                      </label>
                    </li>
                  </ul>                 
                  <div *ngIf="isOtherPharmacopeia()" class="row">
                    <div class="form-group col-xs-12" >
                      <label for="otherPharmacopeia" class="required">
                        <span class="field-name">{{'other.pharmacopeia'|translate}}</span>
                        <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                        <control-messages *ngIf="appInfoFormLocalModel.controls['otherPharmacopeia'].invalid"
                                          [showError]="showFieldErrors"
                                          [control]="appInfoFormLocalModel.controls['otherPharmacopeia'] | formControl"
                                          controlId="otherPharmacopeia" label="other.pharmacopeia" parentId="appInfoDetails">
                        </control-messages>
                        <input id="otherPharmacopeia" name="otherPharmacopeia" class="form-control full-width" size="50"
                               [formControl]="appInfoFormLocalModel.controls['otherPharmacopeia'] | formControl" maxlength="20"/>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            </div>
          </div>
        </section>
      </div>
  
      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'device.history'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row form-group col-xs-12">
              <fieldset id="device-history">
                <legend class="legend-rep">
                  <span class="field-name">{{'provision.mdr' | translate}}</span>
                </legend>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-mdr-it">
                        <input type="checkbox" 
                               [formControl]="appInfoFormLocalModel.controls['provisionMdrIT'] | formControl"
                               id="chk-mdr-it" name="chk-mdr-it"/>
                        <span>{{'mdr.it'|translate}}</span>
                      </label>
                    </div>
                  </div>
                  <div  class="form-group col-xs-7" *ngIf="isIt()">
                    <label for="applicationNum" class=" full-width">
                      <span class="field-name">{{'application.number'|translate}} {{'minNumber6'|translate}}</span>
                      <control-messages *ngIf="appInfoFormLocalModel.controls['applicationNum'].invalid"
                                        [showError]="showFieldErrors"
                                        [control]="appInfoFormLocalModel.controls['applicationNum'] | formControl"
                                        controlId="applicationNum" label="application.number" parentId="appInfoDetails">
                      </control-messages>
                      <input id="applicationNum" name="applicationNum" class="form-control full-width" 
                             [formControl]="appInfoFormLocalModel.controls['applicationNum'] | formControl" data-only-digits maxlength="6" data-only-digits/>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-mdr-sa">
                        <input type="checkbox" 
                              [formControl]="appInfoFormLocalModel.controls['provisionMdrSA'] | formControl"
                              id="chk-mdr-sa"/>
                        {{'mdr.sa'|translate}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-xs-7" *ngIf="isSa()">
                    <label for="sapReqNum" class=" full-width">
                      <span class="field-name">{{'sap.req.number'|translate}}</span>
                      <input id="sapReqNum" name="sapReqNum" class="form-control full-width" 
                            [formControl]="appInfoFormLocalModel.controls['sapReqNum'] | formControl" maxlength="30"/>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-mdr-ioa">
                        <input type="checkbox" 
                              [formControl]="appInfoFormLocalModel.controls['provisionMdrIOA'] | formControl"
                              id="chk-mdr-ioa"/>
                        {{'mdr.ioa'|translate}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-xs-7" *ngIf="isIoa()">
                    <label for="authNum" class=" full-width">
                      <span class="field-name">{{'auth.id'|translate}} {{'minNumber6'|translate}}</span>
                      <control-messages *ngIf="appInfoFormLocalModel.controls['authNum'].invalid"
                      [showError]="showFieldErrors"
                      [control]="appInfoFormLocalModel.controls['authNum'] | formControl"
                      controlId="authNum" label="auth.id" parentId="appInfoDetails"> </control-messages>
                      <input id="authNum" name="authNum" class="form-control full-width" 
                            [formControl]="appInfoFormLocalModel.controls['authNum'] | formControl" maxlength="6" data-only-digits/>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </section>
      </div>
  
      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'heading.devices'|translate}}</h3>
          </header>
          <div class="panel-body">
            <app-device-list [deviceListData]="deviceModel"> </app-device-list>
          </div>
        </section>
      </div>
  
      <div>
        <section *ngIf="isLicenced()" class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'standards.list'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div *ngIf="isMandatory()" class="row">
              <div class="form-group col-xs-12">
                <label  for="declarationConformity" class="required full-width">
                  <span class="field-name">{{'conformity.declaration' |translate}}</span>
                  <strong class="required">{{'commmon.required.bracket'|translate}}</strong>
                  <sup id="ap8-rf">
                    <a class="fn-lnk" href="#ap8"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.cfmDecIndx}}</a>
                  </sup>
                  <control-messages *ngIf="appInfoFormLocalModel.controls['declarationConformity'].invalid"
                                    [showError]="showFieldErrors"
                                    [control]="appInfoFormLocalModel.controls['declarationConformity'] | formControl"
                                    controlId="declarationConformity" label="conformity.declaration"
                                    parentId="appInfoDetails"></control-messages>
                  <select id="declarationConformity" name="declarationConformity" required class="form-control"
                          [formControl]="appInfoFormLocalModel.controls['declarationConformity'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div  *ngIf="isOptional()" class="row">
              <div class="form-group col-xs-12">
                <label for="declarationConformity" class="full-width">
                  <span class="field-name">{{'conformity.declaration' |translate}}</span>
                  <sup id="ap8-rf">
                    <a class="fn-lnk" href="#ap8"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.cfmDecIndx}}</a>
                  </sup>
                  <!--<control-messages *ngIf="appInfoFormLocalModel.controls.declarationConformity.invalid"-->
                                    <!--[showError]="showFieldErrors"-->
                                    <!--[control]="appInfoFormLocalModel.controls.declarationConformity"-->
                                    <!--controlId="declarationConformity" label="conformity.declaration"-->
                                    <!--parentId="appInfoDetails"></control-messages>-->
                  <select id="declarationConformity" name="declarationConformity" class="form-control"
                         [formControl]="appInfoFormLocalModel.controls['declarationConformity'] | formControl">
                    <option label=" " value=""></option>
                    <option *ngFor="let yesno of yesNoList" [ngValue]="yesno.id"> {{yesno | textTransform : lang}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div *ngIf="isNoDeclaration()" class="row">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-info" role="alert">
                  <span>
                    <p aria-live="polite">{{'declaration.instruct'|translate}}</p> 
                  </span>
                </div>
              </div>
            </div>  
          </div>
        </section>
      </div>
  
      <div *ngIf="isDeviceIV()">
        <app-material-info [materialInfo]="materialInfo"> </app-material-info>
      </div>
  
      <!-- <pre>{{appInfoFormLocalModel.value |json}}</pre> -->
    </div>
  </div>
  