<div [formGroup]="contactListForm">
  <!--<lib-error-summary *ngIf="showErrorsSummary()" [hiddenSummary]="showErrorsSummary()"-->
  <!--[errorList]="errorList" headingPreamble="heading.contactInfo"-->
  <!--[headingLevel]="headingLevel" label="Company Representative Record(s)" compId="contactList"></lib-error-summary>-->  

  <lib-popup [id]="popupId" [title]="'popup.title' | translate" [message]="'msg.save.data.popup' | translate" [close]="'popup.close' | translate"></lib-popup>

  <lib-accordion [rowsFormArray]="contactList" [accordionHeadingMsgKey]="'heading.contactDetails'" [accordionHeadingSupp]="['contactDetails', 'fullName']" 
    (rowClicked)="handleRowClick($event)">

    <ng-template #tmpl let-recordRow let-idx="i">
      <!-- ==={{recordRow.get('id').value}}=== -->
      <!-- === index = {{idx}} ,  === -->
      <app-company-contact-record 
        [cRRow]="recordRow" [isInternal]="isInternal"
        [languageList]="languageList" [contactStatusList]="contactStatusList" [showErrors]="showErrors" [lang]="lang"
        [helpTextSequences]="helpTextSequences" (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)" (revertRecord)="revertContact($event)"
        (deleteRecord)="deleteContact($event)"></app-company-contact-record>
    </ng-template>

  </lib-accordion>

  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-left">
      <button class="btn btn-primary" (click)="addContact()" id="addContactBtn" [disabled]="disableAddButton()">
        {{'add.repres'|translate}}
      </button>
      <sup id="co5-rf" tabindex="-1"><a href="#co5" class="fn-lnk"><b><span class="wb-inv">instruction</span>5</b></a></sup>
    </div>
  </div>
  <div class="sr-only" id="statusMsg" aria-live="polite" role="status">{{ statusMessage }}</div>

  <!-- <pre>Form Data {{contactListForm.value |json}}</pre>
  <pre>Data Model for Contact List {{contactModel|json}}</pre> -->
</div>
