<div class="container-fluid" [formGroup]="deviceRecordModel" *ngIf="deviceRecordModel">
  
  <lib-error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="{{headingPreamble}}" headingPreambleParams="{{headingPreambleParams}}"
                 [headingLevel]="headingLevel" label="error.msg.deviceDetails" compId="deviceListTable"></lib-error-summary> 
   
  <!--[detailsChanged]="updateChild"-->
  <device-details [showErrors]="showErrors"
                   [group]="deviceDetailsForm"
                    [lang]="lang"
                    [recordId]="deviceRecordModel.get('id').value"
                    (errorList)="updateErrorList($event)"> 
  </device-details> 

  <div class="row">
    <div class="btn-group-sm col-xs-12 text-left">
      <button id="saveDeviceRecord" class="btn btn-primary" style="margin: 3px" (click)="saveDeviceRecord()" >{{'save.device'|translate}}</button>
      <button id="deleteDeviceRecord" class="btn btn-danger" style="margin: 3px" (click)="deleteDeviceRecord()" >{{'delete.device'|translate}}</button>
      <button id="revertDeviceRecord" class="btn btn-default" style="margin: 3px" (click)="revertDeviceRecord()" >{{'discard.changes'|translate}}</button>
    </div>
  </div>
  
    <!--pre>{{deviceRecordModel.value |json}}</pre-->
</div>
  