<aside id="no-border" class="wb-fnote" role="note">
    <dl>
        <dt>{{helpTextSequences['loadFileIndx']}}</dt>
        <dd id="tr1">
            <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span> {{helpTextSequences['loadFileIndx']}}
				<span class="wb-inv"> referrer</span></a></p>
            <div class="fn-rep">
                <p>{{'load.file'|translate}}</p>
                <ul>
                    <li>{{'hlp_load2'|translate}}</li>
                    <li>{{'hlp_load3'|translate}}</li> 
                </ul>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['dossierIdIndx']}}</dt>
        <dd id="tr2">
            <div class="fn-rep">
                <p>{{'dossier.id'|translate}}</p>
                <p [innerHTML]="'instruction.dossier.id.line1'|translate"></p>
                <p [innerHTML]="'instruction.dossier.id.line2'|translate"></p>
                <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.dossierIdIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['holderAddrIndx']}}</dt>
        <dd id="tr3">
            <div class="fn-rep">
                <p>{{'heading.holder.address'|translate}}</p>
                <p>{{'hlp_holder.address1' | translate}}</p>
                <p>{{'hlp_holder.address2' | translate}}</p>
                <p>{{'hlp_holder.address3' | translate}}</p>
                
                <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.holderAddrIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['agentAddrIndx']}}</dt>
        <dd id="tr4">
            <div class="fn-rep">
                <p>{{'heading.agent.address' |translate}}</p>
                <p>{{'hlp_agent.address' | translate}}</p>
                <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.agentAddrIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['confmValidIndx']}}</dt>
        <dd id="tr5">
            <div class="fn-rep">
                <p>{{'info.confirmation' |translate}}</p>
                <p>{{'hlp_confirm' | translate}}</p>
                <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.confmValidIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['feeNoteIndx']}}</dt>
        <dd id="tr6">
            <div class="fn-rep">
                <p>{{'panel.title.fees' |translate}}</p>
                <p>{{'hlp_fee.note'|translate}}</p>
                <p class="fn-rtn"><a href="#tr6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.feeNoteIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['accessLetrIndx']}}</dt>
        <dd id="tr7">
            <div class="fn-rep">
                <p>{{'are.access.letters' |translate}}</p>
                <p>{{'hlp_access.letter' |translate}}</p>
                <p class="fn-rtn"><a href="#tr7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.accessLetrIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
        <dt><span class="wb-inv">{{'Instruction'|translate}} </span>{{helpTextSequences['accountNumIndx']}}</dt>
        <dd id="tr8">
            <div class="fn-rep">
                <p>{{'account.num'|translate}}</p>
                <p>{{'hlp_account.num'|translate}}</p>
                <p class="fn-rtn"><a href="#tr8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>
                        {{helpTextSequences.accountNumIndx}}
                        <span class="wb-inv"> referrer</span></a></p>
            </div>
        </dd>
    </dl>
  </aside>
  