<div>
    <div>
      <div class="row">
        <div class="form-group wb-frmvld col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <fieldset class="chkbxrdio-grp" >
              <legend class="required"><span class="field-name">{{'attestation.as.applicant'}}</span>
                <strong class="required" aria-hidden="true">{{'commmon.required.bracket'}}</strong>
            </legend>
              <ul class="form-group list-unstyled">
                <li class="radio" >
                  <label aria-hidden="true">
                    
                  </label>
                </li>
              </ul>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  