<form [formGroup]="userForm">

    <ul class="list-unstyled">
        <li *ngFor="let control of usersFormArray.controls; let i=index">
            <details>
                <summary>Example 1</summary>
                <p>Example content that provides more details.</p>
                <table class="table">
                    <caption>Cups of coffee consumed by each delegate</caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td class="form-group">
                            <input type="text" class="form-control" formControlName="name" placeholder="name"
                                (change)="dataToUpdate(i)">
                            <span class="text-danger"
                                *ngIf="control.get('name').touched && control.get('name').invalid">name is
                                required</span>
                        </td>
                        <td class="form-group">
                            <input type="text" class="form-control" formControlName="email" placeholder="email"
                                (change)="dataToUpdate(i)">
                            <span class="text-danger"
                                *ngIf="control.get('email').touched && control.get('email').invalid">email
                                required</span>
                        </td>
                        <td class="form-group">
                            <input type="text" class="form-control" formControlName="mobNumber"
                                placeholder="mobile number" (change)="dataToUpdate(i)">
                        </td>
                        <td>
                            <button (click)="remove(i)" class="btn btn-primary mr-5">Remove</button>
                        </td>
                    </tbody>
                </table>
            </details>
        </li>
    </ul>
</form>
&nbsp;&nbsp;&nbsp;
<button (click)="addUser()" class="btn btn-primary mr-5">Add new</button>&nbsp;
<button (click)="save()" class="btn btn-primary">Save</button>