<div class="row mrgn-tp-lg"> 
    <div class="col-xs-3 col-sm-2 col-md-1 text-center mrgn-tp-md"> 
        <span class="glyphicon glyphicon-warning-sign glyphicon-error"></span> 
    </div> 
    <div class="col-xs-9 col-sm-10 col-md-11"> 
        <h1 class="mrgn-tp-md">Error occured</h1> 
        <p class="pagetag"><b>Error</b></p> 
    </div> 
</div>
<div class="row mrgn-bttm-lg"> 
    <div class="col-md-12"> 
        <p>We're sorry you ended up here.</p> 
        <p>Return to the <a href="#" (click)='backToHome()'>home page</a></p>
    </div> 
</div>
