<div [formGroup]="deviceListForm">
    <div formArrayName="devices">
      <expander-component [group]="dataModel" [disableExpand]="newRecordIndicator"
                          [isValid]="validRec" [addRecord]="addRecordMsg"
                          [columnDefinitions]="columnDefinitions"
                          [deleteRecord]="deleteRecordMsg">
        <device-record
          [detailsChanged]="updateDeviceDetails"
          [newRecord]="newRecordIndicator"
          [showErrors]="showErrors"
          (saveRecord)="saveDeviceRecord($event)"
          (errors)="updateErrorList($event)"
          (revertRecord)="revertDevice($event)" (deleteRecord)="deleteDevice($event)"></device-record>
  
      </expander-component>
      <div *ngIf="newRecordIndicator">
        <device-record
          [detailsChanged]="updateDeviceDetails"
          [newRecord]="newRecordIndicator"
          [showErrors]="showErrors"
          [group]="newDeviceForm"
          (saveRecord)="saveDeviceRecord($event)"
          (errors)="updateErrorList($event)"
          (revertRecord)="revertDevice($event)" (deleteRecord)="deleteDevice($event)"></device-record>
      </div>
    </div>
    <div class="row mrgn-tp-md mrgn-bttm-lg">
      <div class="btn-group-sm col-md-12 text-left">
        <button id="addDevice" class="btn btn-primary" (click)="addDevice()"
                [disabled]="isDirty()">
         {{'add.device'|translate}}
        </button>
      </div>
    </div>
  <!--pre>Form Data {{deviceListForm.value |json}}</pre>
    <pre>Data Model for Device List {{dataModel|json}}</pre-->
  </div>
  