.rep {
  display: inline !important;
  font-size: 100% !important;
  font-weight: 700 !important;;
/*  line-height: 1 !important;*/
  vertical-align: baseline;
/*  margin-top: 5px;*/
  text-align: center;
/*  padding: .5em .6em .3em !important;;;*/
  white-space: normal !important;;
  /* TODO what is being overridden in wet white-space: normal;*/
}

