<div>
  <div [formGroup]="certificationForm">
      <div class="row">
        <span class="field-name col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">{{ 'cert.name' |translate }}</span>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-xs-12">
          <label for="certification" class="required">
            <span class="field-name">{{ 'cert.first' |translate }}</span> 
            <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
            <control-messages *ngIf="certificationForm.controls['firstName'].invalid"
              [showError]="showErrors"
              [control]="certificationForm.controls['firstName'] | formControl"
              controlId="firstName"
              label="firstName"
              parentId="cspCertification">
            </control-messages>
            <input class="form-control" maxlength="60" size="30" id="firstName" type="text" [formControlName]="'firstName'"/>
          </label>
        </div>

      <div class="form-group col-sm-2 col-xs-12">
        <label for="certification">
          <span class="field-name">{{ 'cert.initials' |translate }}</span> 
          <control-messages *ngIf="certificationForm.controls['initials'].invalid"
            [showError]="showErrors"
            [control]="certificationForm.controls['initials'] | formControl"
            controlId="initials"
            label="initials"
            parentId="cspCertification">
          </control-messages>
          <input class="form-control" size="10" maxlength="10" id="initials" type="text" [formControlName]="'initials'"/>
        </label>
      </div>

      <div class="form-group col-sm-4 col-xs-12">
        <label for="certification" class="required">
          <span class="field-name">{{ 'cert.last' |translate }}</span> 
          <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
          <control-messages *ngIf="certificationForm.controls['lastName'].invalid"
            [showError]="showErrors"
            [control]="certificationForm.controls['lastName'] | formControl"
            controlId="lastName"
            label="lastName"
            parentId="cspCertification">
          </control-messages>
          <input class="form-control" size="30" maxlength="60" id="lastName" type="text" [formControlName]="'lastName'"/>
        </label>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-sm-4 col-xs-12">
        <label for="certification" class="required">
          <span class="field-name">{{ 'cert.job' |translate }}</span>
          <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>    
          <control-messages *ngIf="certificationForm.controls['jobTitle'].invalid"
            [showError]="showErrors"
            [control]="certificationForm.controls['jobTitle'] | formControl"
            controlId="jobTitle"
            label="jobTitle"
            parentId="cspCertification">
          </control-messages>
          <input class="form-control" maxlength="40" size="30" id="jobTitle" type="text" [formControlName]="'jobTitle'"/>
        </label>
      </div>

      <div class="form-group col-sm-6 col-xs-12">
        <label for="certification" class="required">
          <span class="field-name">{{ 'cert.date' |translate }}</span>
          <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>    
          <control-messages *ngIf="certificationForm.controls['date'].invalid"
            [showError]="showErrors"
            [control]="certificationForm.controls['date'] | formControl"
            controlId="date"
            label="date"
            parentId="cspCertification">
          </control-messages>
          <input class="form-control" id="date" type="date" [formControlName]="'date'" (input)="checkDateValidity($event)"/>
        </label>
      </div>

    </div>

  </div>
</div>
