<div>
  <div [formGroup]="contactFormLocalModel">

    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="{{contType}}FirstName" class="required full-width">
          <span class="field-name" i18n>{{'first.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['firstName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['firstName'] | formControl"
                            controlId="{{contType}}FirstName" label="first.name" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"></control-messages>
          <input name="firstName" id="{{contType}}FirstName" class="form-control full-width" maxlength="60" 
            [formControl]="contactFormLocalModel.controls['firstName'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
      <div class="form-group col-sm-6" >
        <label for="{{contType}}LastName" class="required full-width">
          <span class="field-name" i18n>{{'last.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['lastName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['lastName'] | formControl"
                            controlId="{{contType}}LastName" label="last.name" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"></control-messages>
          <input name="lastName" id="{{contType}}LastName" class="form-control full-width" maxlength="60" 
            [formControl]="contactFormLocalModel.controls['lastName'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="{{contType}}Language" class="required">
          <span class="field-name">{{'lang.correspond' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['language'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['language'] | formControl"
                            controlId="{{contType}}Language" label="lang.correspond" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"></control-messages>
          <select id="{{contType}}Language" required class="form-control" [formControl]="contactFormLocalModel.controls['language'] | formControl" 
            (change)="onLanguageSelected($any($event.target).value)">
            <option label=" " value=""></option>
            <option *ngFor="let langOption of languages" [ngValue]="langOption.id">{{langOption | textTransform: lang }}</option>
          </select>
        </label>
      </div>
      <div class="form-group col-sm-6">
        <label for="{{contType}}JobTitle" class="required full-width">
          <span class="field-name">{{'job.title'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['jobTitle'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['jobTitle'] | formControl"
                            controlId="{{contType}}JobTitle" label="job.title" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"></control-messages>
          <input name="jobTitle" id="{{contType}}JobTitle" class="form-control full-width" maxlength="60" 
          [formControl]="contactFormLocalModel.controls['jobTitle'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="{{contType}}PhoneNumber" class="required full-width">
          <span class="field-name" i18n>{{'phone.number'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['phoneNumber'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['phoneNumber'] | formControl"
                            controlId="{{contType}}PhoneNumber" label="phone.number" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"
                            requiredLength="10"></control-messages>
          <input name="phoneNumber" id="{{contType}}PhoneNumber" class="form-control full-width" data-only-digits
            [formControl]="contactFormLocalModel.controls['phoneNumber'] | formControl" maxlength="25" (blur)="onblur()"/>
        </label>
      </div>
      <div class="form-group col-sm-3">
        <label for="{{contType}}PhoneExtension">
          <span class="field-name" i18n>{{'phone.extension' |translate}}</span>
          <input name="phoneExtension" id="{{contType}}PhoneExtension" class="form-control" maxlength="10" data-only-digits
          [formControl]="contactFormLocalModel.controls['phoneExtension'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="full-width" for="{{contType}}FaxNumber">
          <span class="field-name" i18n>{{'fax.number' |translate }}</span><br/>
          <span class="field-name small" i18n>{{'fax.number.nofaxnum' |translate }}</span>
          <control-messages *ngIf="contactFormLocalModel.controls['faxNumber'].invalid" [showError]="showFieldErrors"
            [control]="contactFormLocalModel.controls['faxNumber'] | formControl" controlId="{{contType}}FaxNumber" label="fax.number"
            parentId="{{contType}}Info" parentLabel="{{contType}} Info" requiredLength="10"></control-messages>
          <input name="faxNumber" id="{{contType}}FaxNumber" class="form-control full-width" data-only-digits maxlength="25"
                 [formControl]="contactFormLocalModel.controls['faxNumber'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="{{contType}}Email" class="required full-width">
          <span class="field-name" i18n>{{'contact.email'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="contactFormLocalModel.controls['email'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['email'] | formControl"
                            controlId="{{contType}}Email" label="contact.email" parentId="{{contType}}Info"
                            parentLabel="{{contType}} Info"></control-messages>
          <input name="email" id="{{contType}}Email" class="form-control full-width" maxlength="80" 
            [formControl]="contactFormLocalModel.controls['email'] | formControl" (blur)="onblur()"/>
        </label>
      </div>
      
    </div>

    <!-- <pre>{{contactFormLocalModel.value |json}}</pre>-->
  </div>
</div>
