<section>
<div class="row">
  <div class="form-group">
    <div class="col-sm-4">
      <label for="fileLoad">
        <span class="field-name rep-margin-left" i18n>{{ "select.file" | translate }}</span>
      </label>
    </div>
    <div class="col-sm-8">
      <input type="file" id="fileLoad" name="fileLoad" accept=".xml, .hcsc" (change)="changeListener($event)"/>
    </div>
    <div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" aria-live='polite'>
    <p><br/><span *ngIf="showFileLoadStatus">{{status | translate}}</span></p>
  </div>
</div>
</section>
