<div>
  <div [formGroup]="contactFormLocalModel">
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="contactId" [ngClass]="{'required':isInternal}" class="full-width">
          <span class="field-name" >{{'contact.id'|translate}}</span>
          <strong *ngIf="isInternal" class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="isInternal && contactFormLocalModel.controls['contactId'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['contactId']"
                            controlId="contactId" label="contact.id" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="contactId" id="contactId" class="form-control"
                 [readonly]="!isInternal" [formControl]="contactFormLocalModel.controls['contactId'] | formControl" maxlength="5"/>
        </label>
      </div>
      <div class="form-group col-sm-6" >
        <label for="status" class="full-width">
          <span class="field-name">{{'status' |translate}}
              <sup id="co4-rf">
                <a class="fn-lnk" href="#co4"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.conStatInx}}</a>
              </sup>
          </span>
          <!--<strong class="required" >{{'commmon.required.bracket'|translate}}</strong>-->
          <!--<control-messages *ngIf="contactFormLocalModel.controls['status'].invalid"-->
                            <!--[showError]="showFieldErrors"-->
                            <!--[control]="contactFormLocalModel.controls['status']"-->
                            <!--controlId="status" label="status" parentId="contactDetails"-->
                            <!--parentLabel="REP Contact"></control-messages>-->
          <input name="contactId" id="status" class="form-control"
                 [readonly]="true" [formControl]="contactFormLocalModel.controls['status'] | formControl"/>
          <!--<select id="status" required class="form-control" [formControl]="contactFormLocalModel.controls['status']">-->
            <!--<option label=" " value=""></option>-->
            <!--<option *ngFor="let stat of statuses" [ngValue]="stat.id"> {{stat.label_en}}</option>-->
          <!--</select>-->
        </label>
      </div>

    </div>
    <!--<div class="row">-->
      <!--<div class="form-group col-sm-6" >-->
        <!--<label for="salutation" class="full-width">-->
          <!--<span class="field-name" >{{'salutation' |translate}}</span>-->
          <!--<select id="salutation" class="form-control" [formControl]="contactFormLocalModel.controls.salutation">-->
            <!--<option label=" " value=""></option>-->
            <!--<option *ngFor="let sal of salutations" [ngValue]="sal.id"> {{sal.label_en}}</option>-->
          <!--</select>-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="form-group col-sm-12" >
        <label for="fullName" class="required full-width" aria-required="true">
          <span class="field-name" >{{'full.name'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['fullName'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['fullName']"
                            controlId="fullName" label="full.name" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="fullName" id="fullName" class="form-control full-width" maxlength="45" [formControl]="contactFormLocalModel.controls['fullName'] | formControl"/>
        </label>
      </div>
      <!--<div class="form-group col-sm-2" >-->
        <!--<label for="initials" class="full-width">-->
          <!--<span class="field-name" >{{'initials'|translate}}</span>-->
          <!--<input name="initials" id="initials" class="form-control full-width" maxlength="5" [formControl]="contactFormLocalModel.controls.initials"/>-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="form-group col-sm-5" >-->
        <!--<label for="lastName" class="required full-width" aria-required="true">-->
          <!--<span class="field-name" >{{'last.name'|translate}}</span>-->
          <!--<strong class="required" >{{'commmon.required.bracket'|translate}}</strong>-->
          <!--<control-messages *ngIf="contactFormLocalModel.controls.lastName.invalid"-->
                            <!--[showError]="showFieldErrors"-->
                            <!--[control]="contactFormLocalModel.controls.lastName"-->
                            <!--controlId="lastName" label="last.name" parentId="contactDetails"-->
                            <!--parentLabel="REP Contact"></control-messages>-->
          <!--<input name="lastName" id="lastName" class="form-control full-width" maxlength="20" [formControl]="contactFormLocalModel.controls.lastName"/>-->
        <!--</label>-->
      <!--</div>-->
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="language" class="required">
          <span class="field-name">{{'lang.correspond' |translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['language'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['language']"
                            controlId="language" label="lang.correspond" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <select id="language" required class="form-control" [formControl]="contactFormLocalModel.controls['language'] | formControl">
            <option label=" " value=""></option>
            <option *ngFor="let lang of languages" [ngValue]="lang.id"> {{lang.label_en}}</option>
          </select>
        </label>
      </div>
      <div class="form-group col-sm-4">
        <label for="jobTitle" class="required full-width" aria-required="true">
          <span class="field-name">{{'job.title'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['jobTitle'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['jobTitle']"
                            controlId="jobTitle" label="job.title" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="jobTitle" id="jobTitle" class="form-control full-width" maxlength="45" [formControl]="contactFormLocalModel.controls['jobTitle'] | formControl"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" >
        <label for="phoneNumber" class="required full-width" aria-required="true">
          <span class="field-name" >{{'phone.number'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['phoneNumber'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['phoneNumber']"
                            controlId="phoneNumber" label="phone.number" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="phoneNumber" id="phoneNumber" class="form-control only-digits full-width" [formControl]="contactFormLocalModel.controls['phoneNumber'] | formControl" maxlength="16"/>
        </label>
      </div>
      <div class="form-group col-sm-3">
        <label for="phoneExtension">
          <span class="field-name" >{{'phone.extension' |translate}}</span>
          <input name="phoneExtension" id="phoneExtension" class="form-control" maxlength="10" [formControl]="contactFormLocalModel.controls['phoneExtension'] | formControl"/>
        </label>
      </div>
      <div class="form-group col-sm-4 ">
        <label class="full-width" for="faxNumber">
          <span class="field-name" >{{'fax.number' |translate}}</span>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['faxNumber'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['faxNumber']"
                            controlId="faxNumber" label="fax.number" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="faxNumber" id="faxNumber" class="form-control full-width" only-digits maxlength="16"
                 [formControl]="contactFormLocalModel.controls['faxNumber'] | formControl"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="email" class="required full-width" aria-required="true">
          <span class="field-name" >{{'contact.email'|translate}}</span>
          <strong class="required" >{{'commmon.required.bracket'|translate}}</strong>
          <!-- <control-messages *ngIf="contactFormLocalModel.controls['email'].invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls['email']"
                            controlId="email" label="contact.email" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages> -->
          <input name="email" id="email" class="form-control full-width" maxlength="50" [formControl]="contactFormLocalModel.controls['email'] | formControl"/>
        </label>
      </div>
      <div class="form-group col-sm-6" >
        <label for="routingId">
          <span class="field-name">{{'routing.id' |translate}}</span>
          <sup id="co4a-rf">
            <a class="fn-lnk" href="#co4a"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences.routIdInx}}</a>
          </sup>
          <input name="routingId" id="routingId" class="form-control full-width"
                 [formControl]="contactFormLocalModel.controls['routingId'] | formControl" (blur)="onblur()" maxlength="64"/>
        </label>
      </div>
    </div>

    <!--<div class="row" *ngIf="isInternal">-->
      <!--<div class="checkbox col-sm-12">-->
          <!--<label for="recordProcessed">-->
            <!--<input name="recordProcessed" type="checkbox" (blur)="recordPrcsOnblur()"-->
                   <!--[formControl]="contactFormLocalModel.controls.recordProcessed"-->
                   <!--id="recordProcessed"/>-->
            <!--<strong class="field-name" >{{'record.processed'|translate}}</strong>-->
            <!--<strong class="required" >{{'commmon.required.bracket'|translate}}</strong>-->
            <!--<control-messages *ngIf="isInternal && contactFormLocalModel.controls.recordProcessed.invalid"-->
                              <!--[showError]="showFieldErrors"-->
                              <!--[control]="contactFormLocalModel.controls.recordProcessed"-->
                              <!--controlId="recordProcessed" label="record.processed" parentId="contactDetails"-->
                              <!--parentLabel="REP Contact"></control-messages>-->
          <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <!-- <pre>{{contactFormLocalModel.value |json}}</pre>-->
  </div>
</div>
