<div [formGroup]="addressListForm">
  <div formArrayName="addresses">
    <expander-component [group]="dataModel"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [deleteRecord]="deleteRecordMsg">
      <company-address-record
        [detailsChanged]="updateAddressDetails"
        [countries]="countryList"
        (saveRecord)="saveAddressRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertAddress($event)" (deleteRecord)="deleteAddress($event)"></company-address-record>

    </expander-component>
    <div *ngIf="newRecordIndicator">
      <company-address-record
        [detailsChanged]="updateAddressDetails"
        [countries]="countryList"
        [group]="newAddressForm"
        (saveRecord)="saveAddressRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertAddress($event)" (deleteRecord)="deleteAddress($event)"></company-address-record>
    </div>
  </div>
  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-right">
      <button class="btn btn-primary" (click)="addAddress()"
              [disabled]="!addressListForm.valid || isDirty()">
       {{'add.address'|translate}}
      </button>
    </div>
  </div>
<pre>Form Data {{addressListForm.value |json}}</pre>
  <pre>Data Model for Address List {{dataModel|json}}</pre>
</div>

