<div *ngIf="lang === 'en'">
    <ul>
        <li>Enter “000000” for the first transaction of a NEW regulatory activity, where a control number has not yet
            been
            assigned. (e.g. NDS, ANDS, SNDS, SANDS, DINA, DINB, DIND, DINF, UDRA when either initial, administrative,
            post-NOC change or change to DIN are selected as the regulatory transaction description).</li>
        <li>Enter “000000” for regulatory transactions related to a regulatory activity that does not require a control
            number (e.g. post-DIN notification).</li>
        <li>Enter the 6-digit control number associated with this regulatory activity (if known) (e.g. response to
            screening
            clarification request, post-clearance data, drug notification form).</li>
        <li>Enter the pre-assigned control number for the first transaction of a new regulatory activity that was
            communicated by Health Canada (e.g. via an advisement letter).</li>
        <li>Consult the DSTS-IA to verify the correct control number if one has been previously issued.</li>
    </ul>
    <p>Regulatory activity: A collection of all regulatory transactions throughout the process of a specific activity
        (i.e.
        NDS, ANDS, PSUR, etc.), also referred to as a submission. </p>
    <p>Regulatory transaction: Any information package sent by the sponsor as part of a regulatory activity such as
        initial
        data, unsolicited and solicited data (e.g. response to a clarification request, drug notification form (DNF),
        etc.).
    </p>
</div>
<div *ngIf="lang === 'fr'">
    <ul>
        <li>Entrez le « 000000 » pour la première transaction d'une NOUVELLE activité réglementaire si le numéro de
            contrôle n'a pas encore été attribué (p. ex. PDN, PADN, SPDN, SPADN, DDIN, DDIN-PB, DDIN-PD, DDIN-PF, ARND
            si initial, administratif, changements survenus après l'AC ou changement de DIN est sélectionné en tant que
            description de transaction réglementaire).
        </li>
        <li>Entrez le « 000000 » pour les transactions réglementaires concernant un activité réglementaire qui ne
            nécessite pas de numéro de contrôle (p. ex. avis suivant
            l'émission du DIN).</li>
        <li>Entrez les 6 chiffres du numéro associé à l'activité réglementaire correspondante (si établi) (p. ex.
            réponse à la demande d'éclaircissements sur le dépistage, données de post-homologation, formulaire de
            déclaration de médicament).</li>
        <li>Entrez le numéro de contrôle pré-attribué pour la première transaction d'une
            nouvelle activité communiquée par Santé Canada (p. ex. par l'entremise une lettre d'avis).</li>
        <li>Consultez le SSPD-AI afin de vérifier le numéro de contrôle si un numéro a déjà été attribué. </li>
    </ul>
    <p>Activités de réglementation : Ensemble de toutes les transactions réglementaires menées tout au long du processus
        d'une activité donnée (p. ex. PDN, PADN, RPPV, etc.), également appelée une soumission. </p>
    <p>Transaction réglementaire : Ensemble de renseignements envoyés par le demandeur dans le cadre d'une activité de
        réglementation, comme les données initiales, les renseignements non sollicités et les renseignements sollicités
        (p.ex. réponse à la demande d'éclaircissement, formulaire de déclaration de médicament (FDM), etc.).</p>
</div>