<lib-layout>
    <div header>
        <section class="module-attention">
            <details>
                <summary class="background-medium">{{ "top.privacy.statement" | translate }}</summary>
                <lib-privacy-statement [lang]="language"></lib-privacy-statement>
            </details>
        </section>

        <section class="module-attention">
            <details>
                <summary class="background-medium">{{ "top.security.declaimer" | translate }}</summary>
                <lib-security-disclaimer [lang]="language"></lib-security-disclaimer>
            </details>
        </section>

        <section class="module-attention">
            <details>
                <summary class="background-medium">{{ "top.instruction" | translate }}</summary>
                <app-instruction [helpTextSequences]="helpIndex"></app-instruction>
            </details>
        </section>
    </div>

    <div body>
        @defer (when loadFormBaseComponent) {
            <app-form-base [helpTextSequences]="helpIndex"></app-form-base>
        }
    </div>
</lib-layout> 