<div class="container-fluid" [formGroup]="contactRecordModel" *ngIf="contactRecordModel">
 
  <lib-error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="{{headingPreamble}}" headingPreambleParams="{{headingPreambleParams}}"
                 [headingLevel]="headingLevel" label="error.msg.contactDetails" compId="contactRec"></lib-error-summary> 

  <contact-details [showErrors]="showErrors" [isInternal]="isInternal" [lang]="lang"
                   [languageList]="languageList" [contactStatusList]="contactStatusList"
                   [recordId]="contactRecordModel.get('id').value" [group]="contactDetailsForm"
                   [helpTextSequences]="helpTextSequences" [translatedParentLabel]="translatedParentLabel"
                   (errorList)="updateErrorList($event)"></contact-details>

  <div class="row">
    <div class="btn-group-sm col-xs-12 text-left">
      <button *ngIf="isExternalNewContact()" class="btn btn-primary" (click)="saveContactRecord()" >{{'save.contact'|translate}}</button>&nbsp;
      <button *ngIf="isInternalActiveContact()" class="btn btn-default" (click)="activeContactRecord()" >{{'set.active.status'|translate}}</button>&nbsp;
      <button *ngIf="isExternalNotNewContact()" class="btn btn-default" (click)="setStatusToRevise()" [disabled]="showErrorSummary()" >{{'set.revise.status'|translate}}</button>
      <button *ngIf="isInternalDeleteContact()" class="btn btn-danger" (click)="deleteContactRecord()" >{{'remove.contact'|translate}}</button>&nbsp;
      <button *ngIf="isExternalNotNewContact()" class="btn btn-default" (click)="setStatusToRemove()" [disabled]="showErrorSummary()" >{{'set.remove.status'|translate}}</button>
      <button *ngIf="isNewContact()" class="btn btn-danger" (click)="deleteContactRecord()" >{{'discard.record'|translate}}</button>&nbsp;
      <span   *ngIf="!isInternal">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-default" (click)="revertContactRecord()" >{{'discard.changes'|translate}}</button>
    </div>
  </div>
  <!--<div class="row" *ngIf="contactRecordModel.dirty">-->
    <!--<div class="col-xs-7 form-group">-->
      <!--<div class="alert alert-info" role="alert"-->
           <!--aria-live="polite">-->
        <!--<span>{{'common.saveRevert'|translate}}</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--<hr class="brdr-bttm">-->
  <!--pre>{{contactRecordModel.value |json}}</pre-->
</div>
