.wb-popup-mid {
    width: 50%;
    height: fit-content;
}

.custom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.left-button,
.right-button {
    flex: 0 0 auto;
}
  