<lib-popup [id]="popupId" [title]="'popup.title' | translate" [message]="'msg.save.xml.popup' | translate" [close]="'popup.close' | translate"></lib-popup>

<div class="container-fluid">
    <form name="aplicationForm" [formGroup]="applicationForm" novalidate>
        <div class="row mrgn-tp-md">
          <div class="col-md-12">
            <div class="text-right">
              <span id="securityInfo" class="fa fa-shield fa-sm"><strong>&nbsp;{{'PROTECTED_B'|translate}}</strong></span>
            </div>
          </div>
        </div>
        <div>
          <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
              <h2 class="panel-title">{{'load.file'|translate}}
                <sup id="ap1-rf">
                  <a class="fn-lnk" href="#ap1"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['loadFileIndx']}}</a>
                </sup>
              </h2>
            </header>
            <div class="panel-body">
              <div class="row">
                <lib-file-reader (complete)="processFile($event)" [rootTag]="rootTagText" [lang]="lang">
                  <app-filereader-instruction fileUploadInstruction [lang]="lang"></app-filereader-instruction>
                </lib-file-reader>
              </div>
            </div>
          </section>
        </div>
  
        <div id="topErrorSummary">
          <lib-error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                       headingPreamble="errorSummary.application-info"></lib-error-summary>
        </div>

        <div>
            <section class="panel panel-primary mrgn-tp-lg">
              <header class="panel-heading clearfix">
                <h2 class="panel-title">{{'heading.app-info'|translate}}
                  <sup id="ap2-rf">
                    <a class="fn-lnk mrgn-tp-md" href="#ap2"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpTextSequences['appInfoREPIndx']}}</a>
                  </sup>
                </h2>
              </header>
              <div class="panel-body">
                <!-- [detailsChanged]="updateChild"
                  (declarationConformity)="disableSaveXmlButton($event)
                  [loadFileIndicator]="loadFileIndicator"
                          -->
                <app-info-details [showErrors]="showErrors"
                                  [appInfoModel]="appInfoModel"
                                  [deviceModel]="deviceModel" 
                                  [materialInfo]="materialInfo"    
                                  [helpTextSequences]="helpIndex"
                                  (detailErrorList)="processDetailErrors($event)"
                                  (deviceErrorList)="processDeviceErrors($event)"                                 
                                  (materialErrorList)="resetMaterialErrors($event)">
                </app-info-details>

              </div>
            </section>
          </div>
          <div class="row btn-group-sm">
            <div class="form-group col-md-4">
              <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()">
                {{'save.working.copy'|translate}}
              </button>
            </div>
            <div class="form-group col-md-4">
              <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()">
                {{'generate.final'|translate}}
              </button>
            </div>
          </div>
    </form>
</div>
