<section class="panel  panel-default">
    <header class="panel-heading clearfix">
      <h2 class="panel-title">{{'containing.material'|translate}}</h2>
    </header>
    <div class="panel-body">
      <div class="row form-group">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend class="required">
            {{'consist.recombinant' |translate}}
            <strong class="required" aria-hidden="true"> {{'commmon.required.bracket' |translate}}</strong>
            <control-messages *ngIf="materialInfoForm.controls['hasRecombinant'].invalid"
                              [showError]="showErrors"
                              [control]="materialInfoForm.controls['hasRecombinant'] | formControl"
                              controlId="hasRecombinant" label="consist.recombinant" parentId="materialInfoDetails"></control-messages>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="hasRecombinant{{i}}" class="radio-inline">
              <input type="radio" id="hasRecombinant{{i}}" name="hasRecombinant" [value]="yesno.id"
                aria-required="true"    [formControl]="materialInfoForm.controls['hasRecombinant'] | formControl">
              {{yesno | textTransform: lang }}
            </label>  
          </ng-container>
        </fieldset>
      </div>
      <div class="row form-group">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend class="required">
            {{'contain.material' |translate}}
            <strong class="required" aria-hidden="true"> {{'commmon.required.bracket' |translate}}</strong>
            <control-messages *ngIf="materialInfoForm.controls['isAnimalHumanSourced'].invalid"
                              [showError]="showErrors"
                              [control]="materialInfoForm.controls['isAnimalHumanSourced'] | formControl"
                              controlId="isAnimalHumanSourced" label="contain.material" parentId="materialInfoDetails"></control-messages>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="isAnimalHumanSourced{{i}}" class="radio-inline">
              <input type="radio" id="isAnimalHumanSourced{{i}}" name="isAnimalHumanSourced" [value]="yesno.id"
                aria-required="true"    [formControl]="materialInfoForm.controls['isAnimalHumanSourced'] | formControl">
              {{yesno | textTransform: lang }}
            </label>
          </ng-container>
        </fieldset>
      </div>
      <div class="row form-group" *ngIf="isAnimalHumanSourced()">
        <fieldset class="col-xs-12 chkbxrdio-grp">
          <legend class="required">
            {{'is.same.material' |translate}}
            <strong class="required" aria-hidden="true"> {{'commmon.required.bracket' |translate}}</strong>
            <control-messages *ngIf="materialInfoForm.controls['isListedIddTable'].invalid"
                              [showError]="showErrors"
                              [control]="materialInfoForm.controls['isListedIddTable'] | formControl"
                              controlId="isListedIddTable" label="is.same.material" parentId="materialInfoDetails"></control-messages>
          </legend>
          <ng-container *ngFor="let yesno of yesNoList; let i = index">
            <label for="isListedIddTable{{i}}" class="radio-inline">
              <input type="radio" id="isListedIddTable{{i}}" name="isListedIddTable" [value]="yesno.id"
                aria-required="true"    [formControl]="materialInfoForm.controls['isListedIddTable'] | formControl">
              {{yesno | textTransform: lang }}
            </label>
          </ng-container>
        </fieldset>
      </div>
      <div *ngIf="isAnimalHumanSourced()">
        <section id="materialList" class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'heading.materials'|translate}}</h3>
          </header>
          <div class="panel-body">
            <app-material-list [materialListData]="materialListModel"> </app-material-list>
          </div>
        </section>
      </div>
    </div>
  </section>