<div>
    <div [formGroup]="deviceFormLocalModel">
  
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="deviceName" >
            <span class="field-name" i18n>{{'device.name'|translate}}</span>
          </label>
            <input id="deviceName" name="deviceName" class="form-control full-width"
                   [formControl]="deviceFormLocalModel.controls.deviceName" maxlength="150"/>
        </div>
      </div>
  
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="deviceAuthorized" class="required full-width">
            <span class="field-name" i18n>{{'device.authorized' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="deviceFormLocalModel.controls.deviceAuthorized.invalid"
                              [showError]="showFieldErrors"
                              [control]="deviceFormLocalModel.controls.deviceAuthorized"
                              controlId="deviceAuthorized" label="device.authorized" parentId="deviceDetails"
                              parentLabel="Interdependent Device"></control-messages>
  
            <select id="deviceAuthorized"name="deviceAuthorized" required class="form-control"
                    [formControl]="deviceFormLocalModel.controls.deviceAuthorized">
  
              <option label=" " value=""></option>
              <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
            </select>
          </label>
        </div>
  
        <div *ngIf="isDeviceAuthorized()" class="form-group col-sm-12 ">
          <label for="licenceNum" class="required" aria-required="true">
            <span class="field-name" i18n>{{'licence.application.number' |translate}} {{'minNumber6' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <!--<sup id="ap7-rf">-->
              <!--<a class="fn-lnk" href="#ap7"><span class="wb-inv">{{'instruction'|translate}}</span>7</a>-->
            <!--</sup>-->
            <control-messages *ngIf="deviceFormLocalModel.controls.licenceNum.invalid"
                              [showError]="showFieldErrors"
                              [control]="deviceFormLocalModel.controls.licenceNum"
                              controlId="licenceNum" label="licence.application.number" parentId="deviceDetails"
                              parentLabel="Interdependent Device">
            </control-messages>
            <input id="licenceNum" name="licenceNum" class="form-control" only-digits maxlength="6"
                   [formControl]="deviceFormLocalModel.controls.licenceNum" minlength="6" required/>
          </label>
        </div>
  
        <div *ngIf="isDeviceNotAuthorized()" class="form-group col-sm-12">
          <label for="deviceApplicationSubmitted" class="required full-width">
            <span class="field-name" i18n>{{'device.application.submitted' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="deviceFormLocalModel.controls.deviceApplicationSubmitted.invalid"
                              [showError]="showFieldErrors"
                              [control]="deviceFormLocalModel.controls.deviceApplicationSubmitted"
                              controlId="deviceApplicationSubmitted" label="device.application.submitted" parentId="deviceDetails"
                              parentLabel="Interdependent Device"></control-messages>
  
            <select id="deviceApplicationSubmitted" name="deviceApplicationSubmitted" class="form-control"
                    required [formControl]="deviceFormLocalModel.controls.deviceApplicationSubmitted">
  
              <option label=" " value=""></option>
              <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
            </select>
          </label>
        </div>
  
        <div *ngIf="isDeviceApplicationSubmitted()" class="form-group col-sm-12 ">
          <label for="deviceApplicationNumber" class="required" aria-required="true">
            <span class="field-name" i18n>{{'application.number' |translate}} {{'minNumber6' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="deviceFormLocalModel.controls.deviceApplicationNumber.invalid"
                              [showError]="showFieldErrors"
                              [control]="deviceFormLocalModel.controls.deviceApplicationNumber"
                              controlId="deviceApplicationNumber" label="application.number" parentId="deviceDetails"
                              parentLabel="Interdependent Device">
            </control-messages>
            <input id="deviceApplicationNumber" name="deviceApplicationNumber" class="form-control" required
                   only-digits maxlength="6" minlength="6" [formControl]="deviceFormLocalModel.controls.deviceApplicationNumber"/>
          </label>
        </div>
  
        <div *ngIf="isDeviceApplicationNotSubmitted()" class="form-group col-sm-12">
          <label for="deviceExplain" class="required" aria-required="true">
            <span class="field-name" i18n>{{'device.explain'|translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="deviceFormLocalModel.controls.deviceExplain.invalid"
                              [showError]="showFieldErrors"
                              [control]="deviceFormLocalModel.controls.deviceExplain"
                              controlId="deviceExplain" label="device.explain" parentId="deviceDetails"
                              parentLabel="Interdependent Device"></control-messages>
          </label>
            <textarea id="deviceExplain" name="deviceExplain" class="form-control full-width"
                      required [formControl]="deviceFormLocalModel.controls.deviceExplain" rows="5" maxlength="1000"></textarea>
  
  
        </div>
  
      </div>
      <!-- <pre>{{deviceFormLocalModel.value |json}}</pre>-->
    </div>
  </div>
  