<div [formGroup]="feesForm">
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-info" role="alert">
            <p aria-live="polite">{{'fee.pay.notice' | translate}}&nbsp;<a href="{{'fees.and.funding.url'|translate}}">{{'fees.and.funding.rev'|translate}}</a></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="subClass" class="required">
                <span class="field-name">{{'sub.class'|translate }}</span>
                <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="feesForm.controls['subClass'].invalid"
                    [showError]="showFieldErrors"
                    [control]="feesForm.controls['subClass'] | formControl"
                    controlId="subClass" label="company.id" parentId="fees"></control-messages>
            </label>
            <select id="subClass" name="subClass" class="form-control" [formControlName]="'subClass'">
                    <option label=" " value=""></option>
                    <option *ngFor="let item of submissionClassOptions" [value]="item.id"> {{ item | textTransform: lang }}</option>
            </select>
        </div>
    </div>
</div>
