<div [formGroup]="feesForm">
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-info" role="alert">
            <p aria-live="polite" [innerHTML]="'fee.pay.notice' | translate"></p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="subClass" class="required">
                <span class="field-name">{{'sub.class'|translate }}</span>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="feesForm.controls['subClass'].invalid"
                    [showError]="showFieldErrors"
                    [control]="feesForm.controls['subClass'] | formControl"
                    controlId="subClass" label="sub.class" ></control-messages>
            </label>
            <select id="subClass" name="subClass" class="form-control" [formControlName]="'subClass'" (change)="onSubmissionClassSelected($any($event.target).value)">
                    <option label=" " value=""></option>
                    <option *ngFor="let item of submissionClassOptions" [value]="item.id"> {{ item | textTransform: lang }}</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="submissionDescription != null">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-info" role="alert">
                <strong class="field-name">{{'fee.description'|translate }}</strong>
                <p aria-live="polite" [innerHTML]="submissionDescription"></p>
            </div>
        </div>
    </div>
    <section class="panel panel-default">
        <header class="panel-heading clearfix group-beside">
          <h3 class="panel-title">{{'heading.mitigation.measures'|translate}}</h3>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label for="mitigationType">
                        <span class="field-name">{{'mitigation.type'|translate }}</span>
                    </label>
                    <select id="mitigationType" name="mitigationType" class="form-control" [formControlName]="'mitigationType'" (change)="onMitigationTypeSelected($any($event.target).value)">
                            <option label=" " value=""></option>
                            <option *ngFor="let item of mitigationTypeOptions" [value]="item.id"> {{ item | textTransform: lang }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showGovOrg()">
                <label for="certifyGovOrg" class="required">
                <input type="checkbox" id="certifyGovOrg" [formControlName]="'certifyGovOrg'"/>
                <strong> {{'certify.goverment.organization'|translate}}</strong>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="feesForm.controls['certifyGovOrg'].invalid" [showError]="showErrors"
                    parentId="feesForm" [control]="feesForm.controls['certifyGovOrg'] | formControl" 
                    controlId="certifyGovOrg" label="certify.goverment.organization"></control-messages>
                </label>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showISAD()">
                <label for="certifyISAD" class="required">
                <input type="checkbox" id="certifyISAD" [formControlName]="'certifyISAD'"/>
                <strong> {{'certify.isad'|translate}}</strong>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="feesForm.controls['certifyISAD'].invalid" [showError]="showErrors"
                    parentId="feesForm" [control]="feesForm.controls['certifyISAD'] | formControl" 
                    controlId="certifyISAD" label="certify.isad"></control-messages>
                </label>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showFundedInstitution()">
                <label for="certifyFundedInstitution" class="required">
                <input type="checkbox" id="certifyFundedInstitution" [formControlName]="'certifyFundedInstitution'"/>
                <strong> {{'certify.funded.health.institution'|translate}}</strong>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <ol class="lst-lwr-alph">
                    <li>{{'certify.funded.health.institution.a'|translate }}</li>
                    <li>{{'certify.funded.health.institution.b'|translate }}</li>
                </ol>
                <control-messages *ngIf="feesForm.controls['certifyFundedInstitution'].invalid" [showError]="showErrors"
                    parentId="feesForm" [control]="feesForm.controls['certifyFundedInstitution'] | formControl" 
                    controlId="certifyFundedInstitution" label="certify.funded.health.institution"></control-messages>
                </label>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showSmallBusiness()">
                <label for="certifySmallBusiness" class="required">
                <input type="checkbox" id="certifySmallBusiness" [formControlName]="'certifySmallBusiness'"/>
                <strong> {{'certify.organization'|translate}}</strong>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <control-messages *ngIf="feesForm.controls['certifySmallBusiness'].invalid" [showError]="showErrors"
                    parentId="feesForm" [control]="feesForm.controls['certifySmallBusiness'] | formControl" 
                    controlId="certifySmallBusiness" label="certify.organization"></control-messages>
                </label>
            </div>
            <div class="row form-group" *ngIf="showSmallBusiness()">
                <fieldset class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chkbxrdio-grp">
                    <legend class="required">{{'small.business.fee.application'|translate}}
                        <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                        <control-messages *ngIf="feesForm.controls['smallBusinessFeeApp'].invalid" [showError]="showErrors"
                        parentId="feesForm" [control]="feesForm.controls['smallBusinessFeeApp'] | formControl" 
                        controlId="smallBusinessFeeApp0" label="small.business.fee.application"></control-messages>
                    </legend>
                    <ng-container *ngFor="let yesno of yesNoList; let i = index">
                        <label for="smallBusinessFeeApp{{i}}" class="radio-inline">
                          <input type="radio"
                            id="smallBusinessFeeApp{{i}}" name="smallBusinessFeeApp" [value]="yesno.id" 
                            [formControl]="feesForm.controls['smallBusinessFeeApp'] | formControl"/>
                          {{yesno | textTransform: lang }}
                          </label>
                       </ng-container>
                </fieldset>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showUrgentHealthNeed()">
                <label for="certifyUrgentHealthNeed" class="required">
                <input type="checkbox" id="certifyUrgentHealthNeed" [formControlName]="'certifyUrgentHealthNeed'"/>
                <strong> {{'certify.urgent.health.need'|translate}}</strong>
                <strong class="required">{{ 'commmon.required.bracket'|translate }}</strong>
                <ol class="lst-lwr-alph">
                    <li>{{'drug.the.same.ingredient'|translate}}</li>
                    <li>{{'no.drug.identification.number'|translate}}</li>
                    <li>{{'no.notice.compliance'|translate}}</li>
                </ol>
                <control-messages *ngIf="feesForm.controls['certifyUrgentHealthNeed'].invalid" [showError]="showErrors"
                    parentId="feesForm" [control]="feesForm.controls['certifyUrgentHealthNeed'] | formControl" 
                    controlId="certifyUrgentHealthNeed" label="certify.urgent.health.need"></control-messages>
                </label>
            </div>
        </div>
      </section>
</div>
