<form [formGroup]="deviceListForm">
    <div formArrayName="devices">

      <lib-accordion [rowsFormArray]="devicesFormArr" [accordionHeadingMsgKey]="'heading.interdependent.device'" [accordionHeadingSupp]="['deviceInfo', 'deviceName']" 
      (rowClicked)="handleRowClick($event)">
    
      <ng-template #tmpl let-recordRow let-idx="i">
        <!-- ==={{recordRow.get('id').value}}===
        === index = {{idx}} ,  === -->
        <app-device-item [cRRow]="recordRow" [j]="idx" (saveRecord)="saveDeviceRecord($event)"
          (deleteRecord)="deleteDeviceRecord($event)" (revertRecord)="revertDevice($event)" (error)="showError($event)">
        </app-device-item>
        <!-- <company-contact-record 
          [cRRow]="recordRow" [isInternal]="isInternal"
          [languageList]="languageList" [contactStatusList]="contactStatusList" [showErrors]="showErrors" [lang]="lang"
          [helpTextSequences]="helpTextSequences" (saveRecord)="saveContactRecord($event)"
          (errors)="updateErrorList($event)" (revertRecord)="revertContact($event)"
          (deleteRecord)="deleteContact($event)"></company-contact-record> -->
      </ng-template>
    
    </lib-accordion>
  
    <div class="row mrgn-tp-md mrgn-bttm-lg">
      <div class="btn-group-sm col-md-12 text-left">
        <button class="btn btn-primary" (click)="addDevice()" id="addDeviceBtn" [disabled]="disableAddButton()"> <!--[disabled]="disableAddButton()"-->
          {{'add.device'| translate}}
        </button>
      </div>
    </div>
    
    <!-- <button (click)="coaddNewContact(comp.get('projects'))">Add new Project</button> -->
    <!-- <pre>{{deviceListForm.value | json}}</pre> -->
    </div>
  </form>