<div class="container-fluid" [formGroup]="specyRecordModel" *ngIf="specyRecordModel">
  <div id="contactErrorSummary{{specyRecordModel.get('id').value}}">
  <lib-error-summary *ngIf="showErrorSummary()"
                 [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="{{headingPreamble}}" headingPreambleParams="{{headingPreambleParams}}"
                 [headingLevel]="headingLevel" label="error.msg.specyDetails" compId="specyListTable"></lib-error-summary>
  </div>
  <app-species-subtypes-detail-component [showErrors]="showErrors"
                   [lang]="lang"
                   [recordId]="specyRecordModel.get('id').value"
                    [group]="speciesSubtypesDetailsForm"
                   [helpTextSequences]="helpTextSequences"
                   [translatedParentLabel]="translatedParentLabel"
                   (errorList)="updateErrorList($event)"
                   [vetSpecies]="vetSpecies"
                   [specySubTypes]="specySubTypes"
                   [yesNoList]="yesNoList"
                   >

                  </app-species-subtypes-detail-component>

                   <div  class="row">
                    <div class="btn-group-sm  col-xs-12 text-left">
                      <ul class="list-inline lst-spcd ">

                        <ng-container >
                          <li >
                            <button id="saveRecord{{specyRecordModel.get('id').value}}"
                                attr.aria-label="{{'save.record' | translate}} {{'heading.contactDetails' | translate: {seqnumber: j + 1} }}"
                                class="btn btn-primary" (click)="saveSpecyRecord()" [disabled]="disableForm">{{'save.record'|translate}}</button>
                          </li>
                          <li>
                            <button id="internalDeleteRecord{{specyRecordModel.get('id').value}}"
                            attr.aria-label="{{'delete.record' | translate}} {{'heading.contactDetails' | translate: {seqnumber: j + 1} }}"
                            class="btn btn-danger" (click)="deleteSpecyRecord($event, j)" [disabled]="disableForm">{{'delete.record'|translate}}</button>
                          </li>
                          <li >
                            <button id="internalRevertRecord{{specyRecordModel.get('id').value}}"
                            attr.aria-label="{{'discard.changes' | translate}} {{'heading.contactDetails' | translate: {seqnumber: j + 1} }}"
                            class="btn btn-default"  [disabled]="disabledDiscardButton() || disableForm" (click)="revertSpecyRecord($event, j)" >{{'discard.changes'|translate}}</button>
                          </li>
                        </ng-container>

                      </ul>
                    </div>
                  </div>
</div>
