<div>
    <div [formGroup]="applicantInformationForm">
        <div class="row">
            <div class="form-group col-xs-8 ">
                <label for="applicantName" class="required">
                    <span class="field-name">{{ 'applicant.name'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="applicantInformationForm.controls['applicantName'].invalid"
                        [showError]="showErrors"
                        [control]="applicantInformationForm.controls['applicantName'] | formControl" controlId="applicantName"
                        label="applicant.name" parentId="cspApplicant"></control-messages>
                    <input maxlength="80" id="applicantName" class="form-control" size="80"
                        name="applicantName" [formControl]="applicantInformationForm.controls['applicantName'] | formControl" />
                </label>
            </div>
            <div class="form-group col-xs-4">
                <label for="craBusinessNumber">
                    <span class="field-name">{{ 'cra.business.number'|translate }}</span>
                    <input data-only-digits maxlength="9" minlength="9" id="craBusinessNumber" class="form-control"
                        name="craBusinessNumber" [formControl]="applicantInformationForm.controls['craBusinessNumber'] | formControl" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="cspNumber" class="required">
                    <span class="field-name">{{ 'csp.customer.number'|translate }}</span>
                    <strong class="required" aria-hidden="true">{{ 'commmon.required.bracket'|translate }}</strong>
                    <control-messages *ngIf="applicantInformationForm.controls['cspNumber'].invalid"
                        [showError]="showErrors"
                        [control]="applicantInformationForm.controls['cspNumber'] | formControl" controlId="cspNumber"
                        label="csp.customer.number" parentId="cspApplicant"></control-messages>
                    <input maxlength="5" size="5" id="cspNumber" class="form-control"
                        name="cspNumber" [formControl]="applicantInformationForm.controls['cspNumber'] | formControl" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-8">
                <label for="agentName">
                    <span class="field-name">{{ 'agent.name'|translate }}</span>
                    <input maxlength="80" size="80" id="agentName" class="form-control"
                        name="agentName" [formControl]="applicantInformationForm.controls['agentName'] | formControl" />
                </label>
            </div>
        </div>
        
        <legend class="ng-binding">
            {{"applicant.contact.info" | translate}}
        </legend>

        <pbv-contact-details [showErrors]="showErrors" 
        [contactDetailsModel]="applicantContactModel"
                [lang]="lang"
                [languageList]="languageList"
                (errorList)="processContactErrors($event)"
                [contactType]="applicant" 
                [contactGroupLabelKey]="'label.applicant'">
        </pbv-contact-details>

        <pbv-address-details [showErrors]="showErrors" 
                [addressModel]="applicantAddressModel"
                [lang]="lang"
                [provinceList]="provinceList"
                [countryList]="countryList"
                [canadaDefault]="true"
                (errorList)="processAddressErrors($event)"
                [addrType]="applicant"
                [addrGroupLabelKey]="'label.applicant'">
        </pbv-address-details>

        <div class="form-group row">
            <div class="col-xs-12">
                <label for="isBillingDifferent">
                    <input type="checkbox" id="isBillingDifferent" formControlName="isBillingDifferent" [formControl]="applicantInformationForm.controls['isBillingDifferent'] | formControl"/>
                    <span>{{ "bill.add.check" | translate }}</span>
                </label>
            </div>
        </div>

        <div class="form-group row" *ngIf="applicantInformationForm.controls['isBillingDifferent'].value">
            <div class="col-xs-12">
                <legend>
                    {{"billing.address" | translate}}
                    <sup [id]="helpIndex['billAddIndx'][2]">
                        <a class="fn-lnk mrgn-tp-md" [href]="'#' + helpIndex['billAddIndx'][1]"><span class="wb-inv">{{'instruction'|translate}}</span>{{helpIndex['billAddIndx'][0]}}</a>
                    </sup>
                </legend>

                <div class="row">
                    <div class="form-group col-xs-8">
                        <label for="orgName">
                            <span class="field-name">{{ 'bill.add.org'|translate }}</span>
                            <input maxlength="80" size="80" id="orgName" class="form-control"
                                name="orgName" [formControl]="applicantInformationForm.controls['orgName'] | formControl" />
                        </label>
                    </div>
                </div>

                <pbv-contact-details [showErrors]="showErrors" 
                        [contactDetailsModel]="billingContactModel"
                        [lang]="lang"
                        [languageList]="languageList"
                        (errorList)="processBillingContactErrors($event)"
                        [contactType]="billing" [contactGroupLabelKey]="'label.billing'">
                </pbv-contact-details>

                <pbv-address-details [showErrors]="showErrors" 
                        [addressModel]="billingAddressModel"
                        [lang]="lang"
                        [provinceList]="provinceList"
                        [countryList]="countryList"
                        [canadaDefault]="false"
                        (errorList)="processBillingAddressErrors($event)"
                        [addrType]="billing" [addrGroupLabelKey]="'label.billing'">
                </pbv-address-details>

            </div>
        </div>

    </div>
</div>